### Import libraries, define helper functions, load data

In [1]:
import geopandas as gpd
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

plt.style.use('seaborn-v0_8-darkgrid')
plt.rcParams['figure.figsize'] = (10, 6) # Set default figure size
plt.rcParams['figure.dpi'] = 100 # Set default dots per inch for resolution

print("Libraries imported successfully!")

Libraries imported successfully!

In [2]:
def load_csv(filepath, name, header_row=0, skip_rows_list=None):
    """
    Loads a CSV file (typically Census data) with error handling and basic column cleanup.
    """
    try:
        df = pd.read_csv(filepath, header=header_row, skiprows=skip_rows_list)
        print(f"{name} loaded successfully from: {filepath}")
        return df
    except FileNotFoundError:
        print(f"Error: {name} file not found at {filepath}")
        return None
    except Exception as e:
        print(f"Error loading {name} data from {filepath}: {e}")
        return None

# Function to load GeoJSON/Shapefiles
def load_geo_data(filepath, name):
    try:
        gdf = gpd.read_file(filepath)
        print(f"{name} loaded successfully from: {filepath}")
        return gdf
    except FileNotFoundError:
        print(f"Error: {name} file not found at {filepath}")
        return None
    except Exception as e:
        print(f"Error loading {name} data from {filepath}: {e}")
        return None

print("--- Helper Functions Defined ---")

--- Helper Functions Defined ---

In [3]:
# --- Load COTA Bus Stops Data ---
cota_stops_path = "../data/COTA/Stops_2023_09.shp"
cota_stops_gdf = load_geo_data(cota_stops_path, "COTA Bus Stops")

# --- Load Decennial Census 2020 DHC.P1 Data ---
decennial_dhc_p1_path = "../data/US_Census/DECENNIALDHC2020.P1-Data.csv"
decennial_dhc_p1_df = load_csv(decennial_dhc_p1_path, "Decennial DHC2020.P1", 1)

# --- Load ACS 5-Year Estimate: S0101 (Age and Sex) ---
acs_s0101_path = "../data/US_Census/ACSST5Y2023.S0101-Data.csv"
acs_s0101_df = load_csv(acs_s0101_path, "ACS S0101 (Age and Sex)", 1)

# --- Load ACS 5-Year Estimate: B08101 (Means of Transportation to Work by Age) ---
acs_b08101_path = "../data/US_Census/ACSDT5Y2023.B08101-Data.csv"
acs_b08101_df = load_csv(acs_b08101_path, "ACS B08101 (Transportation by Age)", 1)

# --- Load ACS 5-Year Estimate: B08119 (Means of Transportation to Work by Workers' Earnings) ---
acs_b08119_path = "../data/US_Census/ACSDT5Y2023.B08119-Data.csv"
acs_b08119_df = load_csv(acs_b08119_path, "ACS B08119 (Transportation by Earnings)", 1)

# --- Load ACS 5-Year Estimate: B08122 (Means of Transportation to Work by Poverty Status) ---
acs_b08122_path = "../data/US_Census/ACSDT5Y2023.B08122-Data.csv"
acs_b08122_df = load_csv(acs_b08122_path, "ACS B08122 (Transportation by Poverty)", 1)

# --- Load ACS 5-Year Estimate: B08141 (Means of Transportation to Work by Vehicles Available) ---
acs_b08141_path = "../data/US_Census/ACSDT5Y2023.B08141-Data.csv"
acs_b08141_df = load_csv(acs_b08141_path, "ACS B08141 (Vehicles Available)", 1)

# --- Load MORPC TAZ Forecast Data ---
morpc_taz_path = "../data/MORPC/TAZ20_OfficialMTP2024_Forecasts.shp"
morpc_taz_gdf = load_geo_data(morpc_taz_path, "MORPC TAZ Forecasts")

# --- Load City of Columbus Building Permits Data ---
columbus_permits_path = "../data/City_of_Columbus/BuildingPermits.shp"
columbus_permits_gdf = load_geo_data(columbus_permits_path, "Columbus Building Permits")

# --- Load FTA Monthly Ridership Data ---
fta_ridership_path = "../data/FTA/May2025_RawMonthlyRidership.xlsx"
try:
    fta_ridership_df = pd.read_excel(fta_ridership_path, skiprows=0)
    print(f"FTA Monthly Ridership data loaded successfully from: {fta_ridership_path}")
except FileNotFoundError:
    print(f"Error: FTA Monthly Ridership file not found at {fta_ridership_path}")
except Exception as e:
    print(f"Error loading FTA Monthly Ridership data from {fta_ridership_path}: {e}")
    
print("\n--- All Data Loading Attempts Complete ---")

COTA Bus Stops loaded successfully from: ../data/COTA/Stops_2023_09.shp
Decennial DHC2020.P1 loaded successfully from: ../data/US_Census/DECENNIALDHC2020.P1-Data.csv
ACS S0101 (Age and Sex) loaded successfully from: ../data/US_Census/ACSST5Y2023.S0101-Data.csv
ACS B08101 (Transportation by Age) loaded successfully from: ../data/US_Census/ACSDT5Y2023.B08101-Data.csv
ACS B08119 (Transportation by Earnings) loaded successfully from: ../data/US_Census/ACSDT5Y2023.B08119-Data.csv
ACS B08122 (Transportation by Poverty) loaded successfully from: ../data/US_Census/ACSDT5Y2023.B08122-Data.csv
ACS B08141 (Vehicles Available) loaded successfully from: ../data/US_Census/ACSDT5Y2023.B08141-Data.csv
MORPC TAZ Forecasts loaded successfully from: ../data/MORPC/TAZ20_OfficialMTP2024_Forecasts.shp
Columbus Building Permits loaded successfully from: ../data/City_of_Columbus/BuildingPermits.shp
FTA Monthly Ridership data loaded successfully from: ../data/FTA/May2025_RawMonthlyRidership.xlsx

--- All Data Loading Attempts Complete ---

## Data cleaning

#### Cleaning COTA bus stops data

In [4]:
print("\n--- Initial Inspection: COTA Stops GDF ---")
print(cota_stops_gdf.columns.tolist()) # List all raw column names

print("\nRaw Data Types and Non-Null Counts:")
print(cota_stops_gdf.info()) # Get info for raw DataFrame

print("\nMissing Values:")
print(cota_stops_gdf.isnull().sum()) # Count missing values per column

print("\nFirst 5 rows of ACS S0101 Raw Data:")
print(cota_stops_gdf.head())

--- Initial Inspection: COTA Stops GDF ---
['StopId', 'StopAbbr', 'StopName', 'OnStreet', 'AtStreet', 'InService_', 'Shelter', 'Lighting', 'Garbage', 'Ons_2023_0', 'Offs_2023_', 'Jurisdicti', 'Ons_2023_1', 'Offs_20231', 'Ons_2023_2', 'Offs_20232', 'Amenity_Ow', 'GlobalID', 'Ons_2024_0', 'Offs_2024_', 'Lines_Serv', 'Ons_2024_1', 'Offs_20241', 'Ons_2024_2', 'Offs_20242', 'geometry']

Raw Data Types and Non-Null Counts:
<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 2966 entries, 0 to 2965
Data columns (total 26 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   StopId      2966 non-null   int64
 1   StopAbbr    2966 non-null   object
 2   StopName    2966 non-null   object
 3   OnStreet    2966 non-null   object
 4   AtStreet    2749 non-null   object
 5   InService_  2966 non-null   object
 6   Shelter     2966 non-null   object
 7   Lighting    2965 non-null   object
 8   Garbage     2966 non-null   object
 9   Ons_2023_0  2966 non-null   int64
 10  Offs_2023_  2966 non-null   int64
 11  Jurisdicti  2965 non-null   object
 12  Ons_2023_1  2966 non-null   int64
 13  Offs_20231  2966 non-null   int64
 14  Ons_2023_2  2966 non-null   int64
 15  Offs_20232  2966 non-null   int64
 16  Amenity_Ow  2965 non-null   object
 17  GlobalID    2966 non-null   object
 18  Ons_2024_0  2966 non-null   int64
 19  Offs_2024_  2966 non-null   int64
 20  Lines_Serv  2964 non-null   object
 21  Ons_2024_1  2966 non-null   float64
 22  Offs_20241  2966 non-null   float64
 23  Ons_2024_2  2966 non-null   float64
 24  Offs_20242  2966 non-null   float64
 25  geometry    2966 non-null   geometry
dtypes: float64(4), geometry(1), int64(9), object(12)
memory usage: 602.6+ KB
None

Missing Values:
StopId          0
StopAbbr        0
StopName        0
OnStreet        0
AtStreet      217
InService_      0
Shelter         0
Lighting        1
Garbage         0
Ons_2023_0      0
Offs_2023_      0
Jurisdicti      1
Ons_2023_1      0
Offs_20231      0
Ons_2023_2      0
Offs_20232      0
Amenity_Ow      1
GlobalID        0
Ons_2024_0      0
Offs_2024_      0
Lines_Serv      2
Ons_2024_1      0
Offs_20241      0
Ons_2024_2      0
Offs_20242      0
geometry        0
dtype: int64

First 5 rows of ACS S0101 Raw Data:
   StopId  StopAbbr                         StopName  \
0    8076  HERCOLWB   HERITAGE CLUB DR & COLONIAL DR
1    6842   MAISCIS        MAIN ST & SCIOTO DARBY RD
2    8077   HERMAIE       HERITAGE CLUB DR & MAIN ST
3    6841   MAISCIN  MAIN ST & SCIOTO DARBY CREEK RD
4    3334   MAILUTS              MAIN ST & LUTHER LN

                         OnStreet          AtStreet InService_ Shelter  \
0  HERITAGE CLUB DR & COLONIAL DR              None          1      No
1                         MAIN ST   SCIOTO DARBY RD          1     Yes
2                HERITAGE CLUB DR  HILLIARD ROME RD          1      No
3                         MAIN ST   SCIOTO DARBY RD          1      No
4                         MAIN ST         LUTHER LN          1      No

  Lighting Garbage  Ons_2023_0  ...  Amenity_Ow  \
0       No       0           3  ...  COTA Owned
1       No       1          10  ...  COTA Owned
2       No       0           7  ...  COTA Owned
3       No       0           4  ...  COTA Owned
4       No       0           4  ...  COTA Owned

                               GlobalID  Ons_2024_0  Offs_2024_  \
0  07992ba9-fa51-4db0-8f74-5e41fbb4842a           4           4
1  1f0566e6-206c-4cc0-8c5c-3a61b12ad209          14          13
2  d4cb86cb-777a-4f92-9ec8-6252caff0594           6           6
3  d09443d3-990c-4dd2-98e0-7727e20cac77           6           7
4  6b6c9bd5-86ce-41aa-85ec-781e31c510c2           2           0

      Lines_Serv  Ons_2024_1 Offs_20241 Ons_2024_2  Offs_20242  \
0       032, 071         5.5        5.5        4.8         6.2
1  021, 032, 071        16.2       13.1       17.2        12.9
2       032, 071         9.0        7.2       10.2         8.8
3  021, 032, 071         6.8        8.1        6.2         7.9
4       021, 071         2.5        0.9        2.3         1.1

                     geometry
0  POINT (-83.16265 40.02516)
1  POINT (-83.16106 40.02766)
2  POINT (-83.16098 40.02215)
3  POINT (-83.16076 40.02728)
4  POINT (-83.16027 40.02259)

[5 rows x 26 columns]

In [5]:
# --- Clean COTA Bus Stops Data ---
print("--- Cleaning COTA Bus Stops Data ---")
if cota_stops_gdf is not None:
    # 1. Standardize All Column Names
    cota_stops_gdf = cota_stops_gdf.rename(columns={
        'StopId': 'stop_id',
        'StopAbbr': 'stop_abbr',
        'StopName': 'stop_name',
        'OnStreet': 'on_street',
        'AtStreet': 'at_street',
        'InService_': 'in_service',
        'Jurisdicti': 'jurisdiction',
        'Amenity_Ow': 'amenity_owner',
        'Lines_Serv': 'lines_served',
        
        'Shelter': 'has_shelter',
        'Lighting': 'has_lighting',
        'Garbage': 'has_garbage_can',

        # ------- Ridership Columns (Onboards) -------
        # Avg Daily Onboardings January 2023 Trimester
        'Ons_2023_0': 'onboards_2023_T1',
        # Avg Daily Onboardings May 2023 Trimester
        'Ons_2023_1': 'onboards_2023_T2',
        # Avg Daily Onboardings September 2023 Trimester
        'Ons_2023_2': 'onboards_2023_T3',
        
        # Avg Daily Onboardings January 2024 Trimester
        'Ons_2024_0': 'onboards_2024_T1',
        # Avg Daily Onboardings May 2024 Trimester
        'Ons_2024_1': 'onboards_2024_T2',
        # Avg Daily Onboardings September 2024 Trimester
        'Ons_2024_2': 'onboards_2024_T3',

        # ------- Ridership Columns (Offboards) -------
        # Avg Daily Alightings January 2023 Trimester
        'Offs_2023_': 'offboards_2023_T1',
        # Avg Daily Alightings May 2023 Trimester
        'Offs_20231': 'offboards_2023_T2',
        # Avg Daily Alightings September 2023 Trimester
        'Offs_20232': 'offboards_2023_T3',

        # Avg Daily Alightings January 2024 Trimester
        'Offs_2024_': 'offboards_2024_T1',
        # Avg Daily Alightings May 2024 Trimester
        'Offs_20241': 'offboards_2024_T2',
        # Avg Daily Alightings September 2024 Trimester
        'Offs_20242': 'offboards_2024_T3',
    })
    print("Columns renamed.")

    # 2. Convert Amenity Columns to Binary
    # For 'has_shelter'
    cota_stops_gdf['has_shelter'] = cota_stops_gdf['has_shelter'].map({'Yes': 1, 'No': 0}).fillna(0).astype(int)

    # For 'has_lighting'
    cota_stops_gdf['has_lighting'] = cota_stops_gdf['has_lighting'].replace({'Solar': 'Yes', 'Other': 'Yes', 'CMAX': 'Yes'})
    cota_stops_gdf['has_lighting'] = cota_stops_gdf['has_lighting'].map({'Yes': 1, 'No': 0}).fillna(0).astype(int)

    # For 'has_garbage_can': Convert to int
    cota_stops_gdf['has_garbage_can'] = pd.to_numeric(cota_stops_gdf['has_garbage_can'], errors='coerce').fillna(0).astype(int)
    print("Amenity columns converted to 0/1.")

    # 3. Handle Missing Values
    # Fill 'at_street' with 'Unknown' for stops not at intersections
    cota_stops_gdf['at_street'] = cota_stops_gdf['at_street'].fillna('Unknown')
    
    # Fill remaining small number of missing values for categorical columns with 'Unknown'
    for col in ['jurisdiction', 'lines_served']:
        if cota_stops_gdf[col].isnull().any(): # Only process if missing values exist
            cota_stops_gdf[col] = cota_stops_gdf[col].fillna('Unknown')
    print("Missing values handled.")

    # 4. Convert StopId to object
    cota_stops_gdf['stop_id'] = cota_stops_gdf['stop_id'].astype(str)
    print("stop_id converted to string.")

    # 5. Drop Unnecessary Columns
    cota_stops_gdf = cota_stops_gdf.drop(columns=['amenity_owner'])
    cota_stops_gdf = cota_stops_gdf.drop(columns=['in_service'])
    cota_stops_gdf = cota_stops_gdf.drop(columns=['GlobalID'])
    print("Dropped unneccesary columns.")

    print("\n--- COTA Bus Stops Data Cleaned ---")
    print("Cleaned COTA Stops DataFrame Info (verify types and non-nulls):")
    print(cota_stops_gdf.info())
    print("\nCleaned COTA Stops Head (first few rows to verify cleanliness):")
    print(cota_stops_gdf.head())
    print("\nUnique values in final cleaned amenity columns (should be [0, 1]):")
    print("has_shelter:", cota_stops_gdf['has_shelter'].unique())
    print("has_lighting:", cota_stops_gdf['has_lighting'].unique())
    print("has_garbage_can:", cota_stops_gdf['has_garbage_can'].unique())

else:
    print("COTA Bus Stops GeoDataFrame not loaded. Cleaning skipped.")

--- Cleaning COTA Bus Stops Data ---
Columns renamed.
Amenity columns converted to 0/1.
Missing values handled.
stop_id converted to string.
Dropped unneccesary columns.

--- COTA Bus Stops Data Cleaned ---
Cleaned COTA Stops DataFrame Info (verify types and non-nulls):
<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 2966 entries, 0 to 2965
Data columns (total 23 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   stop_id            2966 non-null   object
 1   stop_abbr          2966 non-null   object
 2   stop_name          2966 non-null   object
 3   on_street          2966 non-null   object
 4   at_street          2966 non-null   object
 5   has_shelter        2966 non-null   int32
 6   has_lighting       2966 non-null   int32
 7   has_garbage_can    2966 non-null   int32
 8   onboards_2023_T1   2966 non-null   int64
 9   offboards_2023_T1  2966 non-null   int64
 10  jurisdiction       2966 non-null   object
 11  onboards_2023_T2   2966 non-null   int64
 12  offboards_2023_T2  2966 non-null   int64
 13  onboards_2023_T3   2966 non-null   int64
 14  offboards_2023_T3  2966 non-null   int64
 15  onboards_2024_T1   2966 non-null   int64
 16  offboards_2024_T1  2966 non-null   int64
 17  lines_served       2966 non-null   object
 18  onboards_2024_T2   2966 non-null   float64
 19  offboards_2024_T2  2966 non-null   float64
 20  onboards_2024_T3   2966 non-null   float64
 21  offboards_2024_T3  2966 non-null   float64
 22  geometry           2966 non-null   geometry
dtypes: float64(4), geometry(1), int32(3), int64(8), object(7)
memory usage: 498.3+ KB
None

Cleaned COTA Stops Head (first few rows to verify cleanliness):
  stop_id stop_abbr                        stop_name  \
0    8076  HERCOLWB   HERITAGE CLUB DR & COLONIAL DR
1    6842   MAISCIS        MAIN ST & SCIOTO DARBY RD
2    8077   HERMAIE       HERITAGE CLUB DR & MAIN ST
3    6841   MAISCIN  MAIN ST & SCIOTO DARBY CREEK RD
4    3334   MAILUTS              MAIN ST & LUTHER LN

                        on_street         at_street  has_shelter  \
0  HERITAGE CLUB DR & COLONIAL DR           Unknown            0
1                         MAIN ST   SCIOTO DARBY RD            1
2                HERITAGE CLUB DR  HILLIARD ROME RD            0
3                         MAIN ST   SCIOTO DARBY RD            0
4                         MAIN ST         LUTHER LN            0

   has_lighting  has_garbage_can  onboards_2023_T1  offboards_2023_T1  ...  \
0             0                0                 3                  4  ...
1             0                1                10                  8  ...
2             0                0                 7                  5  ...
3             0                0                 4                  8  ...
4             0                0                 4                  1  ...

  onboards_2023_T3  offboards_2023_T3  onboards_2024_T1  offboards_2024_T1  \
0                5                  5                 4                  4
1               11                  9                14                 13
2               10                  8                 6                  6
3                5                  6                 6                  7
4                2                  1                 2                  0

    lines_served  onboards_2024_T2  offboards_2024_T2 onboards_2024_T3  \
0       032, 071               5.5                5.5              4.8
1  021, 032, 071              16.2               13.1             17.2
2       032, 071               9.0                7.2             10.2
3  021, 032, 071               6.8                8.1              6.2
4       021, 071               2.5                0.9              2.3

   offboards_2024_T3                    geometry
0                6.2  POINT (-83.16265 40.02516)
1               12.9  POINT (-83.16106 40.02766)
2                8.8  POINT (-83.16098 40.02215)
3                7.9  POINT (-83.16076 40.02728)
4                1.1  POINT (-83.16027 40.02259)

[5 rows x 23 columns]

Unique values in final cleaned amenity columns (should be [0, 1]):
has_shelter: [0 1]
has_lighting: [0 1]
has_garbage_can: [0 1]

#### Cleaning ACS_S0101 (Age and Sex)

In [ ]:
print("\n--- Initial Inspection: ACS S0101 ---")
print("\nACS S0101 Raw Columns:")
print(acs_s0101_df.columns.tolist()) # List all raw column names

print("\nACS S0101 Raw Data Types and Non-Null Counts:")
print(acs_s0101_df.info()) # Get info for raw DataFrame

print("\nMissing Values in ACS S0101 Raw Data:")
print(acs_s0101_df.isnull().sum()) # Count missing values per column

print("\nFirst 5 rows of ACS S0101 Raw Data:")
print(acs_s0101_df.head())

In [7]:
# --- Clean ACS S0101 (Age and Sex) Data ---
print("--- Cleaning ACS S0101 Data ---")
if acs_s0101_df is not None:
    # IMPORTANT: Create a copy to work on, preserving the original loaded DataFrame
    acs_s0101_cleaned_df = acs_s0101_df.copy() 

    # Drop the 'Unnamed' column if it exists and is empty
    if 'Unnamed: 458' in acs_s0101_cleaned_df.columns and acs_s0101_cleaned_df['Unnamed: 458'].isnull().all():
        acs_s0101_cleaned_df = acs_s0101_cleaned_df.drop(columns=['Unnamed: 458'])
        print("Dropped 'Unnamed: 458' column.")

    # 1. Drop Margin of Error, Percent-based Estimates, and Allocation columns FIRST
    # These columns are not needed for our direct analysis/modeling estimates.
    cols_to_drop_initial = [col for col in acs_s0101_cleaned_df.columns if 
                            'Margin of Error' in col or 
                            'PERCENT ALLOCATED' in col or
                            'Estimate!!Percent' in col # Catches 'Estimate!!Percent!!Total population' etc.
                           ]
    acs_s0101_cleaned_df = acs_s0101_cleaned_df.drop(columns=cols_to_drop_initial)
    print(f"Dropped {len(cols_to_drop_initial)} error/percentage/allocation columns initially.")

    # --- Direct Mapping for S0101 Column Renaming (HIGHLY ROBUST) ---
    # This dictionary maps the EXACT original column names (after load_csv's basic cleanup)
    # to your desired clean, snake_case names. This guarantees a match.
    # We obtained these exact names from your 'Raw ACS S0101 DataFrame Columns after load_csv' output.
    s0101_column_rename_map = {
        'Geography': 'geo_id',
        'Geographic Area Name': 'geographic_area_name',
        'Estimate!!Total!!Total population': 'pop_total',
        'Estimate!!Total!!Total population!!AGE!!Under 5 years': 'pop_age_under_5',
        'Estimate!!Total!!Total population!!AGE!!5 to 9 years': 'pop_age_5_to_9',
        'Estimate!!Total!!Total population!!AGE!!10 to 14 years': 'pop_age_10_to_14',
        'Estimate!!Total!!Total population!!AGE!!15 to 19 years': 'pop_age_15_to_19',
        'Estimate!!Total!!Total population!!AGE!!20 to 24 years': 'pop_age_20_to_24',
        'Estimate!!Total!!Total population!!AGE!!25 to 29 years': 'pop_age_25_to_29',
        'Estimate!!Total!!Total population!!AGE!!30 to 34 years': 'pop_age_30_to_34',
        'Estimate!!Total!!Total population!!AGE!!35 to 39 years': 'pop_age_35_to_39',
        'Estimate!!Total!!Total population!!AGE!!40 to 44 years': 'pop_age_40_to_44',
        'Estimate!!Total!!Total population!!AGE!!45 to 49 years': 'pop_age_45_to_49',
        'Estimate!!Total!!Total population!!AGE!!50 to 54 years': 'pop_age_50_to_54',
        'Estimate!!Total!!Total population!!AGE!!55 to 59 years': 'pop_age_55_to_59',
        'Estimate!!Total!!Total population!!AGE!!60 to 64 years': 'pop_age_60_to_64',
        'Estimate!!Total!!Total population!!AGE!!65 to 69 years': 'pop_age_65_to_69',
        'Estimate!!Total!!Total population!!AGE!!70 to 74 years': 'pop_age_70_to_74',
        'Estimate!!Total!!Total population!!AGE!!75 to 79 years': 'pop_age_75_to_79',
        'Estimate!!Total!!Total population!!AGE!!80 to 84 years': 'pop_age_80_to_84',
        'Estimate!!Total!!Total population!!AGE!!85 years and over': 'pop_age_85_plus',
        'Estimate!!Total!!Total population!!SELECTED AGE CATEGORIES!!5 to 14 years': 'pop_selected_age_5_to_14',
        'Estimate!!Total!!Total population!!SELECTED AGE CATEGORIES!!15 to 17 years': 'pop_selected_age_15_to_17',
        'Estimate!!Total!!Total population!!SELECTED AGE CATEGORIES!!Under 18 years': 'pop_selected_age_under_18',
        'Estimate!!Total!!Total population!!SELECTED AGE CATEGORIES!!18 to 24 years': 'pop_selected_age_18_to_24',
        'Estimate!!Total!!Total population!!SELECTED AGE CATEGORIES!!15 to 44 years': 'pop_selected_age_15_to_44',
        'Estimate!!Total!!Total population!!SELECTED AGE CATEGORIES!!16 years and over': 'pop_selected_age_16_plus',
        'Estimate!!Total!!Total population!!SELECTED AGE CATEGORIES!!18 years and over': 'pop_selected_age_18_plus',
        'Estimate!!Total!!Total population!!SELECTED AGE CATEGORIES!!21 years and over': 'pop_selected_age_21_plus',
        'Estimate!!Total!!Total population!!SELECTED AGE CATEGORIES!!60 years and over': 'pop_selected_age_60_plus',
        'Estimate!!Total!!Total population!!SELECTED AGE CATEGORIES!!62 years and over': 'pop_selected_age_62_plus',
        'Estimate!!Total!!Total population!!SELECTED AGE CATEGORIES!!65 years and over': 'pop_selected_age_65_plus',
        'Estimate!!Total!!Total population!!SELECTED AGE CATEGORIES!!75 years and over': 'pop_selected_age_75_plus',
        'Estimate!!Total!!Total population!!SUMMARY INDICATORS!!Median age (years)': 'summary_ind_median_age_years',
        'Estimate!!Total!!Total population!!SUMMARY INDICATORS!!Sex ratio (males per 100 females)': 'summary_ind_sex_ratio',
        'Estimate!!Total!!Total population!!SUMMARY INDICATORS!!Age dependency ratio': 'summary_ind_age_dependency_ratio',
        'Estimate!!Total!!Total population!!SUMMARY INDICATORS!!Old-age dependency ratio': 'summary_ind_old_age_dependency_ratio',
        'Estimate!!Total!!Total population!!SUMMARY INDICATORS!!Child dependency ratio': 'summary_ind_child_dependency_ratio',
        'Estimate!!Male!!Total population': 'male_pop_total',
        'Estimate!!Female!!Total population': 'female_pop_total'
    }

    # Apply the direct renaming. Only rename columns that exist in our DataFrame.
    acs_s0101_cleaned_df = acs_s0101_cleaned_df.rename(columns={k: v for k, v in s0101_column_rename_map.items() if k in acs_s0101_cleaned_df.columns})
    print("Columns renamed using direct mapping.")

    # 2. Convert all relevant population columns to numeric and fill NaNs
    # Iterate through all columns that are *now* in the DataFrame after renaming,
    # and convert them to numeric, excluding the identifier columns.
    for col in acs_s0101_cleaned_df.columns:
        if col not in ['geo_id', 'geographic_area_name']:
            acs_s0101_cleaned_df[col] = pd.to_numeric(acs_s0101_cleaned_df[col], errors='coerce')
    print("All relevant population columns converted to numeric.")

    # Handle any remaining NaN values (e.g., from (X) suppressions) - fill with 0
    acs_s0101_cleaned_df = acs_s0101_cleaned_df.fillna(0)
    print("NaN values filled with 0.")
    
    # 3. Feature Engineering: Create Aggregated Age Groups by Summing Granular Ones
    # This is the step your insight highlighted!
    print("\n--- Performing Age Group Feature Engineering ---")

    # Example: 5 to 14 years = 5 to 9 years + 10 to 14 years
    if 'pop_age_5_to_9' in acs_s0101_cleaned_df.columns and 'pop_age_10_to_14' in acs_s0101_cleaned_df.columns:
        acs_s0101_cleaned_df['pop_age_5_to_14'] = acs_s0101_cleaned_df['pop_age_5_to_9'] + acs_s0101_cleaned_df['pop_age_10_to_14']
        print("Created 'pop_age_5_to_14' column.")
    else:
        print("Could not create 'pop_age_5_to_14': required granular columns missing.")

    # Define the final list of columns we want to keep after all cleaning and feature engineering
    # This list includes the directly renamed columns AND the newly engineered columns.
    final_s0101_cols_to_keep = [
        'geo_id',
        'geographic_area_name',
        'pop_total',
        'pop_age_under_5',
        'pop_age_5_to_14',            # Newly created
        'pop_age_15_to_19',
        'pop_age_20_to_24',
        'pop_age_25_to_29',
        'pop_age_30_to_34',
        'pop_age_35_to_39',
        'pop_age_40_to_44',
        'pop_age_45_to_49',
        'pop_age_50_to_54',
        'pop_age_55_to_59',
        'pop_age_60_to_64',
        'pop_age_65_to_69',
        'pop_age_70_to_74',
        'pop_age_75_to_79',
        'pop_age_80_to_84',
        'pop_age_85_plus',
        'pop_selected_age_under_18',
        'pop_selected_age_18_to_24',
        'pop_selected_age_15_to_44',
        'pop_selected_age_16_plus',
        'pop_selected_age_18_plus',
        'pop_selected_age_21_plus',
        'pop_selected_age_60_plus',
        'pop_selected_age_62_plus',
        'pop_selected_age_65_plus',
        'pop_selected_age_75_plus',
        'summary_ind_median_age_years',
        'summary_ind_sex_ratio',
        'summary_ind_age_dependency_ratio',
        'summary_ind_old_age_dependency_ratio',
        'summary_ind_child_dependency_ratio',
        'male_pop_total',
        'female_pop_total' 
    ]

    # Filter to keep only the final desired columns.
    acs_s0101_cleaned_df = acs_s0101_cleaned_df[acs_s0101_cleaned_df.columns.intersection(final_s0101_cols_to_keep)].copy()
    print(f"Filtered to {len(acs_s0101_cleaned_df.columns)} final key population columns.")


    print("\n--- ACS S0101 Data Cleaned ---")
    print("Cleaned ACS S0101 DataFrame Info:")
    print(acs_s0101_cleaned_df.info())
    print("\nCleaned ACS S0101 Head:")
    print(acs_s0101_cleaned_df.head())
    
else:
    print("ACS S0101 DataFrame not loaded. Cleaning skipped.")

--- Cleaning ACS S0101 Data ---
Dropped 'Unnamed: 458' column.
Dropped 348 error/percentage/allocation columns initially.
Columns renamed using direct mapping.
All relevant population columns converted to numeric.
NaN values filled with 0.

--- Performing Age Group Feature Engineering ---
Created 'pop_age_5_to_14' column.
Filtered to 37 final key population columns.

--- ACS S0101 Data Cleaned ---
Cleaned ACS S0101 DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 328 entries, 0 to 327
Data columns (total 37 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   geo_id                                328 non-null    object
 1   geographic_area_name                  328 non-null    object
 2   pop_total                             328 non-null    int64
 3   pop_age_under_5                       328 non-null    int64
 4   pop_age_15_to_19                      328 non-null    int64
 5   pop_age_20_to_24                      328 non-null    int64
 6   pop_age_25_to_29                      328 non-null    int64
 7   pop_age_30_to_34                      328 non-null    int64
 8   pop_age_35_to_39                      328 non-null    int64
 9   pop_age_40_to_44                      328 non-null    int64
 10  pop_age_45_to_49                      328 non-null    int64
 11  pop_age_50_to_54                      328 non-null    int64
 12  pop_age_55_to_59                      328 non-null    int64
 13  pop_age_60_to_64                      328 non-null    int64
 14  pop_age_65_to_69                      328 non-null    int64
 15  pop_age_70_to_74                      328 non-null    int64
 16  pop_age_75_to_79                      328 non-null    int64
 17  pop_age_80_to_84                      328 non-null    int64
 18  pop_age_85_plus                       328 non-null    int64
 19  pop_selected_age_under_18             328 non-null    int64
 20  pop_selected_age_18_to_24             328 non-null    int64
 21  pop_selected_age_15_to_44             328 non-null    int64
 22  pop_selected_age_16_plus              328 non-null    int64
 23  pop_selected_age_18_plus              328 non-null    int64
 24  pop_selected_age_21_plus              328 non-null    int64
 25  pop_selected_age_60_plus              328 non-null    int64
 26  pop_selected_age_62_plus              328 non-null    int64
 27  pop_selected_age_65_plus              328 non-null    int64
 28  pop_selected_age_75_plus              328 non-null    int64
 29  summary_ind_median_age_years          328 non-null    float64
 30  summary_ind_sex_ratio                 328 non-null    float64
 31  summary_ind_age_dependency_ratio      328 non-null    float64
 32  summary_ind_old_age_dependency_ratio  328 non-null    float64
 33  summary_ind_child_dependency_ratio    328 non-null    float64
 34  male_pop_total                        328 non-null    int64
 35  female_pop_total                      328 non-null    int64
 36  pop_age_5_to_14                       328 non-null    int64
dtypes: float64(5), int64(30), object(2)
memory usage: 94.9+ KB
None

Cleaned ACS S0101 Head:
                 geo_id                      geographic_area_name  pop_total  \
0  1400000US39049000110  Census Tract 1.10; Franklin County; Ohio       3354
1  1400000US39049000120  Census Tract 1.20; Franklin County; Ohio       3307
2  1400000US39049000210  Census Tract 2.10; Franklin County; Ohio       3116
3  1400000US39049000220  Census Tract 2.20; Franklin County; Ohio       4183
4  1400000US39049000310  Census Tract 3.10; Franklin County; Ohio       2887

   pop_age_under_5  pop_age_15_to_19  pop_age_20_to_24  pop_age_25_to_29  \
0              226                81                56               262
1               99               187                19               131
2               99                68                55               211
3              205                60               119               277
4              175                26                85               335

   pop_age_30_to_34  pop_age_35_to_39  pop_age_40_to_44  ...  \
0               329               275               274  ...
1               196               227               316  ...
2               323               225               276  ...
3               363               342               283  ...
4               318               232               188  ...

   pop_selected_age_65_plus  pop_selected_age_75_plus  \
0                       723                       175
1                       829                       343
2                       575                       147
3                      1019                       433
4                       410                       201

   summary_ind_median_age_years  summary_ind_sex_ratio  \
0                          45.6                  100.5
1                          48.0                   97.6
2                          44.5                  105.0
3                          46.0                   93.0
4                          35.7                   92.2

   summary_ind_age_dependency_ratio  summary_ind_old_age_dependency_ratio  \
0                              52.1                                  32.8
1                              67.1                                  41.9
2                              51.6                                  28.0
3                              63.0                                  39.7
4                              57.5                                  22.4

   summary_ind_child_dependency_ratio  male_pop_total  female_pop_total  \
0                                19.3            1681              1673
1                                25.2            1633              1674
2                                23.6            1596              1520
3                                23.3            2016              2167
4                                35.1            1385              1502

   pop_age_5_to_14
0              130
1              219
2              331
3              357
4              469

[5 rows x 37 columns]

C:\Users\erolz\AppData\Local\Temp\ipykernel_39920\677997387.py:91: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  acs_s0101_cleaned_df['pop_age_5_to_14'] = acs_s0101_cleaned_df['pop_age_5_to_9'] + acs_s0101_cleaned_df['pop_age_10_to_14']

#### Cleaning ACS_B08141 (Vehicles Available Data)

In [8]:
# --- Inspect ACS B08141 (Vehicles Available) Data ---
print("\nACS B08141 Columns:")
print(acs_b08141_df.columns.tolist()) # List all column names

print("\nACS B08141 Data Types and Non-Null Counts:")
print(acs_b08141_df.info()) # Get info again for clarity

print("\nMissing Values in ACS B08141:")
print(acs_b08141_df.isnull().sum()) # Count missing values per column

print("\nFirst 5 rows of ACS B08141:")
print(acs_b08141_df.head())

ACS B08141 Columns:
['Geography', 'Geographic Area Name', 'Estimate!!Total:', 'Margin of Error!!Total:', 'Estimate!!Total:!!No vehicle available', 'Margin of Error!!Total:!!No vehicle available', 'Estimate!!Total:!!1 vehicle available', 'Margin of Error!!Total:!!1 vehicle available', 'Estimate!!Total:!!2 vehicles available', 'Margin of Error!!Total:!!2 vehicles available', 'Estimate!!Total:!!3 or more vehicles available', 'Margin of Error!!Total:!!3 or more vehicles available', 'Estimate!!Total:!!Car, truck, or van - drove alone:', 'Margin of Error!!Total:!!Car, truck, or van - drove alone:', 'Estimate!!Total:!!Car, truck, or van - drove alone:!!No vehicle available', 'Margin of Error!!Total:!!Car, truck, or van - drove alone:!!No vehicle available', 'Estimate!!Total:!!Car, truck, or van - drove alone:!!1 vehicle available', 'Margin of Error!!Total:!!Car, truck, or van - drove alone:!!1 vehicle available', 'Estimate!!Total:!!Car, truck, or van - drove alone:!!2 vehicles available', 'Margin of Error!!Total:!!Car, truck, or van - drove alone:!!2 vehicles available', 'Estimate!!Total:!!Car, truck, or van - drove alone:!!3 or more vehicles available', 'Margin of Error!!Total:!!Car, truck, or van - drove alone:!!3 or more vehicles available', 'Estimate!!Total:!!Car, truck, or van - carpooled:', 'Margin of Error!!Total:!!Car, truck, or van - carpooled:', 'Estimate!!Total:!!Car, truck, or van - carpooled:!!No vehicle available', 'Margin of Error!!Total:!!Car, truck, or van - carpooled:!!No vehicle available', 'Estimate!!Total:!!Car, truck, or van - carpooled:!!1 vehicle available', 'Margin of Error!!Total:!!Car, truck, or van - carpooled:!!1 vehicle available', 'Estimate!!Total:!!Car, truck, or van - carpooled:!!2 vehicles available', 'Margin of Error!!Total:!!Car, truck, or van - carpooled:!!2 vehicles available', 'Estimate!!Total:!!Car, truck, or van - carpooled:!!3 or more vehicles available', 'Margin of Error!!Total:!!Car, truck, or van - carpooled:!!3 or more vehicles available', 'Estimate!!Total:!!Public transportation (excluding taxicab):', 'Margin of Error!!Total:!!Public transportation (excluding taxicab):', 'Estimate!!Total:!!Public transportation (excluding taxicab):!!No vehicle available', 'Margin of Error!!Total:!!Public transportation (excluding taxicab):!!No vehicle available', 'Estimate!!Total:!!Public transportation (excluding taxicab):!!1 vehicle available', 'Margin of Error!!Total:!!Public transportation (excluding taxicab):!!1 vehicle available', 'Estimate!!Total:!!Public transportation (excluding taxicab):!!2 vehicles available', 'Margin of Error!!Total:!!Public transportation (excluding taxicab):!!2 vehicles available', 'Estimate!!Total:!!Public transportation (excluding taxicab):!!3 or more vehicles available', 'Margin of Error!!Total:!!Public transportation (excluding taxicab):!!3 or more vehicles available', 'Estimate!!Total:!!Walked:', 'Margin of Error!!Total:!!Walked:', 'Estimate!!Total:!!Walked:!!No vehicle available', 'Margin of Error!!Total:!!Walked:!!No vehicle available', 'Estimate!!Total:!!Walked:!!1 vehicle available', 'Margin of Error!!Total:!!Walked:!!1 vehicle available', 'Estimate!!Total:!!Walked:!!2 vehicles available', 'Margin of Error!!Total:!!Walked:!!2 vehicles available', 'Estimate!!Total:!!Walked:!!3 or more vehicles available', 'Margin of Error!!Total:!!Walked:!!3 or more vehicles available', 'Estimate!!Total:!!Taxicab, motorcycle, bicycle, or other means:', 'Margin of Error!!Total:!!Taxicab, motorcycle, bicycle, or other means:', 'Estimate!!Total:!!Taxicab, motorcycle, bicycle, or other means:!!No vehicle available', 'Margin of Error!!Total:!!Taxicab, motorcycle, bicycle, or other means:!!No vehicle available', 'Estimate!!Total:!!Taxicab, motorcycle, bicycle, or other means:!!1 vehicle available', 'Margin of Error!!Total:!!Taxicab, motorcycle, bicycle, or other means:!!1 vehicle available', 'Estimate!!Total:!!Taxicab, motorcycle, bicycle, or other means:!!2 vehicles available', 'Margin of Error!!Total:!!Taxicab, motorcycle, bicycle, or other means:!!2 vehicles available', 'Estimate!!Total:!!Taxicab, motorcycle, bicycle, or other means:!!3 or more vehicles available', 'Margin of Error!!Total:!!Taxicab, motorcycle, bicycle, or other means:!!3 or more vehicles available', 'Estimate!!Total:!!Worked from home:', 'Margin of Error!!Total:!!Worked from home:', 'Estimate!!Total:!!Worked from home:!!No vehicle available', 'Margin of Error!!Total:!!Worked from home:!!No vehicle available', 'Estimate!!Total:!!Worked from home:!!1 vehicle available', 'Margin of Error!!Total:!!Worked from home:!!1 vehicle available', 'Estimate!!Total:!!Worked from home:!!2 vehicles available', 'Margin of Error!!Total:!!Worked from home:!!2 vehicles available', 'Estimate!!Total:!!Worked from home:!!3 or more vehicles available', 'Margin of Error!!Total:!!Worked from home:!!3 or more vehicles available', 'Unnamed: 72']

ACS B08141 Data Types and Non-Null Counts:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 328 entries, 0 to 327
Data columns (total 73 columns):
 #   Column                                                                                                Non-Null Count  Dtype
---  ------                                                                                                --------------  -----
 0   Geography                                                                                             328 non-null    object
 1   Geographic Area Name                                                                                  328 non-null    object
 2   Estimate!!Total:                                                                                      328 non-null    int64
 3   Margin of Error!!Total:                                                                               328 non-null    int64
 4   Estimate!!Total:!!No vehicle available                                                                328 non-null    int64
 5   Margin of Error!!Total:!!No vehicle available                                                         328 non-null    int64
 6   Estimate!!Total:!!1 vehicle available                                                                 328 non-null    int64
 7   Margin of Error!!Total:!!1 vehicle available                                                          328 non-null    int64
 8   Estimate!!Total:!!2 vehicles available                                                                328 non-null    int64
 9   Margin of Error!!Total:!!2 vehicles available                                                         328 non-null    int64
 10  Estimate!!Total:!!3 or more vehicles available                                                        328 non-null    int64
 11  Margin of Error!!Total:!!3 or more vehicles available                                                 328 non-null    int64
 12  Estimate!!Total:!!Car, truck, or van - drove alone:                                                   328 non-null    int64
 13  Margin of Error!!Total:!!Car, truck, or van - drove alone:                                            328 non-null    int64
 14  Estimate!!Total:!!Car, truck, or van - drove alone:!!No vehicle available                             328 non-null    int64
 15  Margin of Error!!Total:!!Car, truck, or van - drove alone:!!No vehicle available                      328 non-null    int64
 16  Estimate!!Total:!!Car, truck, or van - drove alone:!!1 vehicle available                              328 non-null    int64
 17  Margin of Error!!Total:!!Car, truck, or van - drove alone:!!1 vehicle available                       328 non-null    int64
 18  Estimate!!Total:!!Car, truck, or van - drove alone:!!2 vehicles available                             328 non-null    int64
 19  Margin of Error!!Total:!!Car, truck, or van - drove alone:!!2 vehicles available                      328 non-null    int64
 20  Estimate!!Total:!!Car, truck, or van - drove alone:!!3 or more vehicles available                     328 non-null    int64
 21  Margin of Error!!Total:!!Car, truck, or van - drove alone:!!3 or more vehicles available              328 non-null    int64
 22  Estimate!!Total:!!Car, truck, or van - carpooled:                                                     328 non-null    int64
 23  Margin of Error!!Total:!!Car, truck, or van - carpooled:                                              328 non-null    int64
 24  Estimate!!Total:!!Car, truck, or van - carpooled:!!No vehicle available                               328 non-null    int64
 25  Margin of Error!!Total:!!Car, truck, or van - carpooled:!!No vehicle available                        328 non-null    int64
 26  Estimate!!Total:!!Car, truck, or van - carpooled:!!1 vehicle available                                328 non-null    int64
 27  Margin of Error!!Total:!!Car, truck, or van - carpooled:!!1 vehicle available                         328 non-null    int64
 28  Estimate!!Total:!!Car, truck, or van - carpooled:!!2 vehicles available                               328 non-null    int64
 29  Margin of Error!!Total:!!Car, truck, or van - carpooled:!!2 vehicles available                        328 non-null    int64
 30  Estimate!!Total:!!Car, truck, or van - carpooled:!!3 or more vehicles available                       328 non-null    int64
 31  Margin of Error!!Total:!!Car, truck, or van - carpooled:!!3 or more vehicles available                328 non-null    int64
 32  Estimate!!Total:!!Public transportation (excluding taxicab):                                          328 non-null    int64
 33  Margin of Error!!Total:!!Public transportation (excluding taxicab):                                   328 non-null    int64
 34  Estimate!!Total:!!Public transportation (excluding taxicab):!!No vehicle available                    328 non-null    int64
 35  Margin of Error!!Total:!!Public transportation (excluding taxicab):!!No vehicle available             328 non-null    int64
 36  Estimate!!Total:!!Public transportation (excluding taxicab):!!1 vehicle available                     328 non-null    int64
 37  Margin of Error!!Total:!!Public transportation (excluding taxicab):!!1 vehicle available              328 non-null    int64
 38  Estimate!!Total:!!Public transportation (excluding taxicab):!!2 vehicles available                    328 non-null    int64
 39  Margin of Error!!Total:!!Public transportation (excluding taxicab):!!2 vehicles available             328 non-null    int64
 40  Estimate!!Total:!!Public transportation (excluding taxicab):!!3 or more vehicles available            328 non-null    int64
 41  Margin of Error!!Total:!!Public transportation (excluding taxicab):!!3 or more vehicles available     328 non-null    int64
 42  Estimate!!Total:!!Walked:                                                                             328 non-null    int64
 43  Margin of Error!!Total:!!Walked:                                                                      328 non-null    int64
 44  Estimate!!Total:!!Walked:!!No vehicle available                                                       328 non-null    int64
 45  Margin of Error!!Total:!!Walked:!!No vehicle available                                                328 non-null    int64
 46  Estimate!!Total:!!Walked:!!1 vehicle available                                                        328 non-null    int64
 47  Margin of Error!!Total:!!Walked:!!1 vehicle available                                                 328 non-null    int64
 48  Estimate!!Total:!!Walked:!!2 vehicles available                                                       328 non-null    int64
 49  Margin of Error!!Total:!!Walked:!!2 vehicles available                                                328 non-null    int64
 50  Estimate!!Total:!!Walked:!!3 or more vehicles available                                               328 non-null    int64
 51  Margin of Error!!Total:!!Walked:!!3 or more vehicles available                                        328 non-null    int64
 52  Estimate!!Total:!!Taxicab, motorcycle, bicycle, or other means:                                       328 non-null    int64
 53  Margin of Error!!Total:!!Taxicab, motorcycle, bicycle, or other means:                                328 non-null    int64
 54  Estimate!!Total:!!Taxicab, motorcycle, bicycle, or other means:!!No vehicle available                 328 non-null    int64
 55  Margin of Error!!Total:!!Taxicab, motorcycle, bicycle, or other means:!!No vehicle available          328 non-null    int64
 56  Estimate!!Total:!!Taxicab, motorcycle, bicycle, or other means:!!1 vehicle available                  328 non-null    int64
 57  Margin of Error!!Total:!!Taxicab, motorcycle, bicycle, or other means:!!1 vehicle available           328 non-null    int64
 58  Estimate!!Total:!!Taxicab, motorcycle, bicycle, or other means:!!2 vehicles available                 328 non-null    int64
 59  Margin of Error!!Total:!!Taxicab, motorcycle, bicycle, or other means:!!2 vehicles available          328 non-null    int64
 60  Estimate!!Total:!!Taxicab, motorcycle, bicycle, or other means:!!3 or more vehicles available         328 non-null    int64
 61  Margin of Error!!Total:!!Taxicab, motorcycle, bicycle, or other means:!!3 or more vehicles available  328 non-null    int64
 62  Estimate!!Total:!!Worked from home:                                                                   328 non-null    int64
 63  Margin of Error!!Total:!!Worked from home:                                                            328 non-null    int64
 64  Estimate!!Total:!!Worked from home:!!No vehicle available                                             328 non-null    int64
 65  Margin of Error!!Total:!!Worked from home:!!No vehicle available                                      328 non-null    int64
 66  Estimate!!Total:!!Worked from home:!!1 vehicle available                                              328 non-null    int64
 67  Margin of Error!!Total:!!Worked from home:!!1 vehicle available                                       328 non-null    int64
 68  Estimate!!Total:!!Worked from home:!!2 vehicles available                                             328 non-null    int64
 69  Margin of Error!!Total:!!Worked from home:!!2 vehicles available                                      328 non-null    int64
 70  Estimate!!Total:!!Worked from home:!!3 or more vehicles available                                     328 non-null    int64
 71  Margin of Error!!Total:!!Worked from home:!!3 or more vehicles available                              328 non-null    int64
 72  Unnamed: 72                                                                                           0 non-null      float64
dtypes: float64(1), int64(70), object(2)
memory usage: 187.2+ KB
None

Missing Values in ACS B08141:
Geography                                                                     0
Geographic Area Name                                                          0
Estimate!!Total:                                                              0
Margin of Error!!Total:                                                       0
Estimate!!Total:!!No vehicle available                                        0
                                                                           ...
Estimate!!Total:!!Worked from home:!!2 vehicles available                     0
Margin of Error!!Total:!!Worked from home:!!2 vehicles available              0
Estimate!!Total:!!Worked from home:!!3 or more vehicles available             0
Margin of Error!!Total:!!Worked from home:!!3 or more vehicles available      0
Unnamed: 72                                                                 328
Length: 73, dtype: int64

First 5 rows of ACS B08141:
              Geography                      Geographic Area Name  \
0  1400000US39049000110  Census Tract 1.10; Franklin County; Ohio
1  1400000US39049000120  Census Tract 1.20; Franklin County; Ohio
2  1400000US39049000210  Census Tract 2.10; Franklin County; Ohio
3  1400000US39049000220  Census Tract 2.20; Franklin County; Ohio
4  1400000US39049000310  Census Tract 3.10; Franklin County; Ohio

   Estimate!!Total:  Margin of Error!!Total:  \
0              2245                      304
1              1962                      248
2              1949                      288
3              2405                      213
4              1397                      185

   Estimate!!Total:!!No vehicle available  \
0                                       0
1                                      87
2                                     117
3                                      21
4                                       0

   Margin of Error!!Total:!!No vehicle available  \
0                                             13
1                                             84
2                                            113
3                                             25
4                                             13

   Estimate!!Total:!!1 vehicle available  \
0                                    532
1                                    427
2                                    583
3                                    502
4                                    399

   Margin of Error!!Total:!!1 vehicle available  \
0                                           269
1                                           167
2                                           262
3                                           137
4                                           140

   Estimate!!Total:!!2 vehicles available  \
0                                    1352
1                                    1155
2                                     850
3                                    1499
4                                     663

   Margin of Error!!Total:!!2 vehicles available  ...  \
0                                            232  ...
1                                            277  ...
2                                            164  ...
3                                            230  ...
4                                            146  ...

   Margin of Error!!Total:!!Worked from home:  \
0                                         148
1                                         199
2                                         180
3                                         130
4                                         105

   Estimate!!Total:!!Worked from home:!!No vehicle available  \
0                                                  0
1                                                 59
2                                                  0
3                                                  0
4                                                  0

   Margin of Error!!Total:!!Worked from home:!!No vehicle available  \
0                                                 13
1                                                 59
2                                                 13
3                                                 13
4                                                 13

   Estimate!!Total:!!Worked from home:!!1 vehicle available  \
0                                                 79
1                                                203
2                                                277
3                                                157
4                                                 91

   Margin of Error!!Total:!!Worked from home:!!1 vehicle available  \
0                                                 46
1                                                135
2                                                155
3                                                 93
4                                                 80

   Estimate!!Total:!!Worked from home:!!2 vehicles available  \
0                                                302
1                                                388
2                                                264

In [9]:
# --- Clean ACS B08141 (Vehicles Available) Data ---
print("\n--- Cleaning ACS B08141 Data ---")
if acs_b08141_df is not None:
    acs_b08141_cleaned_df = acs_b08141_df.copy() # Create a copy to work on

    # Drop 'Unnamed' columns if they exist and are empty
    cols_to_drop_unnamed = [col for col in acs_b08141_cleaned_df.columns if 'Unnamed' in col and acs_b08141_cleaned_df[col].isnull().all()]
    if cols_to_drop_unnamed:
        acs_b08141_cleaned_df = acs_b08141_cleaned_df.drop(columns=cols_to_drop_unnamed)
        print(f"Dropped {len(cols_to_drop_unnamed)} 'Unnamed' columns.")

    # Drop Margin of Error columns (using the same 'Margin of Error' string search)
    cols_to_drop_moe = [col for col in acs_b08141_cleaned_df.columns if 'Margin of Error' in col]
    acs_b08141_cleaned_df = acs_b08141_cleaned_df.drop(columns=cols_to_drop_moe)
    print(f"Dropped {len(cols_to_drop_moe)} 'Margin of Error' columns.")

    # --- Direct Mapping for B08141 Column Renaming ---
    # This maps the EXACT original column names (after load_csv's basic cleanup)
    # to your desired clean, snake_case names.
    b08141_column_rename_map = {
        'Geography': 'geo_id',
        'Geographic Area Name': 'geographic_area_name',
        
        # Vehicle Availability for Households (Universe: Households)
        'Estimate!!Total:': 'households_total', # Universe: Households
        'Estimate!!Total:!!No vehicle available': 'households_no_vehicle',
        'Estimate!!Total:!!1 vehicle available': 'households_1_vehicle',
        'Estimate!!Total:!!2 vehicles available': 'households_2_vehicles',
        'Estimate!!Total:!!3 or more vehicles available': 'households_3_plus_vehicles',

        # Means of Transportation to Work (Universe: Workers 16 years and over)
        # Note: B08101 and B08122 also cover means of transportation.
        # This table gives us the crucial 'means of transport *by vehicle availability*'.
        
        'Estimate!!Total:!!Public transportation (excluding taxicab):': 'commute_public_transit_total',
        'Estimate!!Total:!!Public transportation (excluding taxicab):!!No vehicle available': 'commute_public_transit_no_vehicle',
        'Estimate!!Total:!!Public transportation (excluding taxicab):!!1 vehicle available': 'commute_public_transit_1_vehicle',
        'Estimate!!Total:!!Public transportation (excluding taxicab):!!2 vehicles available': 'commute_public_transit_2_vehicles',
        'Estimate!!Total:!!Public transportation (excluding taxicab):!!3 or more vehicles available': 'commute_public_transit_3_plus_vehicles',
        
        'Estimate!!Total:!!Car, truck, or van - drove alone:': 'commute_drove_alone_total',
        'Estimate!!Total:!!Car, truck, or van - drove alone:!!No vehicle available': 'commute_drove_alone_no_vehicle',
        # ... you can add more vehicle availability breakdowns for other modes if needed.
        
        'Estimate!!Total:!!Walked:': 'commute_walked_total',
        'Estimate!!Total:!!Worked from home:': 'commute_worked_from_home_total',
        'Estimate!!Total:!!Taxicab, motorcycle, bicycle, or other means:': 'commute_other_means_total'
    }

    # Apply the direct renaming. Only rename columns that exist in our DataFrame.
    acs_b08141_cleaned_df = acs_b08141_cleaned_df.rename(columns={k: v for k, v in b08141_column_rename_map.items() if k in acs_b08141_cleaned_df.columns})
    print("Columns renamed to clean, snake_case format.")

    # --- Select Key Columns for Analysis from B08141 ---
    final_b08141_cols = [
        'geo_id',
        'geographic_area_name',
        'households_total',
        'households_no_vehicle',
        'households_1_vehicle',
        'households_2_vehicles',
        'households_3_plus_vehicles',
        'commute_public_transit_total',
        'commute_public_transit_no_vehicle',
        'commute_public_transit_1_vehicle',
        'commute_public_transit_2_vehicles',
        'commute_public_transit_3_plus_vehicles',
        'commute_drove_alone_total',
        'commute_walked_total',
        'commute_worked_from_home_total',
        'commute_other_means_total'
    ]
    acs_b08141_cleaned_df = acs_b08141_cleaned_df[acs_b08141_cleaned_df.columns.intersection(final_b08141_cols)].copy()
    print(f"Filtered to {len(acs_b08141_cleaned_df.columns)} key vehicle availability and commuting columns.")

    # Convert all numerical columns to numeric and fill NaNs with 0
    for col in acs_b08141_cleaned_df.columns:
        if col not in ['geo_id', 'geographic_area_name']:
            acs_b08141_cleaned_df[col] = pd.to_numeric(acs_b08141_cleaned_df[col], errors='coerce').fillna(0).astype(int)
    print("Numerical columns converted to int and NaNs filled with 0.")

    print("\n--- ACS B08141 Data Cleaned ---")
    print("Cleaned ACS B08141 DataFrame Info:")
    print(acs_b08141_cleaned_df.info())
    print("\nCleaned ACS B08141 Head:")
    print(acs_b08141_cleaned_df.head())

else:
    print("ACS B08141 DataFrame not loaded. Cleaning skipped.")

--- Cleaning ACS B08141 Data ---
Dropped 1 'Unnamed' columns.
Dropped 35 'Margin of Error' columns.
Columns renamed to clean, snake_case format.
Filtered to 16 key vehicle availability and commuting columns.
Numerical columns converted to int and NaNs filled with 0.

--- ACS B08141 Data Cleaned ---
Cleaned ACS B08141 DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 328 entries, 0 to 327
Data columns (total 16 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   geo_id                                  328 non-null    object
 1   geographic_area_name                    328 non-null    object
 2   households_total                        328 non-null    int32
 3   households_no_vehicle                   328 non-null    int32
 4   households_1_vehicle                    328 non-null    int32
 5   households_2_vehicles                   328 non-null    int32
 6   households_3_plus_vehicles              328 non-null    int32
 7   commute_drove_alone_total               328 non-null    int32
 8   commute_public_transit_total            328 non-null    int32
 9   commute_public_transit_no_vehicle       328 non-null    int32
 10  commute_public_transit_1_vehicle        328 non-null    int32
 11  commute_public_transit_2_vehicles       328 non-null    int32
 12  commute_public_transit_3_plus_vehicles  328 non-null    int32
 13  commute_walked_total                    328 non-null    int32
 14  commute_other_means_total               328 non-null    int32
 15  commute_worked_from_home_total          328 non-null    int32
dtypes: int32(14), object(2)
memory usage: 23.2+ KB
None

Cleaned ACS B08141 Head:
                 geo_id                      geographic_area_name  \
0  1400000US39049000110  Census Tract 1.10; Franklin County; Ohio
1  1400000US39049000120  Census Tract 1.20; Franklin County; Ohio
2  1400000US39049000210  Census Tract 2.10; Franklin County; Ohio
3  1400000US39049000220  Census Tract 2.20; Franklin County; Ohio
4  1400000US39049000310  Census Tract 3.10; Franklin County; Ohio

   households_total  households_no_vehicle  households_1_vehicle  \
0              2245                      0                   532
1              1962                     87                   427
2              1949                    117                   583
3              2405                     21                   502
4              1397                      0                   399

   households_2_vehicles  households_3_plus_vehicles  \
0                   1352                         361
1                   1155                         293
2                    850                         399
3                   1499                         383
4                    663                         335

   commute_drove_alone_total  commute_public_transit_total  \
0                       1551                             9
1                       1114                            36
2                        978                           130
3                       1530                            39
4                        979                             0

   commute_public_transit_no_vehicle  commute_public_transit_1_vehicle  \
0                                  0                                 0
1                                 28                                 8
2                                 88                                17
3                                  0                                39
4                                  0                                 0

   commute_public_transit_2_vehicles  commute_public_transit_3_plus_vehicles  \
0                                  9                                       0
1                                  0                                       0
2                                 25                                       0
3                                  0                                       0
4                                  0                                       0

   commute_walked_total  commute_other_means_total  \
0                     9                        157
1                    19                         16
2                    52                         52
3                    31                         76
4                     0                         18

   commute_worked_from_home_total
0                             463
1                             734
2                             613
3                             576
4                             223

#### Cleaning ACS_B08101 (Transportation by Age)

In [10]:
# --- Initial Inspection: ACS B08101 (Transportation by Age) ---
print("\n--- Initial Inspection: ACS B08101 ---")
print("\nACS B08101 Columns:")
print(acs_b08101_df.columns.tolist()) # List all column names

print("\nACS B08101 Data Types and Non-Null Counts:")
print(acs_b08101_df.info()) # Get info again for clarity

print("\nMissing Values in ACS B08101:")
print(acs_b08101_df.isnull().sum()) # Count missing values per column

print("\nFirst 5 rows of ACS B08101:")
print(acs_b08101_df.head())

--- Initial Inspection: ACS B08101 ---

ACS B08101 Columns:
['Geography', 'Geographic Area Name', 'Estimate!!Total:', 'Margin of Error!!Total:', 'Estimate!!Total:!!16 to 19 years', 'Margin of Error!!Total:!!16 to 19 years', 'Estimate!!Total:!!20 to 24 years', 'Margin of Error!!Total:!!20 to 24 years', 'Estimate!!Total:!!25 to 44 years', 'Margin of Error!!Total:!!25 to 44 years', 'Estimate!!Total:!!45 to 54 years', 'Margin of Error!!Total:!!45 to 54 years', 'Estimate!!Total:!!55 to 59 years', 'Margin of Error!!Total:!!55 to 59 years', 'Estimate!!Total:!!60 to 64 years', 'Margin of Error!!Total:!!60 to 64 years', 'Estimate!!Total:!!65 years and over', 'Margin of Error!!Total:!!65 years and over', 'Estimate!!Total:!!Car, truck, or van - drove alone:', 'Margin of Error!!Total:!!Car, truck, or van - drove alone:', 'Estimate!!Total:!!Car, truck, or van - drove alone:!!16 to 19 years', 'Margin of Error!!Total:!!Car, truck, or van - drove alone:!!16 to 19 years', 'Estimate!!Total:!!Car, truck, or van - drove alone:!!20 to 24 years', 'Margin of Error!!Total:!!Car, truck, or van - drove alone:!!20 to 24 years', 'Estimate!!Total:!!Car, truck, or van - drove alone:!!25 to 44 years', 'Margin of Error!!Total:!!Car, truck, or van - drove alone:!!25 to 44 years', 'Estimate!!Total:!!Car, truck, or van - drove alone:!!45 to 54 years', 'Margin of Error!!Total:!!Car, truck, or van - drove alone:!!45 to 54 years', 'Estimate!!Total:!!Car, truck, or van - drove alone:!!55 to 59 years', 'Margin of Error!!Total:!!Car, truck, or van - drove alone:!!55 to 59 years', 'Estimate!!Total:!!Car, truck, or van - drove alone:!!60 to 64 years', 'Margin of Error!!Total:!!Car, truck, or van - drove alone:!!60 to 64 years', 'Estimate!!Total:!!Car, truck, or van - drove alone:!!65 years and over', 'Margin of Error!!Total:!!Car, truck, or van - drove alone:!!65 years and over', 'Estimate!!Total:!!Car, truck, or van - carpooled:', 'Margin of Error!!Total:!!Car, truck, or van - carpooled:', 'Estimate!!Total:!!Car, truck, or van - carpooled:!!16 to 19 years', 'Margin of Error!!Total:!!Car, truck, or van - carpooled:!!16 to 19 years', 'Estimate!!Total:!!Car, truck, or van - carpooled:!!20 to 24 years', 'Margin of Error!!Total:!!Car, truck, or van - carpooled:!!20 to 24 years', 'Estimate!!Total:!!Car, truck, or van - carpooled:!!25 to 44 years', 'Margin of Error!!Total:!!Car, truck, or van - carpooled:!!25 to 44 years', 'Estimate!!Total:!!Car, truck, or van - carpooled:!!45 to 54 years', 'Margin of Error!!Total:!!Car, truck, or van - carpooled:!!45 to 54 years', 'Estimate!!Total:!!Car, truck, or van - carpooled:!!55 to 59 years', 'Margin of Error!!Total:!!Car, truck, or van - carpooled:!!55 to 59 years', 'Estimate!!Total:!!Car, truck, or van - carpooled:!!60 to 64 years', 'Margin of Error!!Total:!!Car, truck, or van - carpooled:!!60 to 64 years', 'Estimate!!Total:!!Car, truck, or van - carpooled:!!65 years and over', 'Margin of Error!!Total:!!Car, truck, or van - carpooled:!!65 years and over', 'Estimate!!Total:!!Public transportation (excluding taxicab):', 'Margin of Error!!Total:!!Public transportation (excluding taxicab):', 'Estimate!!Total:!!Public transportation (excluding taxicab):!!16 to 19 years', 'Margin of Error!!Total:!!Public transportation (excluding taxicab):!!16 to 19 years', 'Estimate!!Total:!!Public transportation (excluding taxicab):!!20 to 24 years', 'Margin of Error!!Total:!!Public transportation (excluding taxicab):!!20 to 24 years', 'Estimate!!Total:!!Public transportation (excluding taxicab):!!25 to 44 years', 'Margin of Error!!Total:!!Public transportation (excluding taxicab):!!25 to 44 years', 'Estimate!!Total:!!Public transportation (excluding taxicab):!!45 to 54 years', 'Margin of Error!!Total:!!Public transportation (excluding taxicab):!!45 to 54 years', 'Estimate!!Total:!!Public transportation (excluding taxicab):!!55 to 59 years', 'Margin of Error!!Total:!!Public transportation (excluding taxicab):!!55 to 59 years', 'Estimate!!Total:!!Public transportation (excluding taxicab):!!60 to 64 years', 'Margin of Error!!Total:!!Public transportation (excluding taxicab):!!60 to 64 years', 'Estimate!!Total:!!Public transportation (excluding taxicab):!!65 years and over', 'Margin of Error!!Total:!!Public transportation (excluding taxicab):!!65 years and over', 'Estimate!!Total:!!Walked:', 'Margin of Error!!Total:!!Walked:', 'Estimate!!Total:!!Walked:!!16 to 19 years', 'Margin of Error!!Total:!!Walked:!!16 to 19 years', 'Estimate!!Total:!!Walked:!!20 to 24 years', 'Margin of Error!!Total:!!Walked:!!20 to 24 years', 'Estimate!!Total:!!Walked:!!25 to 44 years', 'Margin of Error!!Total:!!Walked:!!25 to 44 years', 'Estimate!!Total:!!Walked:!!45 to 54 years', 'Margin of Error!!Total:!!Walked:!!45 to 54 years', 'Estimate!!Total:!!Walked:!!55 to 59 years', 'Margin of Error!!Total:!!Walked:!!55 to 59 years', 'Estimate!!Total:!!Walked:!!60 to 64 years', 'Margin of Error!!Total:!!Walked:!!60 to 64 years', 'Estimate!!Total:!!Walked:!!65 years and over', 'Margin of Error!!Total:!!Walked:!!65 years and over', 'Estimate!!Total:!!Taxicab, motorcycle, bicycle, or other means:', 'Margin of Error!!Total:!!Taxicab, motorcycle, bicycle, or other means:', 'Estimate!!Total:!!Taxicab, motorcycle, bicycle, or other means:!!16 to 19 years', 'Margin of Error!!Total:!!Taxicab, motorcycle, bicycle, or other means:!!16 to 19 years', 'Estimate!!Total:!!Taxicab, motorcycle, bicycle, or other means:!!20 to 24 years', 'Margin of Error!!Total:!!Taxicab, motorcycle, bicycle, or other means:!!20 to 24 years', 'Estimate!!Total:!!Taxicab, motorcycle, bicycle, or other means:!!25 to 44 years', 'Margin of Error!!Total:!!Taxicab, motorcycle, bicycle, or other means:!!25 to 44 years', 'Estimate!!Total:!!Taxicab, motorcycle, bicycle, or other means:!!45 to 54 years', 'Margin of Error!!Total:!!Taxicab, motorcycle, bicycle, or other means:!!45 to 54 years', 'Estimate!!Total:!!Taxicab, motorcycle, bicycle, or other means:!!55 to 59 years', 'Margin of Error!!Total:!!Taxicab, motorcycle, bicycle, or other means:!!55 to 59 years', 'Estimate!!Total:!!Taxicab, motorcycle, bicycle, or other means:!!60 to 64 years', 'Margin of Error!!Total:!!Taxicab, motorcycle, bicycle, or other means:!!60 to 64 years', 'Estimate!!Total:!!Taxicab, motorcycle, bicycle, or other means:!!65 years and over', 'Margin of Error!!Total:!!Taxicab, motorcycle, bicycle, or other means:!!65 years and over', 'Estimate!!Total:!!Worked from home', 'Margin of Error!!Total:!!Worked from home', 'Estimate!!Total:!!Worked from home!!16 to 19 years', 'Margin of Error!!Total:!!Worked from home!!16 to 19 years', 'Estimate!!Total:!!Worked from home!!20 to 24 years', 'Margin of Error!!Total:!!Worked from home!!20 to 24 years', 'Estimate!!Total:!!Worked from home!!25 to 44 years', 'Margin of Error!!Total:!!Worked from home!!25 to 44 years', 'Estimate!!Total:!!Worked from home!!45 to 54 years', 'Margin of Error!!Total:!!Worked from home!!45 to 54 years', 'Estimate!!Total:!!Worked from home!!55 to 59 years', 'Margin of Error!!Total:!!Worked from home!!55 to 59 years', 'Estimate!!Total:!!Worked from home!!60 to 64 years', 'Margin of Error!!Total:!!Worked from home!!60 to 64 years', 'Estimate!!Total:!!Worked from home!!65 years and over', 'Margin of Error!!Total:!!Worked from home!!65 years and over', 'Unnamed: 114']

ACS B08101 Data Types and Non-Null Counts:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 328 entries, 0 to 327
Columns: 115 entries, Geography to Unnamed: 114
dtypes: float64(1), int64(112), object(2)
memory usage: 294.8+ KB
None

Missing Values in ACS B08101:
Geography                                                         0
Geographic Area Name                                              0
Estimate!!Total:                                                  0
Margin of Error!!Total:                                           0
Estimate!!Total:!!16 to 19 years                                  0
                                                               ...
Estimate!!Total:!!Worked from home!!60 to 64 years                0
Margin of Error!!Total:!!Worked from home!!60 to 64 years         0
Estimate!!Total:!!Worked from home!!65 years and over             0
Margin of Error!!Total:!!Worked from home!!65 years and over      0
Unnamed: 114                                                    328
Length: 115, dtype: int64

First 5 rows of ACS B08101:
              Geography                      Geographic Area Name  \
0  1400000US39049000110  Census Tract 1.10; Franklin County; Ohio
1  1400000US39049000120  Census Tract 1.20; Franklin County; Ohio
2  1400000US39049000210  Census Tract 2.10; Franklin County; Ohio
3  1400000US39049000220  Census Tract 2.20; Franklin County; Ohio
4  1400000US39049000310  Census Tract 3.10; Franklin County; Ohio

   Estimate!!Total:  Margin of Error!!Total:  \
0              2245                      304
1              1963                      248
2              1949                      288
3              2405                      213
4              1397                      185

   Estimate!!Total:!!16 to 19 years  Margin of Error!!Total:!!16 to 19 years  \
0                                 0                                       13
1                                25                                       21
2                                36                                       39
3                                22                                       27
4                                17                                       23

   Estimate!!Total:!!20 to 24 years  Margin of Error!!Total:!!20 to 24 years  \
0                                41                                       25
1                                13                                       21
2                                45                                       49
3                               119                                       76
4                                53                                       40

   Estimate!!Total:!!25 to 44 years  Margin of Error!!Total:!!25 to 44 years  \
0                              1019                                      159
1                               804                                      150
2                               909                                      167
3                              1060                                      177
4                               840                                      171

   ...  Margin of Error!!Total:!!Worked from home!!25 to 44 years  \
0  ...                                                105
1  ...                                                 87
2  ...                                                120
3  ...                                                 88
4  ...                                                 93

   Estimate!!Total:!!Worked from home!!45 to 54 years  \
0                                                119
1                                                303
2                                                165
3                                                 65
4                                                 33

   Margin of Error!!Total:!!Worked from home!!45 to 54 years  \
0                                                105
1                                                159
2                                                122
3                                                 34
4                                                 29

   Estimate!!Total:!!Worked from home!!55 to 59 years  \
0                                                 18
1                                                 33
2                                                 53
3                                                146
4                                                 36

   Margin of Error!!Total:!!Worked from home!!55 to 59 years  \
0                                                 22
1                                                 20
2                                                 49
3                                                 89
4                                                 46

   Estimate!!Total:!!Worked from home!!60 to 64 years  \
0                                                 10
1                                                 34
2                                                 24
3                                                105
4                                                  7

   Margin of Error!!Total:!!Worked from home!!60 to 64 years  \
0                                                 13
1                                                 25
2                                                 21
3                                                 53
4                                                 14

   Estimate!!Total:!!Worked from home!!65 years and over  \
0                                                  7
1                                                114
2                                                 27
3                                                 32
4                                                  5

   Margin of Error!!Total:!!Worked from home!!65 years and over  Unnamed: 114
0                                                 11                      NaN
1                                                 92                      NaN
2                                                 24                      NaN
3                                                 25                      NaN
4                                                 10                      NaN

[5 rows x 115 columns]

In [12]:
# --- Clean ACS B08101 (Means of Transportation to Work by Age) Data ---
print("\n--- Cleaning ACS B08101 Data ---")
if acs_b08101_df is not None:
    acs_b08101_cleaned_df = acs_b08101_df.copy() # Create a copy to work on

    # Drop 'Unnamed' columns if they exist and are empty
    cols_to_drop_unnamed = [col for col in acs_b08101_cleaned_df.columns if 'Unnamed' in col and acs_b08101_cleaned_df[col].isnull().all()]
    if cols_to_drop_unnamed:
        acs_b08101_cleaned_df = acs_b08101_cleaned_df.drop(columns=cols_to_drop_unnamed)
        print(f"Dropped {len(cols_to_drop_unnamed)} 'Unnamed' columns.")

    # Drop Margin of Error columns
    cols_to_drop_moe = [col for col in acs_b08101_cleaned_df.columns if 'Margin of Error' in col]
    acs_b08101_cleaned_df = acs_b08101_cleaned_df.drop(columns=cols_to_drop_moe)
    print(f"Dropped {len(cols_to_drop_moe)} 'Margin of Error' columns.")

    # --- Direct Mapping for B08101 Column Renaming ---
    # This maps the EXACT original column names to your desired clean, snake_case names.
    b08101_column_rename_map = {
        'Geography': 'geo_id',
        'Geographic Area Name': 'geographic_area_name',
        
        # Total Workers by Age Group (Universe: Workers 16 years and over)
        'Estimate!!Total:': 'workers_total', # Overall total workers
        'Estimate!!Total:!!16 to 19 years': 'workers_age_16_to_19',
        'Estimate!!Total:!!20 to 24 years': 'workers_age_20_to_24',
        'Estimate!!Total:!!25 to 44 years': 'workers_age_25_to_44',
        'Estimate!!Total:!!45 to 54 years': 'workers_age_45_to_54',
        'Estimate!!Total:!!55 to 59 years': 'workers_age_55_to_59',
        'Estimate!!Total:!!60 to 64 years': 'workers_age_60_to_64',
        'Estimate!!Total:!!65 years and over': 'workers_age_65_plus',

        # Commute by Public Transportation (excluding taxicab) by Age Group
        'Estimate!!Total:!!Public transportation (excluding taxicab):': 'commute_public_transit_total',
        'Estimate!!Total:!!Public transportation (excluding taxicab):!!16 to 19 years': 'commute_public_transit_age_16_to_19',
        'Estimate!!Total:!!Public transportation (excluding taxicab):!!20 to 24 years': 'commute_public_transit_age_20_to_24',
        'Estimate!!Total:!!Public transportation (excluding taxicab):!!25 to 44 years': 'commute_public_transit_age_25_to_44',
        'Estimate!!Total:!!Public transportation (excluding taxicab):!!45 to 54 years': 'commute_public_transit_age_45_to_54',
        'Estimate!!Total:!!Public transportation (excluding taxicab):!!55 to 59 years': 'commute_public_transit_age_55_to_59',
        'Estimate!!Total:!!Public transportation (excluding taxicab):!!60 to 64 years': 'commute_public_transit_age_60_to_64',
        'Estimate!!Total:!!Public transportation (excluding taxicab):!!65 years and over': 'commute_public_transit_age_65_plus',

        # Commute by Car, Truck, or Van - Drove Alone by Age Group (for comparison)
        'Estimate!!Total:!!Car, truck, or van - drove alone:': 'commute_drove_alone_total',
        'Estimate!!Total:!!Car, truck, or van - drove alone:!!16 to 19 years': 'commute_drove_alone_age_16_to_19',
        'Estimate!!Total:!!Car, truck, or van - drove alone:!!20 to 24 years': 'commute_drove_alone_age_20_to_24',
        'Estimate!!Total:!!Car, truck, or van - drove alone:!!25 to 44 years': 'commute_drove_alone_age_25_to_44',
        'Estimate!!Total:!!Car, truck, or van - drove alone:!!45 to 54 years': 'commute_drove_alone_age_45_to_54',
        'Estimate!!Total:!!Car, truck, or van - drove alone:!!55 to 59 years': 'commute_drove_alone_age_55_to_59',
        'Estimate!!Total:!!Car, truck, or van - drove alone:!!60 to 64 years': 'commute_drove_alone_age_60_to_64',
        'Estimate!!Total:!!Car, truck, or van - drove alone:!!65 years and over': 'commute_drove_alone_age_65_plus',

        # Commute by Worked from home by Age Group
        'Estimate!!Total:!!Worked from home': 'commute_worked_from_home_total',
        'Estimate!!Total:!!Worked from home!!16 to 19 years': 'commute_worked_from_home_age_16_to_19',
        'Estimate!!Total:!!Worked from home!!20 to 24 years': 'commute_worked_from_home_age_20_to_24',
        'Estimate!!Total:!!Worked from home!!25 to 44 years': 'commute_worked_from_home_age_25_to_44',
        'Estimate!!Total:!!Worked from home!!45 to 54 years': 'commute_worked_from_home_age_45_to_54',
        'Estimate!!Total:!!Worked from home!!55 to 59 years': 'commute_worked_from_home_age_55_to_59',
        'Estimate!!Total:!!Worked from home!!60 to 64 years': 'commute_worked_from_home_age_60_to_64',
        'Estimate!!Total:!!Worked from home!!65 years and over': 'commute_worked_from_home_age_65_plus',

        # Other useful overall commute modes (not by age breakdown in this map, but their total is useful)
        'Estimate!!Total:!!Car, truck, or van - carpooled:': 'commute_carpooled_total',
        'Estimate!!Total:!!Walked:': 'commute_walked_total',
        'Estimate!!Total:!!Taxicab, motorcycle, bicycle, or other means:': 'commute_other_means_total'
    }

    # Apply the direct renaming. Only rename columns that exist in our DataFrame.
    acs_b08101_cleaned_df = acs_b08101_cleaned_df.rename(columns={k: v for k, v in b08101_column_rename_map.items() if k in acs_b08101_cleaned_df.columns})
    print("Columns renamed to clean, snake_case format.")

    # --- Select Key Columns for Analysis from B08101 ---
    # This list defines the specific columns we want to keep after renaming.
    final_b08101_cols = [
        'geo_id',
        'geographic_area_name',
        'workers_total', # Overall total workers 16+
        
        # Total Workers by Age Group
        'workers_age_16_to_19',
        'workers_age_20_to_24',
        'workers_age_25_to_44',
        'workers_age_45_to_54',
        'workers_age_55_to_59',
        'workers_age_60_to_64',
        'workers_age_65_plus',

        # Commute by Public Transportation (excluding taxicab) by Age Group
        'commute_public_transit_total',
        'commute_public_transit_age_16_to_19',
        'commute_public_transit_age_20_to_24',
        'commute_public_transit_age_25_to_44',
        'commute_public_transit_age_45_to_54',
        'commute_public_transit_age_55_to_59',
        'commute_public_transit_age_60_to_64',
        'commute_public_transit_age_65_plus',

        # Other useful total commute modes
        'commute_drove_alone_total',
        'commute_carpooled_total',
        'commute_walked_total',
        'commute_worked_from_home_total',
        'commute_other_means_total'
    ]
    acs_b08101_cleaned_df = acs_b08101_cleaned_df[acs_b08101_cleaned_df.columns.intersection(final_b08101_cols)].copy()
    print(f"Filtered to {len(acs_b08101_cleaned_df.columns)} key commuting by age columns.")

    # Convert all numerical columns to numeric and fill NaNs with 0
    for col in acs_b08101_cleaned_df.columns:
        if col not in ['geo_id', 'geographic_area_name']:
            acs_b08101_cleaned_df[col] = pd.to_numeric(acs_b08101_cleaned_df[col], errors='coerce').fillna(0).astype(int)
    print("Numerical columns converted to int and NaNs filled with 0.")

    print("\n--- ACS B08101 Data Cleaned ---")
    print("Cleaned ACS B08101 DataFrame Info:")
    print(acs_b08101_cleaned_df.info())
    print("\nCleaned ACS B08101 Head:")
    print(acs_b08101_cleaned_df.head())

else:
    print("ACS B08101 DataFrame not loaded. Cleaning skipped.")

--- Cleaning ACS B08101 Data ---
Dropped 1 'Unnamed' columns.
Dropped 56 'Margin of Error' columns.
Columns renamed to clean, snake_case format.
Filtered to 23 key commuting by age columns.
Numerical columns converted to int and NaNs filled with 0.

--- ACS B08101 Data Cleaned ---
Cleaned ACS B08101 DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 328 entries, 0 to 327
Data columns (total 23 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   geo_id                               328 non-null    object
 1   geographic_area_name                 328 non-null    object
 2   workers_total                        328 non-null    int32
 3   workers_age_16_to_19                 328 non-null    int32
 4   workers_age_20_to_24                 328 non-null    int32
 5   workers_age_25_to_44                 328 non-null    int32
 6   workers_age_45_to_54                 328 non-null    int32
 7   workers_age_55_to_59                 328 non-null    int32
 8   workers_age_60_to_64                 328 non-null    int32
 9   workers_age_65_plus                  328 non-null    int32
 10  commute_drove_alone_total            328 non-null    int32
 11  commute_carpooled_total              328 non-null    int32
 12  commute_public_transit_total         328 non-null    int32
 13  commute_public_transit_age_16_to_19  328 non-null    int32
 14  commute_public_transit_age_20_to_24  328 non-null    int32
 15  commute_public_transit_age_25_to_44  328 non-null    int32
 16  commute_public_transit_age_45_to_54  328 non-null    int32
 17  commute_public_transit_age_55_to_59  328 non-null    int32
 18  commute_public_transit_age_60_to_64  328 non-null    int32
 19  commute_public_transit_age_65_plus   328 non-null    int32
 20  commute_walked_total                 328 non-null    int32
 21  commute_other_means_total            328 non-null    int32
 22  commute_worked_from_home_total       328 non-null    int32
dtypes: int32(21), object(2)
memory usage: 32.2+ KB
None

Cleaned ACS B08101 Head:
                 geo_id                      geographic_area_name  \
0  1400000US39049000110  Census Tract 1.10; Franklin County; Ohio
1  1400000US39049000120  Census Tract 1.20; Franklin County; Ohio
2  1400000US39049000210  Census Tract 2.10; Franklin County; Ohio
3  1400000US39049000220  Census Tract 2.20; Franklin County; Ohio
4  1400000US39049000310  Census Tract 3.10; Franklin County; Ohio

   workers_total  workers_age_16_to_19  workers_age_20_to_24  \
0           2245                     0                    41
1           1963                    25                    13
2           1949                    36                    45
3           2405                    22                   119
4           1397                    17                    53

   workers_age_25_to_44  workers_age_45_to_54  workers_age_55_to_59  \
0                  1019                   485                   227
1                   804                   591                   135
2                   909                   433                   232
3                  1060                   428                   278
4                   840                   228                   110

   workers_age_60_to_64  workers_age_65_plus  ...  \
0                   138                  335  ...
1                   167                  228  ...
2                   153                  141  ...
3                   267                  231  ...
4                   106                   43  ...

   commute_public_transit_age_16_to_19  commute_public_transit_age_20_to_24  \
0                                    0                                    0
1                                    0                                    0
2                                    0                                    0
3                                    0                                   10
4                                    0                                    0

   commute_public_transit_age_25_to_44  commute_public_transit_age_45_to_54  \
0                                    0                                    0
1                                   28                                    8
2                                   72                                   38
3                                   29                                    0
4                                    0                                    0

   commute_public_transit_age_55_to_59  commute_public_transit_age_60_to_64  \
0                                    0                                    9
1                                    0                                    0
2                                    7                                    0
3                                    0                                    0
4                                    0                                    0

   commute_public_transit_age_65_plus  commute_walked_total  \
0                                   0                     9
1                                   0                    20
2                                  13                    52
3                                   0                    31
4                                   0                     0

   commute_other_means_total  commute_worked_from_home_total
0                        157                             463
1                         16                             734
2                         52                             613
3                         76                             576
4                         18                             223

[5 rows x 23 columns]

#### Cleaning ACS_B08119 (Means of Transportation to Work by Workers' Earnings)

In [13]:
# --- Initial Inspection: ACS B08119 (Transportation by Earnings) ---
print("\n--- Initial Inspection: ACS B08119 ---")
print("\nACS B08119 Columns:")
print(acs_b08119_df.columns.tolist()) # List all column names

print("\nACS B08119 Data Types and Non-Null Counts:")
print(acs_b08119_df.info()) # Get info again for clarity

print("\nMissing Values in ACS B08119:")
print(acs_b08119_df.isnull().sum()) # Count missing values per column

print("\nFirst 5 rows of ACS B08119:")
print(acs_b08119_df.head())

--- Initial Inspection: ACS B08119 ---

ACS B08119 Columns:
['Geography', 'Geographic Area Name', 'Estimate!!Total:', 'Margin of Error!!Total:', 'Estimate!!Total:!!$1 to $9,999 or loss', 'Margin of Error!!Total:!!$1 to $9,999 or loss', 'Estimate!!Total:!!$10,000 to $14,999', 'Margin of Error!!Total:!!$10,000 to $14,999', 'Estimate!!Total:!!$15,000 to $24,999', 'Margin of Error!!Total:!!$15,000 to $24,999', 'Estimate!!Total:!!$25,000 to $34,999', 'Margin of Error!!Total:!!$25,000 to $34,999', 'Estimate!!Total:!!$35,000 to $49,999', 'Margin of Error!!Total:!!$35,000 to $49,999', 'Estimate!!Total:!!$50,000 to $64,999', 'Margin of Error!!Total:!!$50,000 to $64,999', 'Estimate!!Total:!!$65,000 to $74,999', 'Margin of Error!!Total:!!$65,000 to $74,999', 'Estimate!!Total:!!$75,000 or more', 'Margin of Error!!Total:!!$75,000 or more', 'Estimate!!Total:!!Car, truck, or van - drove alone:', 'Margin of Error!!Total:!!Car, truck, or van - drove alone:', 'Estimate!!Total:!!Car, truck, or van - drove alone:!!$1 to $9,999 or loss', 'Margin of Error!!Total:!!Car, truck, or van - drove alone:!!$1 to $9,999 or loss', 'Estimate!!Total:!!Car, truck, or van - drove alone:!!$10,000 to $14,999', 'Margin of Error!!Total:!!Car, truck, or van - drove alone:!!$10,000 to $14,999', 'Estimate!!Total:!!Car, truck, or van - drove alone:!!$15,000 to $24,999', 'Margin of Error!!Total:!!Car, truck, or van - drove alone:!!$15,000 to $24,999', 'Estimate!!Total:!!Car, truck, or van - drove alone:!!$25,000 to $34,999', 'Margin of Error!!Total:!!Car, truck, or van - drove alone:!!$25,000 to $34,999', 'Estimate!!Total:!!Car, truck, or van - drove alone:!!$35,000 to $49,999', 'Margin of Error!!Total:!!Car, truck, or van - drove alone:!!$35,000 to $49,999', 'Estimate!!Total:!!Car, truck, or van - drove alone:!!$50,000 to $64,999', 'Margin of Error!!Total:!!Car, truck, or van - drove alone:!!$50,000 to $64,999', 'Estimate!!Total:!!Car, truck, or van - drove alone:!!$65,000 to $74,999', 'Margin of Error!!Total:!!Car, truck, or van - drove alone:!!$65,000 to $74,999', 'Estimate!!Total:!!Car, truck, or van - drove alone:!!$75,000 or more', 'Margin of Error!!Total:!!Car, truck, or van - drove alone:!!$75,000 or more', 'Estimate!!Total:!!Car, truck, or van - carpooled:', 'Margin of Error!!Total:!!Car, truck, or van - carpooled:', 'Estimate!!Total:!!Car, truck, or van - carpooled:!!$1 to $9,999 or loss', 'Margin of Error!!Total:!!Car, truck, or van - carpooled:!!$1 to $9,999 or loss', 'Estimate!!Total:!!Car, truck, or van - carpooled:!!$10,000 to $14,999', 'Margin of Error!!Total:!!Car, truck, or van - carpooled:!!$10,000 to $14,999', 'Estimate!!Total:!!Car, truck, or van - carpooled:!!$15,000 to $24,999', 'Margin of Error!!Total:!!Car, truck, or van - carpooled:!!$15,000 to $24,999', 'Estimate!!Total:!!Car, truck, or van - carpooled:!!$25,000 to $34,999', 'Margin of Error!!Total:!!Car, truck, or van - carpooled:!!$25,000 to $34,999', 'Estimate!!Total:!!Car, truck, or van - carpooled:!!$35,000 to $49,999', 'Margin of Error!!Total:!!Car, truck, or van - carpooled:!!$35,000 to $49,999', 'Estimate!!Total:!!Car, truck, or van - carpooled:!!$50,000 to $64,999', 'Margin of Error!!Total:!!Car, truck, or van - carpooled:!!$50,000 to $64,999', 'Estimate!!Total:!!Car, truck, or van - carpooled:!!$65,000 to $74,999', 'Margin of Error!!Total:!!Car, truck, or van - carpooled:!!$65,000 to $74,999', 'Estimate!!Total:!!Car, truck, or van - carpooled:!!$75,000 or more', 'Margin of Error!!Total:!!Car, truck, or van - carpooled:!!$75,000 or more', 'Estimate!!Total:!!Public transportation (excluding taxicab):', 'Margin of Error!!Total:!!Public transportation (excluding taxicab):', 'Estimate!!Total:!!Public transportation (excluding taxicab):!!$1 to $9,999 or loss', 'Margin of Error!!Total:!!Public transportation (excluding taxicab):!!$1 to $9,999 or loss', 'Estimate!!Total:!!Public transportation (excluding taxicab):!!$10,000 to $14,999', 'Margin of Error!!Total:!!Public transportation (excluding taxicab):!!$10,000 to $14,999', 'Estimate!!Total:!!Public transportation (excluding taxicab):!!$15,000 to $24,999', 'Margin of Error!!Total:!!Public transportation (excluding taxicab):!!$15,000 to $24,999', 'Estimate!!Total:!!Public transportation (excluding taxicab):!!$25,000 to $34,999', 'Margin of Error!!Total:!!Public transportation (excluding taxicab):!!$25,000 to $34,999', 'Estimate!!Total:!!Public transportation (excluding taxicab):!!$35,000 to $49,999', 'Margin of Error!!Total:!!Public transportation (excluding taxicab):!!$35,000 to $49,999', 'Estimate!!Total:!!Public transportation (excluding taxicab):!!$50,000 to $64,999', 'Margin of Error!!Total:!!Public transportation (excluding taxicab):!!$50,000 to $64,999', 'Estimate!!Total:!!Public transportation (excluding taxicab):!!$65,000 to $74,999', 'Margin of Error!!Total:!!Public transportation (excluding taxicab):!!$65,000 to $74,999', 'Estimate!!Total:!!Public transportation (excluding taxicab):!!$75,000 or more', 'Margin of Error!!Total:!!Public transportation (excluding taxicab):!!$75,000 or more', 'Estimate!!Total:!!Walked:', 'Margin of Error!!Total:!!Walked:', 'Estimate!!Total:!!Walked:!!$1 to $9,999 or loss', 'Margin of Error!!Total:!!Walked:!!$1 to $9,999 or loss', 'Estimate!!Total:!!Walked:!!$10,000 to $14,999', 'Margin of Error!!Total:!!Walked:!!$10,000 to $14,999', 'Estimate!!Total:!!Walked:!!$15,000 to $24,999', 'Margin of Error!!Total:!!Walked:!!$15,000 to $24,999', 'Estimate!!Total:!!Walked:!!$25,000 to $34,999', 'Margin of Error!!Total:!!Walked:!!$25,000 to $34,999', 'Estimate!!Total:!!Walked:!!$35,000 to $49,999', 'Margin of Error!!Total:!!Walked:!!$35,000 to $49,999', 'Estimate!!Total:!!Walked:!!$50,000 to $64,999', 'Margin of Error!!Total:!!Walked:!!$50,000 to $64,999', 'Estimate!!Total:!!Walked:!!$65,000 to $74,999', 'Margin of Error!!Total:!!Walked:!!$65,000 to $74,999', 'Estimate!!Total:!!Walked:!!$75,000 or more', 'Margin of Error!!Total:!!Walked:!!$75,000 or more', 'Estimate!!Total:!!Taxicab, motorcycle, bicycle, or other means:', 'Margin of Error!!Total:!!Taxicab, motorcycle, bicycle, or other means:', 'Estimate!!Total:!!Taxicab, motorcycle, bicycle, or other means:!!$1 to $9,999 or loss', 'Margin of Error!!Total:!!Taxicab, motorcycle, bicycle, or other means:!!$1 to $9,999 or loss', 'Estimate!!Total:!!Taxicab, motorcycle, bicycle, or other means:!!$10,000 to $14,999', 'Margin of Error!!Total:!!Taxicab, motorcycle, bicycle, or other means:!!$10,000 to $14,999', 'Estimate!!Total:!!Taxicab, motorcycle, bicycle, or other means:!!$15,000 to $24,999', 'Margin of Error!!Total:!!Taxicab, motorcycle, bicycle, or other means:!!$15,000 to $24,999', 'Estimate!!Total:!!Taxicab, motorcycle, bicycle, or other means:!!$25,000 to $34,999', 'Margin of Error!!Total:!!Taxicab, motorcycle, bicycle, or other means:!!$25,000 to $34,999', 'Estimate!!Total:!!Taxicab, motorcycle, bicycle, or other means:!!$35,000 to $49,999', 'Margin of Error!!Total:!!Taxicab, motorcycle, bicycle, or other means:!!$35,000 to $49,999', 'Estimate!!Total:!!Taxicab, motorcycle, bicycle, or other means:!!$50,000 to $64,999', 'Margin of Error!!Total:!!Taxicab, motorcycle, bicycle, or other means:!!$50,000 to $64,999', 'Estimate!!Total:!!Taxicab, motorcycle, bicycle, or other means:!!$65,000 to $74,999', 'Margin of Error!!Total:!!Taxicab, motorcycle, bicycle, or other means:!!$65,000 to $74,999', 'Estimate!!Total:!!Taxicab, motorcycle, bicycle, or other means:!!$75,000 or more', 'Margin of Error!!Total:!!Taxicab, motorcycle, bicycle, or other means:!!$75,000 or more', 'Estimate!!Total:!!Worked from home:', 'Margin of Error!!Total:!!Worked from home:', 'Estimate!!Total:!!Worked from home:!!$1 to $9,999 or loss', 'Margin of Error!!Total:!!Worked from home:!!$1 to $9,999 or loss', 'Estimate!!Total:!!Worked from home:!!$10,000 to $14,999', 'Margin of Error!!Total:!!Worked from home:!!$10,000 to $14,999', 'Estimate!!Total:!!Worked from home:!!$15,000 to $24,999', 'Margin of Error!!Total:!!Worked from home:!!$15,000 to $24,999', 'Estimate!!Total:!!Worked from home:!!$25,000 to $34,999', 'Margin of Error!!Total:!!Worked from home:!!$25,000 to $34,999', 'Estimate!!Total:!!Worked from home:!!$35,000 to $49,999', 'Margin of Error!!Total:!!Worked from home:!!$35,000 to $49,999', 'Estimate!!Total:!!Worked from home:!!$50,000 to $64,999', 'Margin of Error!!Total:!!Worked from home:!!$50,000 to $64,999', 'Estimate!!Total:!!Worked from home:!!$65,000 to $74,999', 'Margin of Error!!Total:!!Worked from home:!!$65,000 to $74,999', 'Estimate!!Total:!!Worked from home:!!$75,000 or more', 'Margin of Error!!Total:!!Worked from home:!!$75,000 or more', 'Unnamed: 128']

ACS B08119 Data Types and Non-Null Counts:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 328 entries, 0 to 327
Columns: 129 entries, Geography to Unnamed: 128
dtypes: float64(1), int64(126), object(2)
memory usage: 330.7+ KB
None

Missing Values in ACS B08119:
Geography                                                           0
Geographic Area Name                                                0
Estimate!!Total:                                                    0
Margin of Error!!Total:                                             0
Estimate!!Total:!!$1 to $9,999 or loss                              0
                                                                 ...
Estimate!!Total:!!Worked from home:!!$65,000 to $74,999             0
Margin of Error!!Total:!!Worked from home:!!$65,000 to $74,999      0
Estimate!!Total:!!Worked from home:!!$75,000 or more                0
Margin of Error!!Total:!!Worked from home:!!$75,000 or more         0
Unnamed: 128                                                      328
Length: 129, dtype: int64

First 5 rows of ACS B08119:
              Geography                      Geographic Area Name  \
0  1400000US39049000110  Census Tract 1.10; Franklin County; Ohio
1  1400000US39049000120  Census Tract 1.20; Franklin County; Ohio
2  1400000US39049000210  Census Tract 2.10; Franklin County; Ohio
3  1400000US39049000220  Census Tract 2.20; Franklin County; Ohio
4  1400000US39049000310  Census Tract 3.10; Franklin County; Ohio

   Estimate!!Total:  Margin of Error!!Total:  \
0              2245                      304
1              1963                      248
2              1949                      288
3              2405                      213
4              1397                      185

   Estimate!!Total:!!$1 to $9,999 or loss  \
0                                     130
1                                     188
2                                      90
3                                     206
4                                     123

   Margin of Error!!Total:!!$1 to $9,999 or loss  \
0                                             45
1                                             80
2                                             68
3                                             89
4                                             88

   Estimate!!Total:!!$10,000 to $14,999  \
0                                    88
1                                    20
2                                    45
3                                    85
4                                   104

   Margin of Error!!Total:!!$10,000 to $14,999  \
0                                           37
1                                           16
2                                           37
3                                           59
4                                           53

   Estimate!!Total:!!$15,000 to $24,999  \
0                                   100
1                                    79
2                                   140
3                                   168
4                                   166

   Margin of Error!!Total:!!$15,000 to $24,999  ...  \
0                                           52  ...
1                                           56  ...
2                                           74  ...
3                                           81  ...
4                                           92  ...

   Margin of Error!!Total:!!Worked from home:!!$25,000 to $34,999  \
0                                                 13
1                                                 13
2                                                 51
3                                                 24
4                                                 76

   Estimate!!Total:!!Worked from home:!!$35,000 to $49,999  \
0                                                 23
1                                                105
2                                                 44
3                                                 74
4                                                 60

   Margin of Error!!Total:!!Worked from home:!!$35,000 to $49,999  \
0                                                 24
1                                                 93
2                                                 48
3                                                 63
4                                                 43

   Estimate!!Total:!!Worked from home:!!$50,000 to $64,999  \
0                                                129
1                                                 16
2                                                 44
3                                                 66
4                                                 33

   Margin of Error!!Total:!!Worked from home:!!$50,000 to $64,999  \
0                                                101
1                                                 18
2                                                 36
3                                                 62
4                                                 27

   Estimate!!Total:!!Worked from home:!!$65,000 to $74,999  \
0                                                 77
1                                                 17
2                                                 18
3                                                 21
4                                                  0

   Margin of Error!!Total:!!Worked from home:!!$65,000 to $74,999  \
0                                                 52
1                                                 19
2                                                 21
3                                                 23
4                                                 13

   Estimate!!Total:!!Worked from home:!!$75,000 or more  \
0                                                204
1                                                487
2                                                369
3                                                307
4                                                 27

   Margin of Error!!Total:!!Worked from home:!!$75,000 or more  Unnamed: 128
0                                                 75                     NaN
1                                                185                     NaN
2                                                146                     NaN
3                                                 86                     NaN
4                                                 29                     NaN

[5 rows x 129 columns]

In [14]:
# --- Clean ACS B08119 (Means of Transportation to Work by Workers' Earnings) Data ---
print("\n--- Cleaning ACS B08119 Data ---")
if acs_b08119_df is not None:
    acs_b08119_cleaned_df = acs_b08119_df.copy() # Create a copy to work on

    # Drop 'Unnamed' columns if they exist and are empty
    cols_to_drop_unnamed = [col for col in acs_b08119_cleaned_df.columns if 'Unnamed' in col and acs_b08119_cleaned_df[col].isnull().all()]
    if cols_to_drop_unnamed:
        acs_b08119_cleaned_df = acs_b08119_cleaned_df.drop(columns=cols_to_drop_unnamed)
        print(f"Dropped {len(cols_to_drop_unnamed)} 'Unnamed' columns.")

    # Drop Margin of Error columns
    cols_to_drop_moe = [col for col in acs_b08119_cleaned_df.columns if 'Margin of Error' in col]
    acs_b08119_cleaned_df = acs_b08119_cleaned_df.drop(columns=cols_to_drop_moe)
    print(f"Dropped {len(cols_to_drop_moe)} 'Margin of Error' columns.")

    # --- Direct Mapping for B08119 Column Renaming ---
    # This maps the EXACT original column names to your desired clean, snake_case names.
    b08119_column_rename_map = {
        'Geography': 'geo_id',
        'Geographic Area Name': 'geographic_area_name',
        
        # Total Workers by Earnings (Universe: Workers 16 years and over with earnings)
        'Estimate!!Total:': 'workers_earnings_total', # Overall total workers with earnings
        'Estimate!!Total:!!$1 to $9,999 or loss': 'workers_earnings_1_to_9999',
        'Estimate!!Total:!!$10,000 to $14,999': 'workers_earnings_10000_to_14999',
        'Estimate!!Total:!!$15,000 to $24,999': 'workers_earnings_15000_to_24999',
        'Estimate!!Total:!!$25,000 to $34,999': 'workers_earnings_25000_to_34999',
        'Estimate!!Total:!!$35,000 to $49,999': 'workers_earnings_35000_to_49999',
        'Estimate!!Total:!!$50,000 to $64,999': 'workers_earnings_50000_to_64999',
        'Estimate!!Total:!!$65,000 to $74,999': 'workers_earnings_65000_to_74999',
        'Estimate!!Total:!!$75,000 or more': 'workers_earnings_75000_plus',

        # Commute by Public Transportation (excluding taxicab) by Earnings Group
        # These are crucial for understanding who uses public transit based on income.
        'Estimate!!Total:!!Public transportation (excluding taxicab):': 'commute_public_transit_total', # Total public transit commuters (all incomes)
        'Estimate!!Total:!!Public transportation (excluding taxicab):!!$1 to $9,999 or loss': 'commute_public_transit_earnings_1_to_9999',
        'Estimate!!Total:!!Public transportation (excluding taxicab):!!$10,000 to $14,999': 'commute_public_transit_earnings_10000_to_14999',
        'Estimate!!Total:!!Public transportation (excluding taxicab):!!$15,000 to $24,999': 'commute_public_transit_earnings_15000_to_24999',
        'Estimate!!Total:!!Public transportation (excluding taxicab):!!$25,000 to $34,999': 'commute_public_transit_earnings_25000_to_34999',
        'Estimate!!Total:!!Public transportation (excluding taxicab):!!$35,000 to $49,999': 'commute_public_transit_earnings_35000_to_49999',
        'Estimate!!Total:!!Public transportation (excluding taxicab):!!$50,000 to $64,999': 'commute_public_transit_earnings_50000_to_64999',
        'Estimate!!Total:!!Public transportation (excluding taxicab):!!$65,000 to $74,999': 'commute_public_transit_earnings_65000_to_74999',
        'Estimate!!Total:!!Public transportation (excluding taxicab):!!$75,000 or more': 'commute_public_transit_earnings_75000_plus',

        # Other useful total commute modes (not broken down by earnings here, but overall)
        'Estimate!!Total:!!Car, truck, or van - drove alone:': 'commute_drove_alone_total',
        'Estimate!!Total:!!Car, truck, or van - carpooled:': 'commute_carpooled_total',
        'Estimate!!Total:!!Walked:': 'commute_walked_total',
        'Estimate!!Total:!!Worked from home:': 'commute_worked_from_home_total',
        'Estimate!!Total:!!Taxicab, motorcycle, bicycle, or other means:': 'commute_other_means_total'
    }

    # Apply the direct renaming. Only rename columns that exist in our DataFrame.
    acs_b08119_cleaned_df = acs_b08119_cleaned_df.rename(columns={k: v for k, v in b08119_column_rename_map.items() if k in acs_b08119_cleaned_df.columns})
    print("Columns renamed to clean, snake_case format.")

    # --- Select Key Columns for Analysis from B08119 ---
    final_b08119_cols = [
        'geo_id',
        'geographic_area_name',
        'workers_earnings_total',
        'workers_earnings_1_to_9999',
        'workers_earnings_10000_to_14999',
        'workers_earnings_15000_to_24999',
        'workers_earnings_25000_to_34999',
        'workers_earnings_35000_to_49999',
        'workers_earnings_50000_to_64999',
        'workers_earnings_65000_to_74999',
        'workers_earnings_75000_plus',
        'commute_public_transit_total',
        'commute_public_transit_earnings_1_to_9999',
        'commute_public_transit_earnings_10000_to_14999',
        'commute_public_transit_earnings_15000_to_24999',
        'commute_public_transit_earnings_25000_to_34999',
        'commute_public_transit_earnings_35000_to_49999',
        'commute_public_transit_earnings_50000_to_64999',
        'commute_public_transit_earnings_65000_to_74999',
        'commute_public_transit_earnings_75000_plus',
        'commute_drove_alone_total',
        'commute_carpooled_total',
        'commute_walked_total',
        'commute_worked_from_home_total',
        'commute_other_means_total'
    ]
    acs_b08119_cleaned_df = acs_b08119_cleaned_df[acs_b08119_cleaned_df.columns.intersection(final_b08119_cols)].copy()
    print(f"Filtered to {len(acs_b08119_cleaned_df.columns)} key earnings and commuting columns.")

    # Convert all numerical columns to numeric and fill NaNs with 0
    for col in acs_b08119_cleaned_df.columns:
        if col not in ['geo_id', 'geographic_area_name']:
            acs_b08119_cleaned_df[col] = pd.to_numeric(acs_b08119_cleaned_df[col], errors='coerce').fillna(0).astype(int)
    print("Numerical columns converted to int and NaNs filled with 0.")

    print("\n--- ACS B08119 Data Cleaned ---")
    print("Cleaned ACS B08119 DataFrame Info:")
    print(acs_b08119_cleaned_df.info())
    print("\nCleaned ACS B08119 Head:")
    print(acs_b08119_cleaned_df.head())

else:
    print("ACS B08119 DataFrame not loaded. Cleaning skipped.")

--- Cleaning ACS B08119 Data ---
Dropped 1 'Unnamed' columns.
Dropped 63 'Margin of Error' columns.
Columns renamed to clean, snake_case format.
Filtered to 25 key earnings and commuting columns.
Numerical columns converted to int and NaNs filled with 0.

--- ACS B08119 Data Cleaned ---
Cleaned ACS B08119 DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 328 entries, 0 to 327
Data columns (total 25 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   geo_id                                          328 non-null    object
 1   geographic_area_name                            328 non-null    object
 2   workers_earnings_total                          328 non-null    int32
 3   workers_earnings_1_to_9999                      328 non-null    int32
 4   workers_earnings_10000_to_14999                 328 non-null    int32
 5   workers_earnings_15000_to_24999                 328 non-null    int32
 6   workers_earnings_25000_to_34999                 328 non-null    int32
 7   workers_earnings_35000_to_49999                 328 non-null    int32
 8   workers_earnings_50000_to_64999                 328 non-null    int32
 9   workers_earnings_65000_to_74999                 328 non-null    int32
 10  workers_earnings_75000_plus                     328 non-null    int32
 11  commute_drove_alone_total                       328 non-null    int32
 12  commute_carpooled_total                         328 non-null    int32
 13  commute_public_transit_total                    328 non-null    int32
 14  commute_public_transit_earnings_1_to_9999       328 non-null    int32
 15  commute_public_transit_earnings_10000_to_14999  328 non-null    int32
 16  commute_public_transit_earnings_15000_to_24999  328 non-null    int32
 17  commute_public_transit_earnings_25000_to_34999  328 non-null    int32
 18  commute_public_transit_earnings_35000_to_49999  328 non-null    int32
 19  commute_public_transit_earnings_50000_to_64999  328 non-null    int32
 20  commute_public_transit_earnings_65000_to_74999  328 non-null    int32
 21  commute_public_transit_earnings_75000_plus      328 non-null    int32
 22  commute_walked_total                            328 non-null    int32
 23  commute_other_means_total                       328 non-null    int32
 24  commute_worked_from_home_total                  328 non-null    int32
dtypes: int32(23), object(2)
memory usage: 34.7+ KB
None

Cleaned ACS B08119 Head:
                 geo_id                      geographic_area_name  \
0  1400000US39049000110  Census Tract 1.10; Franklin County; Ohio
1  1400000US39049000120  Census Tract 1.20; Franklin County; Ohio
2  1400000US39049000210  Census Tract 2.10; Franklin County; Ohio
3  1400000US39049000220  Census Tract 2.20; Franklin County; Ohio
4  1400000US39049000310  Census Tract 3.10; Franklin County; Ohio

   workers_earnings_total  workers_earnings_1_to_9999  \
0                    2245                         130
1                    1963                         188
2                    1949                          90
3                    2405                         206
4                    1397                         123

   workers_earnings_10000_to_14999  workers_earnings_15000_to_24999  \
0                               88                              100
1                               20                               79
2                               45                              140
3                               85                              168
4                              104                              166

   workers_earnings_25000_to_34999  workers_earnings_35000_to_49999  \
0                               65                              225
1                               69                              227
2                              166                              209
3                               83                              245
4                              170                              289

   workers_earnings_50000_to_64999  workers_earnings_65000_to_74999  ...  \
0                              388                              240  ...
1                              116                              106  ...
2                              123                              127  ...
3                              365                              116  ...
4                              315                               98  ...

   commute_public_transit_earnings_10000_to_14999  \
0                                               0
1                                               0
2                                               0
3                                               0
4                                               0

   commute_public_transit_earnings_15000_to_24999  \
0                                               0
1                                               0
2                                               0
3                                               0
4                                               0

   commute_public_transit_earnings_25000_to_34999  \
0                                               0
1                                              28
2                                               0
3                                               0
4                                               0

   commute_public_transit_earnings_35000_to_49999  \
0                                               0
1                                               0
2                                              62
3                                              10
4                                               0

   commute_public_transit_earnings_50000_to_64999  \
0                                               0
1                                               0
2                                               0
3                                              21
4                                               0

   commute_public_transit_earnings_65000_to_74999  \
0                                               0
1                                               0
2                                               0
3                                               0
4                                               0

   commute_public_transit_earnings_75000_plus  commute_walked_total  \
0                                           0                     9
1                                           8                    20
2                                          68                    52
3                                           8                    31
4                                           0                     0

   commute_other_means_total  commute_worked_from_home_total
0                        157                             463
1                         16                             734
2                         52                             613
3                         76                             576
4                         18                             223

[5 rows x 25 columns]

#### Cleaning ACS_B08122 (Means of Transportation to Work by Poverty Status)

In [15]:
# --- Initial Inspection: ACS B08122 (Transportation by Poverty Status) ---
print("\n--- Initial Inspection: ACS B08122 ---")
print("\nACS B08122 Columns:")
print(acs_b08122_df.columns.tolist()) # List all column names

print("\nACS B08122 Data Types and Non-Null Counts:")
print(acs_b08122_df.info()) # Get info again for clarity

print("\nMissing Values in ACS B08122:")
print(acs_b08122_df.isnull().sum()) # Count missing values per column

print("\nFirst 5 rows of ACS B08122:")
print(acs_b08122_df.head())

--- Initial Inspection: ACS B08122 ---

ACS B08122 Columns:
['Geography', 'Geographic Area Name', 'Estimate!!Total:', 'Margin of Error!!Total:', 'Estimate!!Total:!!Below 100 percent of the poverty level', 'Margin of Error!!Total:!!Below 100 percent of the poverty level', 'Estimate!!Total:!!100 to 149 percent of the poverty level', 'Margin of Error!!Total:!!100 to 149 percent of the poverty level', 'Estimate!!Total:!!At or above 150 percent of the poverty level', 'Margin of Error!!Total:!!At or above 150 percent of the poverty level', 'Estimate!!Total:!!Car, truck, or van - drove alone:', 'Margin of Error!!Total:!!Car, truck, or van - drove alone:', 'Estimate!!Total:!!Car, truck, or van - drove alone:!!Below 100 percent of the poverty level', 'Margin of Error!!Total:!!Car, truck, or van - drove alone:!!Below 100 percent of the poverty level', 'Estimate!!Total:!!Car, truck, or van - drove alone:!!100 to 149 percent of the poverty level', 'Margin of Error!!Total:!!Car, truck, or van - drove alone:!!100 to 149 percent of the poverty level', 'Estimate!!Total:!!Car, truck, or van - drove alone:!!At or above 150 percent of the poverty level', 'Margin of Error!!Total:!!Car, truck, or van - drove alone:!!At or above 150 percent of the poverty level', 'Estimate!!Total:!!Car, truck, or van - carpooled:', 'Margin of Error!!Total:!!Car, truck, or van - carpooled:', 'Estimate!!Total:!!Car, truck, or van - carpooled:!!Below 100 percent of the poverty level', 'Margin of Error!!Total:!!Car, truck, or van - carpooled:!!Below 100 percent of the poverty level', 'Estimate!!Total:!!Car, truck, or van - carpooled:!!100 to 149 percent of the poverty level', 'Margin of Error!!Total:!!Car, truck, or van - carpooled:!!100 to 149 percent of the poverty level', 'Estimate!!Total:!!Car, truck, or van - carpooled:!!At or above 150 percent of the poverty level', 'Margin of Error!!Total:!!Car, truck, or van - carpooled:!!At or above 150 percent of the poverty level', 'Estimate!!Total:!!Public transportation (excluding taxicab):', 'Margin of Error!!Total:!!Public transportation (excluding taxicab):', 'Estimate!!Total:!!Public transportation (excluding taxicab):!!Below 100 percent of the poverty level', 'Margin of Error!!Total:!!Public transportation (excluding taxicab):!!Below 100 percent of the poverty level', 'Estimate!!Total:!!Public transportation (excluding taxicab):!!100 to 149 percent of the poverty level', 'Margin of Error!!Total:!!Public transportation (excluding taxicab):!!100 to 149 percent of the poverty level', 'Estimate!!Total:!!Public transportation (excluding taxicab):!!At or above 150 percent of the poverty level', 'Margin of Error!!Total:!!Public transportation (excluding taxicab):!!At or above 150 percent of the poverty level', 'Estimate!!Total:!!Walked:', 'Margin of Error!!Total:!!Walked:', 'Estimate!!Total:!!Walked:!!Below 100 percent of the poverty level', 'Margin of Error!!Total:!!Walked:!!Below 100 percent of the poverty level', 'Estimate!!Total:!!Walked:!!100 to 149 percent of the poverty level', 'Margin of Error!!Total:!!Walked:!!100 to 149 percent of the poverty level', 'Estimate!!Total:!!Walked:!!At or above 150 percent of the poverty level', 'Margin of Error!!Total:!!Walked:!!At or above 150 percent of the poverty level', 'Estimate!!Total:!!Taxicab, motorcycle, bicycle, or other means:', 'Margin of Error!!Total:!!Taxicab, motorcycle, bicycle, or other means:', 'Estimate!!Total:!!Taxicab, motorcycle, bicycle, or other means:!!Below 100 percent of the poverty level', 'Margin of Error!!Total:!!Taxicab, motorcycle, bicycle, or other means:!!Below 100 percent of the poverty level', 'Estimate!!Total:!!Taxicab, motorcycle, bicycle, or other means:!!100 to 149 percent of the poverty level', 'Margin of Error!!Total:!!Taxicab, motorcycle, bicycle, or other means:!!100 to 149 percent of the poverty level', 'Estimate!!Total:!!Taxicab, motorcycle, bicycle, or other means:!!At or above 150 percent of the poverty level', 'Margin of Error!!Total:!!Taxicab, motorcycle, bicycle, or other means:!!At or above 150 percent of the poverty level', 'Estimate!!Total:!!Worked from home', 'Margin of Error!!Total:!!Worked from home', 'Estimate!!Total:!!Worked from home!!Below 100 percent of the poverty level', 'Margin of Error!!Total:!!Worked from home!!Below 100 percent of the poverty level', 'Estimate!!Total:!!Worked from home!!100 to 149 percent of the poverty level', 'Margin of Error!!Total:!!Worked from home!!100 to 149 percent of the poverty level', 'Estimate!!Total:!!Worked from home!!At or above 150 percent of the poverty level', 'Margin of Error!!Total:!!Worked from home!!At or above 150 percent of the poverty level', 'Unnamed: 58']

ACS B08122 Data Types and Non-Null Counts:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 328 entries, 0 to 327
Data columns (total 59 columns):
 #   Column                                                                                                                Non-Null Count  Dtype
---  ------                                                                                                                --------------  -----
 0   Geography                                                                                                             328 non-null    object
 1   Geographic Area Name                                                                                                  328 non-null    object
 2   Estimate!!Total:                                                                                                      328 non-null    int64
 3   Margin of Error!!Total:                                                                                               328 non-null    int64
 4   Estimate!!Total:!!Below 100 percent of the poverty level                                                              328 non-null    int64
 5   Margin of Error!!Total:!!Below 100 percent of the poverty level                                                       328 non-null    int64
 6   Estimate!!Total:!!100 to 149 percent of the poverty level                                                             328 non-null    int64
 7   Margin of Error!!Total:!!100 to 149 percent of the poverty level                                                      328 non-null    int64
 8   Estimate!!Total:!!At or above 150 percent of the poverty level                                                        328 non-null    int64
 9   Margin of Error!!Total:!!At or above 150 percent of the poverty level                                                 328 non-null    int64
 10  Estimate!!Total:!!Car, truck, or van - drove alone:                                                                   328 non-null    int64
 11  Margin of Error!!Total:!!Car, truck, or van - drove alone:                                                            328 non-null    int64
 12  Estimate!!Total:!!Car, truck, or van - drove alone:!!Below 100 percent of the poverty level                           328 non-null    int64
 13  Margin of Error!!Total:!!Car, truck, or van - drove alone:!!Below 100 percent of the poverty level                    328 non-null    int64
 14  Estimate!!Total:!!Car, truck, or van - drove alone:!!100 to 149 percent of the poverty level                          328 non-null    int64
 15  Margin of Error!!Total:!!Car, truck, or van - drove alone:!!100 to 149 percent of the poverty level                   328 non-null    int64
 16  Estimate!!Total:!!Car, truck, or van - drove alone:!!At or above 150 percent of the poverty level                     328 non-null    int64
 17  Margin of Error!!Total:!!Car, truck, or van - drove alone:!!At or above 150 percent of the poverty level              328 non-null    int64
 18  Estimate!!Total:!!Car, truck, or van - carpooled:                                                                     328 non-null    int64
 19  Margin of Error!!Total:!!Car, truck, or van - carpooled:                                                              328 non-null    int64
 20  Estimate!!Total:!!Car, truck, or van - carpooled:!!Below 100 percent of the poverty level                             328 non-null    int64
 21  Margin of Error!!Total:!!Car, truck, or van - carpooled:!!Below 100 percent of the poverty level                      328 non-null    int64
 22  Estimate!!Total:!!Car, truck, or van - carpooled:!!100 to 149 percent of the poverty level                            328 non-null    int64
 23  Margin of Error!!Total:!!Car, truck, or van - carpooled:!!100 to 149 percent of the poverty level                     328 non-null    int64
 24  Estimate!!Total:!!Car, truck, or van - carpooled:!!At or above 150 percent of the poverty level                       328 non-null    int64
 25  Margin of Error!!Total:!!Car, truck, or van - carpooled:!!At or above 150 percent of the poverty level                328 non-null    int64
 26  Estimate!!Total:!!Public transportation (excluding taxicab):                                                          328 non-null    int64
 27  Margin of Error!!Total:!!Public transportation (excluding taxicab):                                                   328 non-null    int64
 28  Estimate!!Total:!!Public transportation (excluding taxicab):!!Below 100 percent of the poverty level                  328 non-null    int64
 29  Margin of Error!!Total:!!Public transportation (excluding taxicab):!!Below 100 percent of the poverty level           328 non-null    int64
 30  Estimate!!Total:!!Public transportation (excluding taxicab):!!100 to 149 percent of the poverty level                 328 non-null    int64
 31  Margin of Error!!Total:!!Public transportation (excluding taxicab):!!100 to 149 percent of the poverty level          328 non-null    int64
 32  Estimate!!Total:!!Public transportation (excluding taxicab):!!At or above 150 percent of the poverty level            328 non-null    int64
 33  Margin of Error!!Total:!!Public transportation (excluding taxicab):!!At or above 150 percent of the poverty level     328 non-null    int64
 34  Estimate!!Total:!!Walked:                                                                                             328 non-null    int64
 35  Margin of Error!!Total:!!Walked:                                                                                      328 non-null    int64
 36  Estimate!!Total:!!Walked:!!Below 100 percent of the poverty level                                                     328 non-null    int64
 37  Margin of Error!!Total:!!Walked:!!Below 100 percent of the poverty level                                              328 non-null    int64
 38  Estimate!!Total:!!Walked:!!100 to 149 percent of the poverty level                                                    328 non-null    int64
 39  Margin of Error!!Total:!!Walked:!!100 to 149 percent of the poverty level                                             328 non-null    int64
 40  Estimate!!Total:!!Walked:!!At or above 150 percent of the poverty level                                               328 non-null    int64
 41  Margin of Error!!Total:!!Walked:!!At or above 150 percent of the poverty level                                        328 non-null    int64
 42  Estimate!!Total:!!Taxicab, motorcycle, bicycle, or other means:                                                       328 non-null    int64
 43  Margin of Error!!Total:!!Taxicab, motorcycle, bicycle, or other means:                                                328 non-null    int64
 44  Estimate!!Total:!!Taxicab, motorcycle, bicycle, or other means:!!Below 100 percent of the poverty level               328 non-null    int64
 45  Margin of Error!!Total:!!Taxicab, motorcycle, bicycle, or other means:!!Below 100 percent of the poverty level        328 non-null    int64
 46  Estimate!!Total:!!Taxicab, motorcycle, bicycle, or other means:!!100 to 149 percent of the poverty level              328 non-null    int64
 47  Margin of Error!!Total:!!Taxicab, motorcycle, bicycle, or other means:!!100 to 149 percent of the poverty level       328 non-null    int64
 48  Estimate!!Total:!!Taxicab, motorcycle, bicycle, or other means:!!At or above 150 percent of the poverty level         328 non-null    int64
 49  Margin of Error!!Total:!!Taxicab, motorcycle, bicycle, or other means:!!At or above 150 percent of the poverty level  328 non-null    int64
 50  Estimate!!Total:!!Worked from home                                                                                    328 non-null    int64
 51  Margin of Error!!Total:!!Worked from home                                                                             328 non-null    int64
 52  Estimate!!Total:!!Worked from home!!Below 100 percent of the poverty level                                            328 non-null    int64
 53  Margin of Error!!Total:!!Worked from home!!Below 100 percent of the poverty level                                     328 non-null    int64
 54  Estimate!!Total:!!Worked from home!!100 to 149 percent of the poverty level                                           328 non-null    int64
 55  Margin of Error!!Total:!!Worked from home!!100 to 149 percent of the poverty level                                    328 non-null    int64
 56  Estimate!!Total:!!Worked from home!!At or above 150 percent of the poverty level                                      328 non-null    int64
 57  Margin of Error!!Total:!!Worked from home!!At or above 150 percent of the poverty level                               328 non-null    int64
 58  Unnamed: 58                                                                                                           0 non-null      float64
dtypes: float64(1), int64(56), object(2)
memory usage: 151.3+ KB
None

Missing Values in ACS B08122:
Geography                                                                                                                 0
Geographic Area Name                                                                                                      0
Estimate!!Total:                                                                                                          0
Margin of Error!!Total:                                                                                                   0
Estimate!!Total:!!Below 100 percent of the poverty level                                                                  0
Margin of Error!!Total:!!Below 100 percent of the poverty level                                                           0
Estimate!!Total:!!100 to 149 percent of the poverty level                                                                 0
Margin of Error!!Total:!!100 to 149 percent of the poverty level                                                          0
Estimate!!Total:!!At or above 150 percent of the poverty level                                                            0
Margin of Error!!Total:!!At or above 150 percent of the poverty level                                                     0
Estimate!!Total:!!Car, truck, or van - drove alone:                                                                       0
Margin of Error!!Total:!!Car, truck, or van - drove alone:                                                                0
Estimate!!Total:!!Car, truck, or van - drove alone:!!Below 100 percent of the poverty level                               0
Margin of Error!!Total:!!Car, truck, or van - drove alone:!!Below 100 percent of the poverty level                        0
Estimate!!Total:!!Car, truck, or van - drove alone:!!100 to 149 percent of the poverty level                              0
Margin of Error!!Total:!!Car, truck, or van - drove alone:!!100 to 149 percent of the poverty level                       0
Estimate!!Total:!!Car, truck, or van - drove alone:!!At or above 150 percent of the poverty level                         0
Margin of Error!!Total:!!Car, truck, or van - drove alone:!!At or above 150 percent of the poverty level                  0
Estimate!!Total:!!Car, truck, or van - carpooled:                                                                         0
Margin of Error!!Total:!!Car, truck, or van - carpooled:                                                                  0
Estimate!!Total:!!Car, truck, or van - carpooled:!!Below 100 percent of the poverty level                                 0
Margin of Error!!Total:!!Car, truck, or van - carpooled:!!Below 100 percent of the poverty level                          0
Estimate!!Total:!!Car, truck, or van - carpooled:!!100 to 149 percent of the poverty level                                0
Margin of Error!!Total:!!Car, truck, or van - carpooled:!!100 to 149 percent of the poverty level                         0
Estimate!!Total:!!Car, truck, or van - carpooled:!!At or above 150 percent of the poverty level                           0
Margin of Error!!Total:!!Car, truck, or van - carpooled:!!At or above 150 percent of the poverty level                    0
Estimate!!Total:!!Public transportation (excluding taxicab):                                                              0
Margin of Error!!Total:!!Public transportation (excluding taxicab):                                                       0
Estimate!!Total:!!Public transportation (excluding taxicab):!!Below 100 percent of the poverty level                      0
Margin of Error!!Total:!!Public transportation (excluding taxicab):!!Below 100 percent of the poverty level               0
Estimate!!Total:!!Public transportation (excluding taxicab):!!100 to 149 percent of the poverty level                     0
Margin of Error!!Total:!!Public transportation (excluding taxicab):!!100 to 149 percent of the poverty level              0
Estimate!!Total:!!Public transportation (excluding taxicab):!!At or above 150 percent of the poverty level                0
Margin of Error!!Total:!!Public transportation (excluding taxicab):!!At or above 150 percent of the poverty level         0
Estimate!!Total:!!Walked:                                                                                                 0
Margin of Error!!Total:!!Walked:                                                                                          0
Estimate!!Total:!!Walked:!!Below 100 percent of the poverty level                                                         0
Margin of Error!!Total:!!Walked:!!Below 100 percent of the poverty level                                                  0
Estimate!!Total:!!Walked:!!100 to 149 percent of the poverty level                                                        0
Margin of Error!!Total:!!Walked:!!100 to 149 percent of the poverty level                                                 0
Estimate!!Total:!!Walked:!!At or above 150 percent of the poverty level                                                   0
Margin of Error!!Total:!!Walked:!!At or above 150 percent of the poverty level                                            0
Estimate!!Total:!!Taxicab, motorcycle, bicycle, or other means:                                                           0
Margin of Error!!Total:!!Taxicab, motorcycle, bicycle, or other means:                                                    0
Estimate!!Total:!!Taxicab, motorcycle, bicycle, or other means:!!Below 100 percent of the poverty level                   0
Margin of Error!!Total:!!Taxicab, motorcycle, bicycle, or other means:!!Below 100 percent of the poverty level            0
Estimate!!Total:!!Taxicab, motorcycle, bicycle, or other means:!!100 to 149 percent of the poverty level                  0
Margin of Error!!Total:!!Taxicab, motorcycle, bicycle, or other means:!!100 to 149 percent of the poverty level           0
Estimate!!Total:!!Taxicab, motorcycle, bicycle, or other means:!!At or above 150 percent of the poverty level             0
Margin of Error!!Total:!!Taxicab, motorcycle, bicycle, or other means:!!At or above 150 percent of the poverty level      0

In [16]:
# --- Clean ACS B08122 (Means of Transportation to Work by Poverty Status) Data ---
print("\n--- Cleaning ACS B08122 Data ---")
if acs_b08122_df is not None:
    acs_b08122_cleaned_df = acs_b08122_df.copy() # Create a copy to work on

    # Drop 'Unnamed' columns if they exist and are empty
    cols_to_drop_unnamed = [col for col in acs_b08122_cleaned_df.columns if 'Unnamed' in col and acs_b08122_cleaned_df[col].isnull().all()]
    if cols_to_drop_unnamed:
        acs_b08122_cleaned_df = acs_b08122_cleaned_df.drop(columns=cols_to_drop_unnamed)
        print(f"Dropped {len(cols_to_drop_unnamed)} 'Unnamed' columns.")

    # Drop Margin of Error columns
    cols_to_drop_moe = [col for col in acs_b08122_cleaned_df.columns if 'Margin of Error' in col]
    acs_b08122_cleaned_df = acs_b08122_cleaned_df.drop(columns=cols_to_drop_moe)
    print(f"Dropped {len(cols_to_drop_moe)} 'Margin of Error' columns.")

    # --- Direct Mapping for B08122 Column Renaming ---
    # This maps the EXACT original column names to your desired clean, snake_case names.
    b08122_column_rename_map = {
        'Geography': 'geo_id',
        'Geographic Area Name': 'geographic_area_name',
        
        # Total Workers by Poverty Level (Universe: Workers 16 years and over)
        'Estimate!!Total:': 'workers_poverty_total', # Overall total workers
        'Estimate!!Total:!!Below 100 percent of the poverty level': 'workers_poverty_below_100',
        'Estimate!!Total:!!100 to 149 percent of the poverty level': 'workers_poverty_100_to_149',
        'Estimate!!Total:!!At or above 150 percent of the poverty level': 'workers_poverty_above_150',

        # Commute by Public Transportation (excluding taxicab) by Poverty Level
        'Estimate!!Total:!!Public transportation (excluding taxicab):': 'commute_public_transit_total', # Total public transit commuters (all poverty levels)
        'Estimate!!Total:!!Public transportation (excluding taxicab):!!Below 100 percent of the poverty level': 'commute_public_transit_poverty_below_100',
        'Estimate!!Total:!!Public transportation (excluding taxicab):!!100 to 149 percent of the poverty level': 'commute_public_transit_poverty_100_to_149',
        'Estimate!!Total:!!Public transportation (excluding taxicab):!!At or above 150 percent of the poverty level': 'commute_public_transit_poverty_above_150',

        # Other useful total commute modes (not broken down by poverty level here, but overall)
        'Estimate!!Total:!!Car, truck, or van - drove alone:': 'commute_drove_alone_total',
        'Estimate!!Total:!!Car, truck, or van - carpooled:': 'commute_carpooled_total',
        'Estimate!!Total:!!Walked:': 'commute_walked_total',
        'Estimate!!Total:!!Worked from home:': 'commute_worked_from_home_total',
        'Estimate!!Total:!!Taxicab, motorcycle, bicycle, or other means:': 'commute_other_means_total'
    }

    # Apply the direct renaming. Only rename columns that exist in our DataFrame.
    acs_b08122_cleaned_df = acs_b08122_cleaned_df.rename(columns={k: v for k, v in b08122_column_rename_map.items() if k in acs_b08122_cleaned_df.columns})
    print("Columns renamed to clean, snake_case format.")

    # --- Select Key Columns for Analysis from B08122 ---
    final_b08122_cols = [
        'geo_id',
        'geographic_area_name',
        'workers_poverty_total',
        'workers_poverty_below_100',
        'workers_poverty_100_to_149',
        'workers_poverty_above_150',
        'commute_public_transit_total',
        'commute_public_transit_poverty_below_100',
        'commute_public_transit_poverty_100_to_149',
        'commute_public_transit_poverty_above_150',
        'commute_drove_alone_total',
        'commute_carpooled_total',
        'commute_walked_total',
        'commute_worked_from_home_total',
        'commute_other_means_total'
    ]
    acs_b08122_cleaned_df = acs_b08122_cleaned_df[acs_b08122_cleaned_df.columns.intersection(final_b08122_cols)].copy()
    print(f"Filtered to {len(acs_b08122_cleaned_df.columns)} key poverty and commuting columns.")

    # Convert all numerical columns to numeric and fill NaNs with 0
    for col in acs_b08122_cleaned_df.columns:
        if col not in ['geo_id', 'geographic_area_name']:
            acs_b08122_cleaned_df[col] = pd.to_numeric(acs_b08122_cleaned_df[col], errors='coerce').fillna(0).astype(int)
    print("Numerical columns converted to int and NaNs filled with 0.")

    print("\n--- ACS B08122 Data Cleaned ---")
    print("Cleaned ACS B08122 DataFrame Info:")
    print(acs_b08122_cleaned_df.info())
    print("\nCleaned ACS B08122 Head:")
    print(acs_b08122_cleaned_df.head())

else:
    print("ACS B08122 DataFrame not loaded. Cleaning skipped.")

--- Cleaning ACS B08122 Data ---
Dropped 1 'Unnamed' columns.
Dropped 28 'Margin of Error' columns.
Columns renamed to clean, snake_case format.
Filtered to 14 key poverty and commuting columns.
Numerical columns converted to int and NaNs filled with 0.

--- ACS B08122 Data Cleaned ---
Cleaned ACS B08122 DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 328 entries, 0 to 327
Data columns (total 14 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   geo_id                                     328 non-null    object
 1   geographic_area_name                       328 non-null    object
 2   workers_poverty_total                      328 non-null    int32
 3   workers_poverty_below_100                  328 non-null    int32
 4   workers_poverty_100_to_149                 328 non-null    int32
 5   workers_poverty_above_150                  328 non-null    int32
 6   commute_drove_alone_total                  328 non-null    int32
 7   commute_carpooled_total                    328 non-null    int32
 8   commute_public_transit_total               328 non-null    int32
 9   commute_public_transit_poverty_below_100   328 non-null    int32
 10  commute_public_transit_poverty_100_to_149  328 non-null    int32
 11  commute_public_transit_poverty_above_150   328 non-null    int32
 12  commute_walked_total                       328 non-null    int32
 13  commute_other_means_total                  328 non-null    int32
dtypes: int32(12), object(2)
memory usage: 20.6+ KB
None

Cleaned ACS B08122 Head:
                 geo_id                      geographic_area_name  \
0  1400000US39049000110  Census Tract 1.10; Franklin County; Ohio
1  1400000US39049000120  Census Tract 1.20; Franklin County; Ohio
2  1400000US39049000210  Census Tract 2.10; Franklin County; Ohio
3  1400000US39049000220  Census Tract 2.20; Franklin County; Ohio
4  1400000US39049000310  Census Tract 3.10; Franklin County; Ohio

   workers_poverty_total  workers_poverty_below_100  \
0                   2245                         77
1                   1963                         79
2                   1949                         35
3                   2405                         54
4                   1397                        121

   workers_poverty_100_to_149  workers_poverty_above_150  \
0                           6                       2162
1                          30                       1854
2                          51                       1863
3                          73                       2278
4                          49                       1227

   commute_drove_alone_total  commute_carpooled_total  \
0                       1551                       56
1                       1114                       43
2                        978                      124
3                       1530                      153
4                        979                      177

   commute_public_transit_total  commute_public_transit_poverty_below_100  \
0                             9                                         0
1                            36                                         0
2                           130                                         0
3                            39                                         0
4                             0                                         0

   commute_public_transit_poverty_100_to_149  \
0                                          0
1                                          0
2                                          0
3                                          0
4                                          0

   commute_public_transit_poverty_above_150  commute_walked_total  \
0                                         9                     9
1                                        36                    20
2                                       130                    52
3                                        39                    31
4                                         0                     0

   commute_other_means_total
0                        157
1                         16
2                         52
3                         76
4                         18

#### Cleaning Decennial DHC Data

In [17]:
# --- Clean Decennial DHC2020.P1 Data (Comprehensive) ---
print("\n--- Cleaning Decennial DHC2020.P1 Data ---")
if decennial_dhc_p1_df is not None:
    decennial_dhc_p1_cleaned_df = decennial_dhc_p1_df.copy() # Create a copy to work on

    # Drop 'Unnamed' columns if they exist and are empty
    # Ensure this uses the current DataFrame for check
    cols_to_drop_unnamed = [col for col in decennial_dhc_p1_cleaned_df.columns if 'Unnamed' in col and decennial_dhc_p1_cleaned_df[col].isnull().all()]
    if cols_to_drop_unnamed:
        decennial_dhc_p1_cleaned_df = decennial_dhc_p1_cleaned_df.drop(columns=cols_to_drop_unnamed)
        print(f"Dropped {len(cols_to_drop_unnamed)} 'Unnamed' columns.")

    # 1. Standardize column names
    rename_map = {
        'Geography': 'geo_id',
        'Geographic Area Name': 'geographic_area_name'
    }
    
    # --- ROBUSTLY FIND AND RENAME THE TOTAL POPULATION COLUMN ---
    population_col_original_name = None
    for col in decennial_dhc_p1_cleaned_df.columns:
        # Look for a column that contains 'Total' but is not an 'Error', 'Margin', or 'Percent' column
        # This handles '!!Total' or 'Total' after load_csv's potential processing (which is currently off)
        if 'Total' in str(col) and \
           'Error' not in str(col) and \
           'Margin' not in str(col) and \
           'Percent' not in str(col) and \
           str(col) != 'Geography' and str(col) != 'Geographic Area Name':
            
            rename_map[col] = 'total_pop_2020'
            population_col_original_name = col # Store the actual found name for verification
            print(f"Identified and mapped original population column '{col}' to 'total_pop_2020'.")
            break # Stop after finding the first match
    
    if not population_col_original_name:
        print("Warning: Original total population column (containing 'Total' and not error/percent terms) not found for renaming.")

    # Apply the rename map
    decennial_dhc_p1_cleaned_df = decennial_dhc_p1_cleaned_df.rename(columns={k: v for k, v in rename_map.items() if k in decennial_dhc_p1_cleaned_df.columns})
    print("Columns renamed.")

    # 2. Select only the necessary columns (final filter)
    final_dhc_cols = ['geo_id', 'geographic_area_name', 'total_pop_2020']
    
    # Use intersection to ensure robustness
    decennial_dhc_p1_cleaned_df = decennial_dhc_p1_cleaned_df[decennial_dhc_p1_cleaned_df.columns.intersection(final_dhc_cols)].copy()
    print(f"Filtered to {len(decennial_dhc_p1_cleaned_df.columns)} key columns.")

    # 3. Convert population column to numeric and fill NaNs
    if 'total_pop_2020' in decennial_dhc_p1_cleaned_df.columns:
        decennial_dhc_p1_cleaned_df['total_pop_2020'] = pd.to_numeric(decennial_dhc_p1_cleaned_df['total_pop_2020'], errors='coerce').fillna(0).astype(int)
        print("Population column converted to numeric and NaNs filled.")
    else:
        print("Warning: 'total_pop_2020' column not found in final DataFrame. This means it was either not identified or filtered out.")

    print("\n--- Decennial DHC2020.P1 Data Cleaned ---")

--- Cleaning Decennial DHC2020.P1 Data ---
Dropped 1 'Unnamed' columns.
Identified and mapped original population column ' !!Total' to 'total_pop_2020'.
Columns renamed.
Filtered to 3 key columns.
Population column converted to numeric and NaNs filled.

--- Decennial DHC2020.P1 Data Cleaned ---

#### Cleaning MORPC TAZ Forecast Data

In [18]:
# --- Initial Inspection: MORPC TAZ Forecast Data ---
print("\n--- Initial Inspection: MORPC TAZ Forecasts ---")
print("\nMORPC TAZ Columns:")
print(morpc_taz_gdf.columns.tolist()) # List all column names

print("\nMORPC TAZ Data Types and Non-Null Counts:")
print(morpc_taz_gdf.info()) # Get info for raw DataFrame

print("\nMissing Values in MORPC TAZ:")
print(morpc_taz_gdf.isnull().sum()) # Count missing values per column

print("\nFirst 5 rows of MORPC TAZ Data:")
print(morpc_taz_gdf.head())

--- Initial Inspection: MORPC TAZ Forecasts ---

MORPC TAZ Columns:
['TraffDist', 'county', 'TAZ2020', 'Centroid20', 'TAZ2020_N', 'MPO', 'POP2021', 'U182021', 'A18642021', 'O652021', 'POPGQ2021', 'WRK2021', 'HHINC2021', 'TOTHH2021', 'K8ENR2021', 'HSENR2021', 'ENRUNV21', 'OFF2021', 'RTG2021', 'RTS2021', 'IND2021', 'OTH2021', 'POP2025', 'U182025', 'A18642025', 'O652025', 'POPGQ2025', 'WRK2025', 'HHINC2025', 'TOTHH2025', 'K8ENR2025', 'HSENR2025', 'ENRUNV25', 'OFF2025', 'RTG2025', 'RTS2025', 'IND2025', 'OTH2025', 'POP2030', 'U182030', 'A18642030', 'O652030', 'POPGQ2030', 'WRK2030', 'HHINC2030', 'TOTHH2030', 'K8ENR2030', 'HSENR2030', 'ENRUNV30', 'OFF2030', 'RTG2030', 'RTS2030', 'IND2030', 'OTH2030', 'POP2035', 'U182035', 'A18642035', 'O652035', 'POPGQ2035', 'WRK2035', 'HHINC2035', 'TOTHH2035', 'K8ENR2035', 'HSENR2035', 'ENRUNV35', 'OFF2035', 'RTG2035', 'RTS2035', 'IND2035', 'OTH2035', 'POP2040', 'U182040', 'A18642040', 'O652040', 'POPGQ2040', 'WRK2040', 'HHINC2040', 'TOTHH2040', 'K8ENR2040', 'HSENR2040', 'ENRUNV40', 'OFF2040', 'RTG2040', 'RTS2040', 'IND2040', 'OTH2040', 'POP2045', 'U182045', 'A18642045', 'O652045', 'POPGQ2045', 'WRK2045', 'HHINC2045', 'TOTHH2045', 'K8ENR2045', 'HSENR2045', 'ENRUNV45', 'OFF2045', 'RTG2045', 'RTS2045', 'IND2045', 'OTH2045', 'POP2050', 'U182050', 'A18642050', 'O652050', 'POPGQ2050', 'WRK2050', 'HHINC2050', 'TOTHH2050', 'K8ENR2050', 'HSENR2050', 'ENRUNV50', 'OFF2050', 'RTG2050', 'RTS2050', 'IND2050', 'OTH2050', 'Jobs2021', 'Jobs2050', 'TAZacre', 'Job2150Gr', 'Job2150GD', 'Pop2150Gr', 'Jobs21n', 'Jobs30n', 'Jobs40n', 'Jobs50n', 'Job21dp', 'Job30dp', 'Job40dp', 'Job50dp', 'geometry']

MORPC TAZ Data Types and Non-Null Counts:
<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 2469 entries, 0 to 2468
Columns: 133 entries, TraffDist to geometry
dtypes: float64(73), geometry(1), int32(2), int64(11), object(46)
memory usage: 2.5+ MB
None

Missing Values in MORPC TAZ:
TraffDist     0
county        0
TAZ2020       0
Centroid20    0
TAZ2020_N     0
             ..
Job21dp       0
Job30dp       0
Job40dp       0
Job50dp       0
geometry      0
Length: 133, dtype: int64

First 5 rows of MORPC TAZ Data:
  TraffDist county TAZ2020  Centroid20  TAZ2020_N  MPO  POP2021  U182021  \
0        87    UNI   87011        2098      87011    2    150.0       63
1        87    UNI   87019        2106      87019    2   6598.0     2353
2        87    UNI   87018        2105      87018    2     39.0       22
3        87    UNI   87017        2104      87017    2    135.0       59
4        87    UNI   87007        2094      87007    2    121.0       59

   A18642021  O652021  ...  Pop2150Gr  Jobs21n  Jobs30n  Jobs40n  Jobs50n  \
0         18       69  ...        444        0        0        0        0
1       3900      345  ...        595      490      560      640      650
2          0       17  ...        363        5       15       15       20
3          0       76  ...        131        0        0        0        0
4          0       62  ...         86        0        0        0        5

   Job21dp  Job30dp Job40dp Job50dp  \
0   Lowest   Lowest  Lowest  Lowest
1   Medium   Medium  Medium  Medium
2   Lowest   Lowest  Lowest     Low
3      Low   Lowest  Lowest  Lowest
4   Lowest   Lowest  Lowest  Lowest

                                            geometry
0  POLYGON ((1718945.454 819566.559, 1718889.488 ...
1  POLYGON ((1724184.293 829444.912, 1724187.53 8...
2  POLYGON ((1732537.662 834874.43, 1732376.512 8...
3  POLYGON ((1745913.727 832881.498, 1746017.775 ...
4  POLYGON ((1753260.63 832094.391, 1753260.797 8...

[5 rows x 133 columns]

In [19]:
# --- Clean MORPC TAZ Forecast Data ---
print("\n--- Cleaning MORPC TAZ Forecast Data ---")
morpc_taz_cleaned_gdf = morpc_taz_gdf.copy() # Create a copy to work on

# 1. Rename Columns using the provided data dictionary aliases
# We'll create a direct mapping from the raw column name to the alias
taz_column_rename_map = {
    'TraffDist': 'traffic_district',
    'county': 'county_name',
    'TAZ2020': 'taz_id', # This is your primary TAZ identifier
    'Centroid20': 'taz_centroid_id',
    'TAZ2020_N': 'taz_numeric_id', # A numeric version of TAZ ID
    'MPO': 'mpo_code', # Metropolitan Planning Organization code
    
    # Population Forecasts by Year
    'POP2021': 'pop_2021',
    'U182021': 'pop_under_18_2021',
    'A18642021': 'pop_18_to_64_2021',
    'O652021': 'pop_over_65_2021',
    'POPGQ2021': 'pop_group_quarters_2021', # Group Quarters (e.g., dorms, prisons)
    'POP2025': 'pop_2025',
    'U182025': 'pop_under_18_2025',
    'A18642025': 'pop_18_to_64_2025',
    'O652025': 'pop_over_65_2025',
    'POPGQ2025': 'pop_group_quarters_2025',
    'POP2030': 'pop_2030',
    'U182030': 'pop_under_18_2030',
    'A18642030': 'pop_18_to_64_2030',
    'O652030': 'pop_over_65_2030',
    'POPGQ2030': 'pop_group_quarters_2030',
    'POP2035': 'pop_2035',
    'U182035': 'pop_under_18_2035',
    'A18642035': 'pop_18_to_64_2035',
    'O652035': 'pop_over_65_2035',
    'POPGQ2035': 'pop_group_quarters_2035',
    'POP2040': 'pop_2040',
    'U182040': 'pop_under_18_2040',
    'A18642040': 'pop_18_to_64_2040',
    'O652040': 'pop_over_65_2040',
    'POPGQ2040': 'pop_group_quarters_2040',
    'POP2045': 'pop_2045',
    'U182045': 'pop_under_18_2045',
    'A18642045': 'pop_18_to_64_2045',
    'O652045': 'pop_over_65_2045',
    'POPGQ2045': 'pop_group_quarters_2045',
    'POP2050': 'pop_2050',
    'U182050': 'pop_under_18_2050',
    'A18642050': 'pop_18_to_64_2050',
    'O652050': 'pop_over_65_2050',
    'POPGQ2050': 'pop_group_quarters_2050',

    # Job Forecasts by Year and Type
    'WRK2021': 'jobs_total_2021',
    'OFF2021': 'jobs_office_2021',
    'RTG2021': 'jobs_retail_goods_2021',
    'RTS2021': 'jobs_retail_service_2021',
    'IND2021': 'jobs_industrial_2021',
    'OTH2021': 'jobs_other_2021',
    'WRK2025': 'jobs_total_2025',
    'OFF2025': 'jobs_office_2025',
    'RTG2025': 'jobs_retail_goods_2025',
    'RTS2025': 'jobs_retail_service_2025',
    'IND2025': 'jobs_industrial_2025',
    'OTH2025': 'jobs_other_2025',
    'WRK2030': 'jobs_total_2030',
    'OFF2030': 'jobs_office_2030',
    'RTG2030': 'jobs_retail_goods_2030',
    'RTS2030': 'jobs_retail_service_2030',
    'IND2030': 'jobs_industrial_2030',
    'OTH2030': 'jobs_other_2030',
    'WRK2035': 'jobs_total_2035',
    'OFF2035': 'jobs_office_2035',
    'RTG2035': 'jobs_retail_goods_2035',
    'RTS2035': 'jobs_retail_service_2035',
    'IND2035': 'jobs_industrial_2035',
    'OTH2035': 'jobs_other_2035',
    'WRK2040': 'jobs_total_2040',
    'OFF2040': 'jobs_office_2040',
    'RTG2040': 'jobs_retail_goods_2040',
    'RTS2040': 'jobs_retail_service_2040',
    'IND2040': 'jobs_industrial_2040',
    'OTH2040': 'jobs_other_2040',
    'WRK2045': 'jobs_total_2045',
    'OFF2045': 'jobs_office_2045',
    'RTG2045': 'jobs_retail_goods_2045',
    'RTS2045': 'jobs_retail_service_2045',
    'IND2045': 'jobs_industrial_2045',
    'OTH2045': 'jobs_other_2045',
    'WRK2050': 'jobs_total_2050',
    'OFF2050': 'jobs_office_2050',
    'RTG2050': 'jobs_retail_goods_2050',
    'RTS2050': 'jobs_retail_service_2050',
    'IND2050': 'jobs_industrial_2050',
    'OTH2050': 'jobs_other_2050',
    'Jobs2021': 'jobs_total_raw_2021', # Keep raw if needed for comparison to WRK2021
    'Jobs2050': 'jobs_total_raw_2050', # Keep raw if needed for comparison to WRK2050

    # Household Data
    'HHINC2021': 'household_income_2021',
    'TOTHH2021': 'households_total_2021',
    'HHINC2025': 'household_income_2025',
    'TOTHH2025': 'households_total_2025',
    'HHINC2030': 'household_income_2030',
    'TOTHH2030': 'households_total_2030',
    'HHINC2035': 'household_income_2035',
    'TOTHH2035': 'households_total_2035',
    'HHINC2040': 'household_income_2040',
    'TOTHH2040': 'households_total_2040',
    'HHINC2045': 'household_income_2045',
    'TOTHH2045': 'households_total_2045',
    'HHINC2050': 'household_income_2050',
    'TOTHH2050': 'households_total_2050',

    # School Enrollment Data (Univ enrollment is highly relevant for Columbus)
    'K8ENR2021': 'enroll_k8_2021',
    'HSENR2021': 'enroll_hs_2021',
    'ENRUNV21': 'enroll_univ_2021',
    'K8ENR2025': 'enroll_k8_2025',
    'HSENR25': 'enroll_hs_2025', # Correcting potential typo in provided alias HSENR25 vs HSENR2025
    'ENRUNV25': 'enroll_univ_2025',
    'K8ENR2030': 'enroll_k8_2030',
    'HSENR2030': 'enroll_hs_2030',
    'ENRUNV30': 'enroll_univ_2030',
    'K8ENR2035': 'enroll_k8_2035',
    'HSENR2035': 'enroll_hs_2035',
    'ENRUNV35': 'enroll_univ_2035',
    'K8ENR2040': 'enroll_k8_2040',
    'HSENR2040': 'enroll_hs_2040',
    'ENRUNV40': 'enroll_univ_2040',
    'K8ENR2045': 'enroll_k8_2045',
    'HSENR2045': 'enroll_hs_2045',
    'ENRUNV45': 'enroll_univ_2045',
    'K8ENR2050': 'enroll_k8_2050',
    'HSENR2050': 'enroll_hs_2050',
    'ENRUNV50': 'enroll_univ_2050',

    # Growth and Density Indicators
    'Job2150Gr': 'job_growth_21_50_category', # String like 'Lowest', 'Medium'
    'Job2150GD': 'job_growth_by_acre_21_50_category', # String like 'Lowest', 'Medium'
    'Pop2150Gr': 'pop_growth_21_50_total', # Integer
    'Jobs21n': 'jobs_2021_number',
    'Jobs30n': 'jobs_2030_number',
    'Jobs40n': 'jobs_2040_number',
    'Jobs50n': 'jobs_2050_number',
    'Job21dp': 'jobs_2021_density_category', # String like 'Lowest', 'Medium'
    'Job30dp': 'jobs_2030_density_category',
    'Job40dp': 'jobs_2040_density_category',
    'Job50dp': 'jobs_2050_density_category',
    'TAZacre': 'taz_acres',
    'Shape__Area': 'shape_area',
    'Shape__Length': 'shape_length'
}

# Apply the direct renaming. Only rename columns that exist in our GeoDataFrame.
morpc_taz_cleaned_gdf = morpc_taz_cleaned_gdf.rename(columns={k: v for k, v in taz_column_rename_map.items() if k in morpc_taz_cleaned_gdf.columns})
print("Columns renamed to clean, snake_case format.")

# 2. Select Key Columns for Analysis from MORPC TAZ
# We'll select a subset of population, jobs, and enrollment forecasts for key years.
# Also include the growth and density categories.
final_taz_cols_to_keep = [
    'taz_id', # Primary identifier
    'county_name', # Useful for Franklin County filtering
    'pop_2021', 'pop_2025', 'pop_2030', 'pop_2035', 'pop_2040', 'pop_2045', 'pop_2050',
    'pop_under_18_2021', 'pop_18_to_64_2021', 'pop_over_65_2021', # Age breakdowns for 2021
    'pop_under_18_2030', 'pop_18_to_64_2030', 'pop_over_65_2030', # Age breakdowns for 2030
    'pop_under_18_2050', 'pop_18_to_64_2050', 'pop_over_65_2050', # Age breakdowns for 2050
    'pop_group_quarters_2021', 'pop_group_quarters_2030', 'pop_group_quarters_2050', # Group quarters (dorm-like)

    'jobs_total_2021', 'jobs_total_2025', 'jobs_total_2030', 'jobs_total_2035', 'jobs_total_2040', 'jobs_total_2045', 'jobs_total_2050',
    'jobs_office_2021', 'jobs_retail_goods_2021', 'jobs_retail_service_2021', 'jobs_industrial_2021', 'jobs_other_2021', # 2021 Job types
    'jobs_office_2050', 'jobs_retail_goods_2050', 'jobs_retail_service_2050', 'jobs_industrial_2050', 'jobs_other_2050', # 2050 Job types

    'households_total_2021', 'households_total_2030', 'households_total_2050',
    
    'enroll_k8_2021', 'enroll_hs_2021', 'enroll_univ_2021', # School enrollment 2021
    'enroll_univ_2030', 'enroll_univ_2050', # University enrollment forecasts

    'pop_growth_21_50_total', # Integer growth
    'job_growth_21_50_category', # Categorical growth
    'job_growth_by_acre_21_50_category', # Categorical growth by acre

    'jobs_2021_density_category', # Categorical density
    'jobs_2030_density_category',
    'jobs_2040_density_category',
    'jobs_2050_density_category',

    'taz_acres', # For calculating densities later if needed
    'geometry' # Essential for GeoDataFrame
]

# Filter to keep only the desired columns (using intersection for robustness)
morpc_taz_cleaned_gdf = morpc_taz_cleaned_gdf[morpc_taz_cleaned_gdf.columns.intersection(final_taz_cols_to_keep)].copy()
print(f"Filtered to {len(morpc_taz_cleaned_gdf.columns)} key TAZ forecast columns.")

# 3. Convert all relevant numerical columns to numeric (coerce errors to NaN, then fill with 0)
# The dictionary provided indicates types, but let's be robust
for col in morpc_taz_cleaned_gdf.columns:
    if col not in ['taz_id', 'county_name', 'job_growth_21_50_category', 'job_growth_by_acre_21_50_category',
                    'jobs_2021_density_category', 'jobs_2030_density_category', 'jobs_2040_density_category', 'jobs_2050_density_category',
                    'geometry']: # Exclude string/object and geometry columns
        morpc_taz_cleaned_gdf[col] = pd.to_numeric(morpc_taz_cleaned_gdf[col], errors='coerce').fillna(0)
        # Convert to int if appropriate for counts, after filling NaNs
        if morpc_taz_cleaned_gdf[col].dtype == 'float64':
                # Check if column contains only integers after conversion and fillna
            if (morpc_taz_cleaned_gdf[col] == morpc_taz_cleaned_gdf[col].astype(int)).all():
                morpc_taz_cleaned_gdf[col] = morpc_taz_cleaned_gdf[col].astype(int)
print("Numerical columns converted and NaNs filled.")

print("\n--- MORPC TAZ Forecast Data Cleaned ---")
print("Cleaned MORPC TAZ GeoDataFrame Info:")
print(morpc_taz_cleaned_gdf.info())
print("\nCleaned MORPC TAZ Head:")
print(morpc_taz_cleaned_gdf.head())

--- Cleaning MORPC TAZ Forecast Data ---
Columns renamed to clean, snake_case format.
Filtered to 55 key TAZ forecast columns.
Numerical columns converted and NaNs filled.

--- MORPC TAZ Forecast Data Cleaned ---
Cleaned MORPC TAZ GeoDataFrame Info:
<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 2469 entries, 0 to 2468
Data columns (total 55 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   county_name                        2469 non-null   object
 1   taz_id                             2469 non-null   object
 2   pop_2021                           2469 non-null   int32
 3   pop_under_18_2021                  2469 non-null   int64
 4   pop_18_to_64_2021                  2469 non-null   int64
 5   pop_over_65_2021                   2469 non-null   int64
 6   pop_group_quarters_2021            2469 non-null   int32
 7   jobs_total_2021                    2469 non-null   int64
 8   households_total_2021              2469 non-null   int64
 9   enroll_k8_2021                     2469 non-null   int32
 10  enroll_hs_2021                     2469 non-null   int32
 11  enroll_univ_2021                   2469 non-null   int32
 12  jobs_office_2021                   2469 non-null   int32
 13  jobs_retail_goods_2021             2469 non-null   int32
 14  jobs_retail_service_2021           2469 non-null   int32
 15  jobs_industrial_2021               2469 non-null   int32
 16  jobs_other_2021                    2469 non-null   int32
 17  pop_2025                           2469 non-null   int32
 18  jobs_total_2025                    2469 non-null   int32
 19  pop_2030                           2469 non-null   int32
 20  pop_under_18_2030                  2469 non-null   int32
 21  pop_18_to_64_2030                  2469 non-null   int32
 22  pop_over_65_2030                   2469 non-null   int32
 23  pop_group_quarters_2030            2469 non-null   int32
 24  jobs_total_2030                    2469 non-null   int32
 25  households_total_2030              2469 non-null   int32
 26  enroll_univ_2030                   2469 non-null   int32
 27  pop_2035                           2469 non-null   int32
 28  jobs_total_2035                    2469 non-null   int32
 29  pop_2040                           2469 non-null   int32
 30  jobs_total_2040                    2469 non-null   int32
 31  pop_2045                           2469 non-null   int32
 32  jobs_total_2045                    2469 non-null   int32
 33  pop_2050                           2469 non-null   int32
 34  pop_under_18_2050                  2469 non-null   int32
 35  pop_18_to_64_2050                  2469 non-null   int32
 36  pop_over_65_2050                   2469 non-null   int32
 37  pop_group_quarters_2050            2469 non-null   int32
 38  jobs_total_2050                    2469 non-null   int32
 39  households_total_2050              2469 non-null   int32
 40  enroll_univ_2050                   2469 non-null   int32
 41  jobs_office_2050                   2469 non-null   int32
 42  jobs_retail_goods_2050             2469 non-null   int32
 43  jobs_retail_service_2050           2469 non-null   int32
 44  jobs_industrial_2050               2469 non-null   int32
 45  jobs_other_2050                    2469 non-null   int32
 46  taz_acres                          2469 non-null   float64
 47  job_growth_21_50_category          2469 non-null   object
 48  job_growth_by_acre_21_50_category  2469 non-null   object
 49  pop_growth_21_50_total             2469 non-null   int64
 50  jobs_2021_density_category         2469 non-null   object
 51  jobs_2030_density_category         2469 non-null   object
 52  jobs_2040_density_category         2469 non-null   object
 53  jobs_2050_density_category         2469 non-null   object
 54  geometry                           2469 non-null   geometry
dtypes: float64(1), geometry(1), int32(39), int64(6), object(8)
memory usage: 684.9+ KB
None

Cleaned MORPC TAZ Head:
  county_name taz_id  pop_2021  pop_under_18_2021  pop_18_to_64_2021  \
0         UNI  87011       150                 63                 18
1         UNI  87019      6598               2353               3900
2         UNI  87018        39                 22                  0
3         UNI  87017       135                 59                  0
4         UNI  87007       121                 59                  0

   pop_over_65_2021  pop_group_quarters_2021  jobs_total_2021  \
0                69                        0               58
1               345                        0             3278
2                17                        0               10
3                76                        0               53
4                62                        0               43

   households_total_2021  enroll_k8_2021  ...  jobs_other_2050    taz_acres  \
0                     54               0  ...                0  1244.687404
1                   2131            1494  ...              270  1220.319744
2                     13               0  ...                0   799.589154
3                     48               0  ...                0  1718.240212
4                     45               0  ...                0  1801.386383

   job_growth_21_50_category  job_growth_by_acre_21_50_category  \
0                     Lowest                             Lowest
1                       High                             Medium
2                        Low                                Low
3                     Lowest                             Lowest
4                     Lowest                             Lowest

   pop_growth_21_50_total  jobs_2021_density_category  \
0                     444                      Lowest
1                     595                      Medium
2                     363                      Lowest
3                     131                         Low
4                      86                      Lowest

   jobs_2030_density_category  jobs_2040_density_category  \
0                      Lowest                      Lowest
1                      Medium                      Medium
2                      Lowest                      Lowest
3                      Lowest                      Lowest
4                      Lowest                      Lowest

   jobs_2050_density_category  \
0                      Lowest
1                      Medium
2                         Low
3                      Lowest
4                      Lowest

                                            geometry
0  POLYGON ((1718945.454 819566.559, 1718889.488 ...
1  POLYGON ((1724184.293 829444.912, 1724187.53 8...
2  POLYGON ((1732537.662 834874.43, 1732376.512 8...
3  POLYGON ((1745913.727 832881.498, 1746017.775 ...
4  POLYGON ((1753260.63 832094.391, 1753260.797 8...

[5 rows x 55 columns]

#### Cleaning Columbus Building Permits Data

In [20]:
# --- Initial Inspection: Columbus Building Permits Data ---
print("\n--- Initial Inspection: Columbus Building Permits ---")
print("\nColumbus Building Permits Columns:")
print(columbus_permits_gdf.columns.tolist()) # List all column names

print("\nColumbus Building Permits Data Types and Non-Null Counts:")
print(columbus_permits_gdf.info()) # Get info for raw GeoDataFrame

print("\nMissing Values in Columbus Building Permits:")
print(columbus_permits_gdf.isnull().sum()) # Count missing values per column

print("\nUnique values in key columns (e.g., B1_PER_GRO, B1_PER_TYP):")
if 'B1_PER_GRO' in columbus_permits_gdf.columns:
    print("B1_PER_GRO:", columbus_permits_gdf['B1_PER_GRO'].unique())
if 'B1_PER_TYP' in columbus_permits_gdf.columns:
    print("B1_PER_TYP:", columbus_permits_gdf['B1_PER_TYP'].unique())
if 'B1_PER_SUB' in columbus_permits_gdf.columns:
    print("B1_PER_SUB:", columbus_permits_gdf['B1_PER_SUB'].unique())
if 'B1_PER_CAT' in columbus_permits_gdf.columns:
    print("B1_PER_CAT:", columbus_permits_gdf['B1_PER_CAT'].unique())

print("\nFirst 5 rows of Columbus Building Permits Data:")
print(columbus_permits_gdf.head())

--- Initial Inspection: Columbus Building Permits ---

Columbus Building Permits Columns:
['B1_ALT_ID', 'B1_PER_GRO', 'B1_PER_TYP', 'B1_PER_SUB', 'B1_PER_CAT', 'GENERAL_TY', 'B1_PARCEL_', 'COLS_KEY', 'SITE_ADDRE', 'B1_SITUS_Z', 'PERMIT_STA', 'APPLICANT_', 'APPLICANT1', 'SQFT', 'G3_VALUE_T', 'ISSUED_YEA', 'ISSUED_DT', 'LAST_STATU', 'CONST_TYPE', 'VALUE_DESC', 'ACA_URL', 'UNITS', 'geometry']

Columbus Building Permits Data Types and Non-Null Counts:
<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 631247 entries, 0 to 631246
Data columns (total 23 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   B1_ALT_ID   631247 non-null  object
 1   B1_PER_GRO  631247 non-null  object
 2   B1_PER_TYP  631247 non-null  object
 3   B1_PER_SUB  631247 non-null  object
 4   B1_PER_CAT  631247 non-null  object
 5   GENERAL_TY  629827 non-null  object
 6   B1_PARCEL_  631247 non-null  object
 7   COLS_KEY    631247 non-null  int64
 8   SITE_ADDRE  630798 non-null  object
 9   B1_SITUS_Z  626857 non-null  object
 10  PERMIT_STA  631247 non-null  object
 11  APPLICANT_  589935 non-null  object
 12  APPLICANT1  470642 non-null  object
 13  SQFT        631247 non-null  float64
 14  G3_VALUE_T  631247 non-null  float64
 15  ISSUED_YEA  631247 non-null  int64
 16  ISSUED_DT   631247 non-null  datetime64[ms]
 17  LAST_STATU  631247 non-null  datetime64[ms]
 18  CONST_TYPE  304812 non-null  object
 19  VALUE_DESC  304644 non-null  object
 20  ACA_URL     631247 non-null  object
 21  UNITS       631247 non-null  int64
 22  geometry    631247 non-null  geometry
dtypes: datetime64[ms](2), float64(2), geometry(1), int64(3), object(15)
memory usage: 110.8+ MB
None

Missing Values in Columbus Building Permits:
B1_ALT_ID          0
B1_PER_GRO         0
B1_PER_TYP         0
B1_PER_SUB         0
B1_PER_CAT         0
GENERAL_TY      1420
B1_PARCEL_         0
COLS_KEY           0
SITE_ADDRE       449
B1_SITUS_Z      4390
PERMIT_STA         0
APPLICANT_     41312
APPLICANT1    160605
SQFT               0
G3_VALUE_T         0
ISSUED_YEA         0
ISSUED_DT          0
LAST_STATU         0
CONST_TYPE    326435
VALUE_DESC    326603
ACA_URL            0
UNITS              0
geometry           0
dtype: int64

Unique values in key columns (e.g., B1_PER_GRO, B1_PER_TYP):
B1_PER_GRO: ['Building']
B1_PER_TYP: ['Multi Family' '1,2,3 Family' 'Residential' 'Commercial' 'Demolition'
 'Festival' 'Graphics Building Wall' 'Graphics Building Ground'
 'Graphics Building Projecting' 'Graphics' 'Tent' 'Graphics Building Neon'
 'Graphics Building Roof']
B1_PER_SUB: ['MEP' 'Structural' 'Fire Protection' 'Repair Replace' 'New Construction'
 'Major Alteration' 'Minor Alteration' 'Demolition' 'Emergency'
 'Minor Limited Scope' 'NA' 'Non-Illuminated' 'Special' 'Addition'
 'Regular' 'Illuminated' 'Resurface Illuminated Sign' 'Sign' 'Graphic'
 'Resurface Non-Illuminated Sign' 'Billboard' 'Temporary'
 'Plans Examination' 'Outline Lighting']
B1_PER_CAT: ['Plumbing' 'Roof, Siding, Windows, Doors' 'Fire Alarm'
 'Mechanical Single Trade ACA' 'Alteration' 'Electrical' 'Windows, Doors'
 'Fence, Retaining Wall' 'Mechanical' 'Fire Suppression' 'New Structure'
 'Structural' 'Re-Roofing' 'NA' 'Structure' 'Garage' 'Addition'
 'Garage-Accessory' 'Dwelling' 'Environmental Air' 'Interior Renovation'
 'Window Replacement' 'Deck, Patio' 'Fireplace Stove' 'Fuel Gas Piping'
 'Roof Siding Windows Doors' 'Fire Damage' 'Festival'
 'Product Refrigeration' 'Removal Start' 'Siding' 'Temporary Structure'
 'Damage' 'Deck' 'Perimeter Drainage Tile' 'Re Roofing' 'Roof'
 'Plumbing-Water Heater' 'Final Certificate of Occupancy' 'Renovation'
 'Unheated Porch' 'Change of Use' 'Accessory Structure'
 'Advance Construction Start' 'Ventilation Exhaust System'
 'Secure Building' 'Foundation' 'Swimming Pool' 'Antenna'
 'Relocated Structure' 'Industrial Units New or Moved' 'Foundation Only'
 'Fence' 'Swimming Pools' 'Final Cert of Occupancy' 'Medical Gas Piping'
 'Parking Lot' 'Secure Permit' 'Deck or Patio' 'Retain Walls' 'Walkthru'
 'Masonry Fireplace' 'Boiler' 'Plans Revision' 'Plans Examination'
 'Plan Revision' 'CO Needed' 'Structure Project App' 'Model Home'
 'Accessory Building']

First 5 rows of Columbus Building Permits Data:
      B1_ALT_ID B1_PER_GRO    B1_PER_TYP  B1_PER_SUB  \
0  PMLSM1602159   Building  Multi Family         MEP
1  RSWDR1803525   Building  1,2,3 Family  Structural
2  PMLSM1609202   Building  Multi Family         MEP
3  RSWDR1900573   Building  1,2,3 Family  Structural
4  PMLSM1605284   Building  Multi Family         MEP

                     B1_PER_CAT            GENERAL_TY   B1_PARCEL_  COLS_KEY  \
0                      Plumbing  Multi Family - Other    010161540   1499753
1  Roof, Siding, Windows, Doors  1,2,3 Family - Other  01016569600    164423
2                      Plumbing  Multi Family - Other    010183222   1667976
3  Roof, Siding, Windows, Doors  1,2,3 Family - Other  01018562700   1012663
4                      Plumbing  Multi Family - Other    010189298   1599235

              SITE_ADDRE B1_SITUS_Z  ...   SQFT G3_VALUE_T ISSUED_YEA  \
0    3831 CHARBONNETT CT      43232  ...    0.0        0.0       2016
1         2406 BRIERS DR      43209  ...  903.0     2685.0       2018
2     5796 HALLRIDGE CIR      43232  ...    0.0        0.0       2016
3  892 CHATHAM LN UNIT C      43221  ...  375.0     2400.0       2019
4  5650 GREAT WOODS BLVD      43231  ...    0.0        0.0       2016

   ISSUED_DT  LAST_STATU  CONST_TYPE  \
0 2016-06-16  2016-06-27        None
1 2018-07-30  2018-07-30         434
2 2016-09-22  2016-09-22        None
3 2019-02-25  2021-08-23         434
4 2016-07-28  2016-08-04        None

                                          VALUE_DESC  \
0                                               None
1  Additions, Alterations and Conversions - Resid...
2                                               None
3  Additions, Alterations and Conversions - Resid...
4                                               None

                                             ACA_URL UNITS  \
0  https://ca.columbus.gov/permits/urlrouting.ash...     0
1  https://ca.columbus.gov/permits/urlrouting.ash...     0
2  https://ca.columbus.gov/permits/urlrouting.ash...     0
3  https://ca.columbus.gov/permits/urlrouting.ash...     0
4  https://ca.columbus.gov/permits/urlrouting.ash...     0

                           geometry
0  POINT (-9227758.248 4854524.908)
1  POINT (-9231598.821 4855493.593)
2  POINT (-9222060.833 4858407.367)
3  POINT (-9243573.293 4868863.698)
4  POINT (-9232966.036 4878484.105)

[5 rows x 23 columns]

In [21]:
# --- Clean Columbus Building Permits Data ---
print("\n--- Cleaning Columbus Building Permits Data ---")
if columbus_permits_gdf is not None:
    columbus_permits_cleaned_gdf = columbus_permits_gdf.copy() # Create a copy to work on

    # 1. Drop Unnecessary or High-Missing Columns (as per your decision)
    cols_to_drop_final = [
        'APPLICANT_',       # High missingness, not relevant
        'APPLICANT1',       # High missingness, not relevant
        'CONST_TYPE',       # High missingness (~50%), unreliable for direct use
        'VALUE_DESC',       # High missingness (~50%), not directly actionable
        'ACA_URL'           # Link to external URL, not for direct analysis
    ]
    # Filter to keep only columns that are actually in the DataFrame after renaming.
    columbus_permits_cleaned_gdf = columbus_permits_cleaned_gdf.drop(columns=[col for col in cols_to_drop_final if col in columbus_permits_cleaned_gdf.columns])
    print(f"Dropped {len(cols_to_drop_final)} unnecessary/high-missing columns.")

    # 2. Rename Columns to clean, snake_case names
    permits_column_rename_map = {
        'B1_ALT_ID': 'permit_id',
        'B1_PER_GRO': 'permit_group',      # e.g., 'Building'
        'B1_PER_TYP': 'permit_type',       # e.g., 'Multi Family', 'Commercial', 'Demolition'
        'B1_PER_SUB': 'permit_subtype',    # e.g., 'MEP', 'Structural', 'New Construction'
        'B1_PER_CAT': 'permit_category',   # e.g., 'Plumbing', 'New Structure', 'Alteration'
        'GENERAL_TY': 'general_type',      # e.g., 'Multi Family - Other', '1,2,3 Family - Other'
        'B1_PARCEL_': 'parcel_id',         # Parcel identifier
        'COLS_KEY': 'columbus_key_id',     # Another identifier
        'SITE_ADDRE': 'site_address',
        'B1_SITUS_Z': 'situs_zoning',      # Zoning code
        'PERMIT_STA': 'permit_status',     # e.g., 'Issued', 'Completed'
        'SQFT': 'square_footage',          # Square footage involved
        'G3_VALUE_T': 'declared_value',    # Declared value of construction
        'ISSUED_YEA': 'issued_year',
        'ISSUED_DT': 'issued_date',        # Already datetime
        'LAST_STATU': 'last_status_date',  # Already datetime
        'UNITS': 'num_units',              # Number of units (crucial for residential)
    }
    columbus_permits_cleaned_gdf = columbus_permits_cleaned_gdf.rename(columns={k: v for k, v in permits_column_rename_map.items() if k in columbus_permits_cleaned_gdf.columns})
    print("Columns renamed.")

    # 3. Handle Missing Values in remaining columns
    # Fill categorical columns with 'Unknown' where there are missing values.
    # Check if column exists first before trying to fill.
    for col in ['general_type', 'site_address', 'situs_zoning', 'permit_status']: 
        if col in columbus_permits_cleaned_gdf.columns and columbus_permits_cleaned_gdf[col].isnull().any():
            columbus_permits_cleaned_gdf[col] = columbus_permits_cleaned_gdf[col].fillna('Unknown')
    print("Missing values in selected columns handled.")

    # 4. Filter to Relevant Permit Types (Focus on development/density-impacting permits)
    # We define broad categories that indicate potential for population or job change.
    relevant_permit_keywords = [
        'Family', 'Residential', 'Commercial', 'Demolition', 'New Construction', 
        'Alteration', 'Addition', 'Structure', 'Dwelling', 'Units', 'Garage'
    ]
    
    # Create a boolean mask to filter rows. We check across several permit classification columns.
    # We want permits where *any* of the key classification columns contain a relevant keyword.
    mask_relevant_permits = columbus_permits_cleaned_gdf['permit_type'].fillna('').str.contains('|'.join(relevant_permit_keywords), case=False, regex=True) | \
                            columbus_permits_cleaned_gdf['permit_subtype'].fillna('').str.contains('|'.join(relevant_permit_keywords), case=False, regex=True) | \
                            columbus_permits_cleaned_gdf['permit_category'].fillna('').str.contains('|'.join(relevant_permit_keywords), case=False, regex=True) | \
                            columbus_permits_cleaned_gdf['general_type'].fillna('').str.contains('|'.join(relevant_permit_keywords), case=False, regex=True)
    
    columbus_permits_cleaned_gdf = columbus_permits_cleaned_gdf[mask_relevant_permits].copy()
    print(f"Filtered to {len(columbus_permits_cleaned_gdf)} relevant development-related permits.")

    # 5. Feature Engineering (Time & Value)
    columbus_permits_cleaned_gdf['issued_month'] = columbus_permits_cleaned_gdf['issued_date'].dt.month
    columbus_permits_cleaned_gdf['issued_quarter'] = columbus_permits_cleaned_gdf['issued_date'].dt.quarter
    print("Extracted issued_month and issued_quarter.")

    # Ensure num_units is numeric and handle potential zeros/NaNs if units are not applicable
    # Convert to int, coercing errors (like non-numeric entries) to NaN, then filling those NaNs with 0
    columbus_permits_cleaned_gdf['num_units'] = pd.to_numeric(columbus_permits_cleaned_gdf['num_units'], errors='coerce').fillna(0).astype(int)
    print("num_units converted to integer and NaNs filled.")

    # Calculate permit value per square foot (handle division by zero and NaNs from SQFT)
    # Use fillna(0) for square_footage before division to avoid NaN results from division by zero or NaN
    columbus_permits_cleaned_gdf['square_footage'] = pd.to_numeric(columbus_permits_cleaned_gdf['square_footage'], errors='coerce').fillna(0)
    columbus_permits_cleaned_gdf['declared_value'] = pd.to_numeric(columbus_permits_cleaned_gdf['declared_value'], errors='coerce').fillna(0)

    columbus_permits_cleaned_gdf['value_per_sqft'] = columbus_permits_cleaned_gdf.apply(
        lambda row: row['declared_value'] / row['square_footage'] if row['square_footage'] > 0 else 0, axis=1
    )
    print("Calculated value_per_sqft.")

    print("\n--- Columbus Building Permits Data Cleaned ---")
    print("Cleaned Columbus Building Permits GeoDataFrame Info:")
    print(columbus_permits_cleaned_gdf.info())
    print("\nCleaned Columbus Building Permits Head:")
    print(columbus_permits_cleaned_gdf.head())

else:
    print("Columbus Building Permits GeoDataFrame not loaded. Cleaning skipped.")

--- Cleaning Columbus Building Permits Data ---
Dropped 5 unnecessary/high-missing columns.
Columns renamed.
Missing values in selected columns handled.
Filtered to 614451 relevant development-related permits.
Extracted issued_month and issued_quarter.
num_units converted to integer and NaNs filled.
Calculated value_per_sqft.

--- Columbus Building Permits Data Cleaned ---
Cleaned Columbus Building Permits GeoDataFrame Info:
<class 'geopandas.geodataframe.GeoDataFrame'>
Index: 614451 entries, 0 to 631246
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   permit_id         614451 non-null  object
 1   permit_group      614451 non-null  object
 2   permit_type       614451 non-null  object
 3   permit_subtype    614451 non-null  object
 4   permit_category   614451 non-null  object
 5   general_type      614451 non-null  object
 6   parcel_id         614451 non-null  object
 7   columbus_key_id   614451 non-null  int64
 8   site_address      614451 non-null  object
 9   situs_zoning      614451 non-null  object
 10  permit_status     614451 non-null  object
 11  square_footage    614451 non-null  float64
 12  declared_value    614451 non-null  float64
 13  issued_year       614451 non-null  int64
 14  issued_date       614451 non-null  datetime64[ms]
 15  last_status_date  614451 non-null  datetime64[ms]
 16  num_units         614451 non-null  int32
 17  geometry          614451 non-null  geometry
 18  issued_month      614451 non-null  int32
 19  issued_quarter    614451 non-null  int32
 20  value_per_sqft    614451 non-null  float64
dtypes: datetime64[ms](2), float64(3), geometry(1), int32(3), int64(2), object(10)
memory usage: 96.1+ MB
None

Cleaned Columbus Building Permits Head:
      permit_id permit_group   permit_type permit_subtype  \
0  PMLSM1602159     Building  Multi Family            MEP
1  RSWDR1803525     Building  1,2,3 Family     Structural
2  PMLSM1609202     Building  Multi Family            MEP
3  RSWDR1900573     Building  1,2,3 Family     Structural
4  PMLSM1605284     Building  Multi Family            MEP

                permit_category          general_type    parcel_id  \
0                      Plumbing  Multi Family - Other    010161540
1  Roof, Siding, Windows, Doors  1,2,3 Family - Other  01016569600
2                      Plumbing  Multi Family - Other    010183222
3  Roof, Siding, Windows, Doors  1,2,3 Family - Other  01018562700
4                      Plumbing  Multi Family - Other    010189298

   columbus_key_id           site_address situs_zoning  ... square_footage  \
0          1499753    3831 CHARBONNETT CT        43232  ...            0.0
1           164423         2406 BRIERS DR        43209  ...          903.0
2          1667976     5796 HALLRIDGE CIR        43232  ...            0.0
3          1012663  892 CHATHAM LN UNIT C        43221  ...          375.0
4          1599235  5650 GREAT WOODS BLVD        43231  ...            0.0

   declared_value  issued_year  issued_date last_status_date num_units  \
0             0.0         2016   2016-06-16       2016-06-27         0
1          2685.0         2018   2018-07-30       2018-07-30         0
2             0.0         2016   2016-09-22       2016-09-22         0
3          2400.0         2019   2019-02-25       2021-08-23         0
4             0.0         2016   2016-07-28       2016-08-04         0

                           geometry issued_month  issued_quarter  \
0  POINT (-9227758.248 4854524.908)            6               2
1  POINT (-9231598.821 4855493.593)            7               3
2  POINT (-9222060.833 4858407.367)            9               3
3  POINT (-9243573.293 4868863.698)            2               1
4  POINT (-9232966.036 4878484.105)            7               3

   value_per_sqft
0        0.000000
1        2.973422
2        0.000000
3        6.400000
4        0.000000

[5 rows x 21 columns]

#### Cleaning FTA data

In [ ]:
# --- Initial Inspection: FTA Monthly Ridership Data ---
print("\n--- Initial Inspection: FTA Monthly Ridership ---")
print("\nFTA Monthly Ridership Columns:")
print(fta_ridership_df.columns.tolist()) # List all column names

print("\nFTA Monthly Ridership Data Types and Non-Null Counts:")
print(fta_ridership_df.info()) # Get info for raw DataFrame

print("\nMissing Values in FTA Monthly Ridership:")
print(fta_ridership_df.isnull().sum()) # Count missing values per column

print("\nFirst 5 rows of FTA Monthly Ridership Data:")
print(fta_ridership_df.head())

In [ ]:
# --- Clean FTA Monthly Ridership Data ---
print("\n--- Cleaning FTA Monthly Ridership Data ---")
if fta_ridership_df is not None:
    fta_ridership_cleaned_df = fta_ridership_df.copy() # Create a copy to work on

    # 1. Filter to COTA's main fixed-route Motorbus service
    # This filter relies on the original column names.
    fta_ridership_cleaned_df = fta_ridership_cleaned_df[
        (fta_ridership_cleaned_df['Agency'] == 'Central Ohio Transit Authority') &
        (fta_ridership_cleaned_df['Mode'] == 'MB') &
        (fta_ridership_cleaned_df['TOS'] == 'DO') &
        (fta_ridership_cleaned_df['3 Mode'] == 'Bus')
    ].copy()

    if fta_ridership_cleaned_df.empty:
        print("Error: Could not find the main COTA Motorbus row. Check filtering conditions.")
        fta_ridership_cleaned_df = None # Set to None if filter results in empty DF
    else:
        print("Filtered to main COTA Motorbus service row.")
        fta_ridership_cleaned_df.drop_duplicates(inplace=True)


    if fta_ridership_cleaned_df is not None and not fta_ridership_cleaned_df.empty:
        # --- NEW: Strip whitespace from all column names immediately ---
        # This is CRITICAL if there are hidden spaces causing rename issues.
        fta_ridership_cleaned_df.columns = fta_ridership_cleaned_df.columns.str.strip()
        print("Stripped whitespace from column names.")

        # 2. Define the columns that are NOT dates (these are our id_vars)
        # Use the exact names from your initial inspection output after stripping
        non_date_id_cols_original = [
            'NTD ID', 'Legacy NTD ID', 'Agency', 'Mode/Type of Service Status', 'Reporter Type',
            'UACE CD', 'UZA Name', 'Mode', 'TOS', '3 Mode'
        ]
        # Identify the monthly ridership columns (which are value_vars)
        date_cols = [col for col in fta_ridership_cleaned_df.columns if col not in non_date_id_cols_original]
        print(f"Identified {len(date_cols)} date columns and {len(non_date_id_cols_original)} ID columns.")

        # 3. Rename non-date columns for cleanliness *before* melting
        # This must happen before melt so melt gets the clean names in id_vars
        fta_ridership_cleaned_df = fta_ridership_cleaned_df.rename(columns={
            'NTD ID': 'ntd_id',
            'Legacy NTD ID': 'legacy_ntd_id',
            'Agency': 'agency_name',
            'Mode/Type of Service Status': 'service_status', # This mapping should now work
            'Reporter Type': 'reporter_type',
            'UACE CD': 'uace_cd',
            'UZA Name': 'uza_name',
            'Mode': 'mode_code',
            'TOS': 'type_of_service_code',
            '3 Mode': 'mode_description'
        })
        print("Base columns renamed.")

        # 4. Melt the DataFrame from wide to long format
        # id_vars are the *newly renamed* columns
        fta_ridership_long_df = fta_ridership_cleaned_df.melt(
            id_vars=['ntd_id', 'legacy_ntd_id', 'agency_name', 'service_status', 'reporter_type',
                     'uace_cd', 'uza_name', 'mode_code', 'type_of_service_code', 'mode_description'], # Use the clean, new names here
            value_vars=date_cols, # Date columns remain as identified
            var_name='date_month_year',
            value_name='ridership'
        )
        print("DataFrame melted from wide to long format.")

        # 5. Convert 'date_month_year' to datetime objects
        fta_ridership_long_df['date'] = pd.to_datetime(fta_ridership_long_df['date_month_year'], format='%m/%Y')
        print("Date column created from month/year string.")

        # 6. Convert ridership to integer, coercing errors to NaN and filling with 0
        fta_ridership_long_df['ridership'] = pd.to_numeric(fta_ridership_long_df['ridership'], errors='coerce').fillna(0).astype(int)
        print("Ridership column converted to integer and NaNs filled.")

        # 7. Select final columns and sort
        fta_ridership_cleaned_df = fta_ridership_long_df[[
            'agency_name', 'mode_description', 'date', 'ridership', 'uza_name'
        ]].sort_values(by='date').reset_index(drop=True).copy()
        
        print("\n--- FTA Monthly Ridership Data Cleaned ---")
        print("Cleaned FTA Monthly Ridership DataFrame Info:")
        print(fta_ridership_cleaned_df.info())
        print("\nCleaned FTA Monthly Ridership Head:")
        print(fta_ridership_cleaned_df.head())
        print("\nCleaned FTA Monthly Ridership Tail (last 5 rows):")
        print(fta_ridership_cleaned_df.tail())

else:
    print("FTA Monthly Ridership DataFrame not loaded or filtered to empty. Cleaning skipped.")

## Merging data

#### Standardize GeoIDs

In [ ]:
# --- Standardize Geographic IDs for Merging ---
print("\n--- Standardizing Geographic IDs across Census DataFrames ---")

# List of cleaned Census DataFrames
census_dfs = {
    "decennial_dhc_p1": decennial_dhc_p1_cleaned_df,
    "acs_s0101": acs_s0101_cleaned_df,
    "acs_b08141": acs_b08141_cleaned_df,
    "acs_b08101": acs_b08101_cleaned_df,
    "acs_b08119": acs_b08119_cleaned_df,
    "acs_b08122": acs_b08122_cleaned_df,
}

for name, df in census_dfs.items():
    if df is not None and 'geo_id' in df.columns:
        # The 'geo_id' from data.census.gov is typically '1400000US39049XXXXXX' for tracts.
        # We want to standardize it to just the FIPS code for the tract (e.g., '39049XXXXXX')
        # or the simpler tract identifier. For now, let's remove '1400000US'.
        df['geo_id'] = df['geo_id'].astype(str).str.replace('1400000US', '')
        print(f"Standardized 'geo_id' in {name}_cleaned_df. Example: {df['geo_id'].iloc[0]}")
    else:
        print(f"Warning: {name}_cleaned_df not loaded or missing 'geo_id'. Skipping standardization.")

print("\n--- Geo ID Standardization Complete ---")

In [ ]:
# --- Merge All Cleaned Census DataFrames ---
print("\n--- Merging Cleaned Census DataFrames (with Dynamic Duplicate Handling) ---")

# Start with Decennial DHC2020.P1 as the base DataFrame
merged_census_df = decennial_dhc_p1_cleaned_df.copy()
print(f"Starting merge with decennial_dhc_p1_cleaned_df. Shape: {merged_census_df.shape}")

# List of other Census DataFrames to merge
other_census_dfs = {
    "acs_s0101": acs_s0101_cleaned_df,
    "acs_b08141": acs_b08141_cleaned_df,
    "acs_b08101": acs_b08101_cleaned_df,
    "acs_b08119": acs_b08119_cleaned_df,
    "acs_b08122": acs_b08122_cleaned_df,
}

# Define the common 'commute_total' columns that might cause duplicates
# These are the columns we want to keep only from our chosen source (B08141)
common_commute_totals = [
    'commute_drove_alone_total',
    'commute_carpooled_total',
    'commute_public_transit_total',
    'commute_walked_total',
    'commute_worked_from_home_total',
    'commute_other_means_total'
]

# Perform sequential merges
for name, df_to_merge in other_census_dfs.items():
    if df_to_merge is not None and 'geo_id' in df_to_merge.columns:
        df_to_merge_clean = df_to_merge.copy() # Work on a copy for this merge iteration

        # 1. Drop 'geographic_area_name' from df_to_merge_clean if present in both
        if 'geographic_area_name' in df_to_merge_clean.columns and 'geographic_area_name' in merged_census_df.columns:
            df_to_merge_clean = df_to_merge_clean.drop(columns=['geographic_area_name'])
        
        # 2. Dynamically drop common 'commute_total' columns from df_to_merge_clean
        # if they are already present in merged_census_df (the left DataFrame).
        # This ensures B08141's versions of these columns are kept if B08141 merges first.
        cols_to_drop_from_right = [col for col in common_commute_totals if col in merged_census_df.columns and col in df_to_merge_clean.columns]
        if cols_to_drop_from_right:
            df_to_merge_clean = df_to_merge_clean.drop(columns=cols_to_drop_from_right)
            print(f"  - Dropped duplicate general commute totals from {name}_cleaned_df: {cols_to_drop_from_right}")

        # Perform the merge
        initial_cols = merged_census_df.shape[1]
        merged_census_df = pd.merge(merged_census_df, df_to_merge_clean, on='geo_id', how='left')
        final_cols = merged_census_df.shape[1]
        
        print(f"Merged {name}_cleaned_df. Added {final_cols - initial_cols} columns. New shape: {merged_census_df.shape}")
        
        # After merge, check for *unexpected* duplicates (should be none with this logic)
        duplicates = merged_census_df.columns[merged_census_df.columns.duplicated()].tolist()
        if duplicates:
            print(f"Warning: Unexpected duplicate columns detected after merging {name}: {duplicates}")
    else:
        print(f"Warning: {name}_cleaned_df not loaded or missing 'geo_id'. Skipping merge for this DataFrame.")

print("\n--- Census DataFrames Merged ---")
print("Merged Census DataFrame Info:")
print(merged_census_df.info())
print("\nMerged Census DataFrame Head:")
print(merged_census_df.head())
print("\nMissing values in Merged Census DataFrame after merge:")
print(merged_census_df.isnull().sum())

In [ ]:
# --- Inspect CRS of MORPC TAZ Data ---
print("\n--- Inspecting MORPC TAZ GeoDataFrame CRS ---")
print(morpc_taz_cleaned_gdf.crs)

In [ ]:
# --- Inspect CRS of COTA Bus Stops Data ---
print("\n--- Inspecting COTA Bus Stops GeoDataFrame CRS ---")
print(cota_stops_gdf.crs)

In [ ]:
# --- Reproject COTA Bus Stops Data to match TAZ CRS ---
print("\n--- Reprojecting COTA Bus Stops Data ---")
if cota_stops_gdf is not None:
    # Ensure current CRS is known before reprojecting
    print(f"Original COTA Stops CRS: {cota_stops_gdf.crs}")
    
    # Reproject to EPSG:3735 (matching MORPC TAZ data)
    cota_stops_gdf = cota_stops_gdf.to_crs(epsg=3735)
    
    print(f"New COTA Stops CRS: {cota_stops_gdf.crs}")
    print("\nReprojection complete for COTA Bus Stops.")
else:
    print("COTA Bus Stops GeoDataFrame not loaded. Reprojection skipped.")

In [ ]:
import os
import glob # Used for finding files matching a pattern

# --- Load and Inspect ALL Census Tract Boundaries (ROBUST 2020 FILTERING) ---
print("\n--- Loading and Inspecting Census Tract Boundaries (from multiple files) ---")

# Define the base directory where your individual tract shapefile sets are
# IMPORTANT: Verify this path. It should be 'Tract_Shapefiles' with an 's'
census_tract_shapefile_dir = "../data/US_Census/Tract_Shapefiles/" # <--- VERIFY THIS PATH (Added 's')

# Use glob to find all .shp files for tracts in Franklin County.
# This pattern is more general to catch variations (e.g., tl_2020_39049_tract10.shp, tl_2020_39049_001.shp, etc.)
# We'll filter to 2020 data specifically later.
shp_files = glob.glob(os.path.join(census_tract_shapefile_dir, "tl_2020_39049_*.shp")) # More general pattern

# Check if any files were found
if not shp_files:
    print(f"Error: No .shp files found in {census_tract_shapefile_dir} matching 'tl_2020_39049_*.shp'.")
    print("Please ensure your individual tract shapefiles are correctly unzipped in this folder and the path is correct.")
    census_tracts_gdf = None
else:
    print(f"Found {len(shp_files)} potential Census Tract shapefiles matching pattern.")
    
    list_of_gdfs = []
    for shp_file in shp_files:
        try:
            gdf_part = gpd.read_file(shp_file)
            list_of_gdfs.append(gdf_part)
        except Exception as e:
            print(f"  - Error loading {os.path.basename(shp_file)}: {e}")
    
    if list_of_gdfs:
        # Concatenate all individual GeoDataFrames into one
        census_tracts_gdf = pd.concat(list_of_gdfs).reset_index(drop=True)
        print("\nAll individual Census Tract GeoDataFrames concatenated.")
        
        # --- DEBUG: See ALL columns after concatenation ---
        print("\n--- DEBUG: Census Tracts GDF Columns AFTER Concatenation ---")
        print(census_tracts_gdf.columns.tolist())
        print("--- END DEBUG ---")

        # --- IMPORTANT: Filter to ONLY 2020 Census Tracts for Franklin County ---
        # The TIGER/Line files often have STATEFP/COUNTYFP/GEOID columns indicating FIPS codes.
        # For 2020 tracts, these are typically STATEFP20, COUNTYFP20, GEOID20.
        # Ohio FIPS: 39, Franklin County FIPS: 049
        
        # Ensure FIPS columns are strings for consistent comparison
        if 'STATEFP20' in census_tracts_gdf.columns:
            census_tracts_gdf['STATEFP20'] = census_tracts_gdf['STATEFP20'].astype(str)
        if 'COUNTYFP20' in census_tracts_gdf.columns:
            census_tracts_gdf['COUNTYFP20'] = census_tracts_gdf['COUNTYFP20'].astype(str)
        
        # Filter for 2020 data AND for Franklin County (39049)
        if 'GEOID20' in census_tracts_gdf.columns and 'STATEFP20' in census_tracts_gdf.columns and 'COUNTYFP20' in census_tracts_gdf.columns:
            initial_count = len(census_tracts_gdf)
            census_tracts_gdf = census_tracts_gdf[
                (census_tracts_gdf['STATEFP20'] == '39') &
                (census_tracts_gdf['COUNTYFP20'] == '049')
            ].copy()
            print(f"Filtered to {len(census_tracts_gdf)} features (originally {initial_count}) representing 2020 Franklin County Tracts.")
        else:
            print("Warning: Missing STATEFP20/COUNTYFP20/GEOID20 for filtering. Proceeding without specific 2020 filtering.")
            # If these columns are missing, we can't definitively filter to 2020 Franklin County here.
            # We will proceed with whatever was loaded and rely on GEOID cleanup later.

    else:
        print("No Census Tract GeoDataFrames were successfully loaded for concatenation.")
        census_tracts_gdf = None


if census_tracts_gdf is not None:
    print(f"\nCombined Census Tract Boundaries loaded. Total features: {len(census_tracts_gdf)}")
    print(f"Original CRS: {census_tracts_gdf.crs}")

    # --- Reproject Census Tracts to EPSG:3735 if needed ---
    if census_tracts_gdf.crs != 'EPSG:3735':
        print(f"\nReprojecting Census Tract Boundaries from {census_tracts_gdf.crs} to EPSG:3735...")
        census_tracts_gdf = census_tracts_gdf.to_crs(epsg=3735)
        print(f"New Census Tract Boundaries CRS: {census_tracts_gdf.crs}")
    else:
        print("\nCensus Tract Boundaries are already in EPSG:3735. No reprojection needed.")

    # --- Standardize and Select Final Columns ---
    # We will prioritize GEOID20 and NAME20 for 2020 Census Tracts.
    cols_to_keep_from_tract_shapefile = ['GEOID20', 'NAME20', 'geometry']
    
    # Filter to keep only the intersection of existing and desired columns
    census_tracts_gdf = census_tracts_gdf[census_tracts_gdf.columns.intersection(cols_to_keep_from_tract_shapefile)].copy()
    
    # Rename columns for consistency
    census_tracts_gdf = census_tracts_gdf.rename(columns={
        'GEOID20': 'geo_id', # This will match our merged_census_df 'geo_id'
        'NAME20': 'tract_name' # A more specific name than 'geographic_area_name'
    })
    print("Census Tracts columns standardized and renamed.")


    print("\n--- Census Tract Boundaries Loaded and Standardized ---")
    print("Cleaned Census Tract Boundaries GeoDataFrame Info:")
    print(census_tracts_gdf.info())
    print("\nCleaned Census Tract Boundaries Head:")
    print(census_tracts_gdf.head())

else:
    print("Census Tract Boundaries GeoDataFrame not loaded or empty after filtering. Skipping standardization.")

In [ ]:
# --- Merge Tabular Census Data with Census Tract Boundaries ---
print("\n--- Merging Tabular Census Data with Boundaries ---")

if merged_census_df is not None and census_tracts_gdf is not None:
    # Perform a left merge from the geographical data to the tabular data.
    # This keeps all Census Tract geometries and adds their demographic data.
    # We merge on the standardized 'geo_id' column.
    initial_cols = census_tracts_gdf.shape[1]
    final_census_gdf = pd.merge(census_tracts_gdf, merged_census_df, on='geo_id', how='left')
    final_cols = final_census_gdf.shape[1]

    print(f"Merged Census Tract boundaries with tabular demographic data.")
    print(f"Added {final_cols - initial_cols} columns. New shape: {final_census_gdf.shape}")

    # Check for missing values after merge (should be none if joins were perfect)
    missing_after_merge = final_census_gdf.isnull().sum()
    if missing_after_merge.any():
        print("\nWarning: Missing values detected after merging (this can happen if some geo_ids didn't match).")
        print(missing_after_merge[missing_after_merge > 0]) # Print only columns with missing data
        # Fill numerical NaNs with 0 and object NaNs with 'Unknown'.
        for col in final_census_gdf.columns:
            if final_census_gdf[col].dtype in ['int64', 'float64', 'int32']:
                final_census_gdf[col] = final_census_gdf[col].fillna(0)
            elif final_census_gdf[col].dtype == 'object' and col != 'geo_id':
                final_census_gdf[col] = final_census_gdf[col].fillna('Unknown')
        print("Filled missing values introduced by merge.")
        
    print("\n--- Final Census GeoDataFrame Created ---")
    print("Final Census GeoDataFrame Info:")
    print(final_census_gdf.info())
    print("\nFinal Census GeoDataFrame Head:")
    print(final_census_gdf.head())
    print("\nFinal Census GeoDataFrame Tail:") # Check last few rows too
    print(final_census_gdf.tail())

else:
    print("One or both Census DataFrames not loaded for merging. Skipping final merge.")

In [ ]:
# --- Spatially Join MORPC TAZs with Final Census Data ---
print("\n--- Spatially Joining TAZs with Census Tract Demographics ---")

if morpc_taz_cleaned_gdf is not None and final_census_gdf is not None:
    # Ensure both GeoDataFrames have valid geometries
    if not morpc_taz_cleaned_gdf.geometry.is_valid.all():
        morpc_taz_cleaned_gdf.geometry = morpc_taz_cleaned_gdf.geometry.buffer(0) # Fix invalid geometries if any
        print("Fixed invalid geometries in morpc_taz_cleaned_gdf.")
    if not final_census_gdf.geometry.is_valid.all():
        final_census_gdf.geometry = final_census_gdf.geometry.buffer(0) # Fix invalid geometries if any
        print("Fixed invalid geometries in final_census_gdf.")

    # Perform a spatial join (sjoin) to find which Census Tract each TAZ falls within.
    # We'll use 'intersects' as the predicate to catch any overlap, not just containment.
    # 'how=left' keeps all TAZs and adds Census data where they intersect.

    # Before joining, identify columns in final_census_gdf that would be duplicates and rename them
    # This avoids generic '_right' suffixes.
    # 'geo_id' is the join key, 'geometry' is special. 'geographic_area_name' and 'tract_name' overlap.
    cols_to_rename_in_census_before_join = {
        'geographic_area_name': 'census_geographic_area_name',
        'tract_name': 'census_tract_name' # Rename to distinguish from potential TAZ 'name' or just keep specific
    }
    # Apply renaming only if the columns exist (they should, but for robustness)
    census_for_join_gdf = final_census_gdf.rename(columns={k:v for k,v in cols_to_rename_in_census_before_join.items() if k in final_census_gdf.columns})
    
    # Drop the original 'geographic_area_name' and 'tract_name' from TAZs if they exist and are not needed
    # This might happen if TAZs had a 'NAME' column.
    # For now, let's proceed and see if duplicates cause issues in the sjoin result.

    # Perform the spatial join
    # A 'left' join ensures all TAZs are kept. The 'right' side is the Census Tracts.
    taz_with_census_gdf = gpd.sjoin(
        morpc_taz_cleaned_gdf, 
        census_for_join_gdf, # Use the renamed census GeoDataFrame
        how="left", 
        predicate="intersects"
    )
    print("Spatial join of TAZs with Census Tracts complete.")
    print(f"Initial TAZs: {len(morpc_taz_cleaned_gdf)}. Joined TAZs: {len(taz_with_census_gdf)}")

    # Some TAZs might intersect with multiple Census Tracts.
    # This will result in duplicate TAZ_IDs. We need to decide how to handle these.
    # For simplicity, let's keep the first match (e.g., based on area of intersection, or just first row).
    # A common simple approach is to drop duplicates on the TAZ_ID.
    initial_rows = len(taz_with_census_gdf)
    taz_with_census_gdf.drop_duplicates(subset=['taz_id'], inplace=True)
    print(f"Dropped duplicate TAZs from spatial join (if a TAZ intersected multiple tracts). Remaining TAZs: {len(taz_with_census_gdf)} (from {initial_rows}).")

    # Check for missing values introduced by the spatial join (where TAZs might not intersect a tract)
    missing_after_sjoin = taz_with_census_gdf.isnull().sum()
    if missing_after_sjoin.any():
        print("\nWarning: Missing values detected after spatial join (some TAZs might not have intersected a Census Tract).")
        print(missing_after_sjoin[missing_after_sjoin > 0])
        # Fill numerical NaNs with 0 and object NaNs with 'Unknown'.
        for col in taz_with_census_gdf.columns:
            if taz_with_census_gdf[col].dtype in ['int64', 'float64', 'int32']:
                taz_with_census_gdf[col] = taz_with_census_gdf[col].fillna(0)
            elif taz_with_census_gdf[col].dtype == 'object' and col != 'taz_id': # Exclude taz_id itself
                taz_with_census_gdf[col] = taz_with_census_gdf[col].fillna('Unknown')
        print("Filled missing values introduced by spatial join.")

    print("\n--- TAZs Enriched with Census Data ---")
    print("TAZs with Census Data GeoDataFrame Info:")
    print(taz_with_census_gdf.info())
    print("\nTAZs with Census Data Head:")
    print(taz_with_census_gdf.head())
    print("\nTAZs with Census Data Tail:")
    print(taz_with_census_gdf.tail())

else:
    print("One or both GeoDataFrames not loaded for spatial join. Skipping.")

In [ ]:
# --- Spatially Join COTA Bus Stops with Census Tracts ---
print("\n--- Spatially Joining COTA Bus Stops with Census Tracts ---")

if cota_stops_gdf is not None and final_census_gdf is not None:
    # Ensure both GeoDataFrames have valid geometries and are in the same CRS.
    # We reprojected cota_stops_gdf to EPSG:3735 already.
    # final_census_gdf has geometry from the tracts shapefile, which was also reprojected.
    if cota_stops_gdf.crs != final_census_gdf.crs:
        print(f"Warning: CRSs do not match! COTA: {cota_stops_gdf.crs}, Census: {final_census_gdf.crs}")
        print("Attempting to reproject COTA stops to match Census CRS (EPSG:3735).")
        cota_stops_gdf = cota_stops_gdf.to_crs(final_census_gdf.crs).copy()
    
    # Fix invalid geometries if any (though usually not an issue with points/simple polygons)
    if not cota_stops_gdf.geometry.is_valid.all():
        cota_stops_gdf.geometry = cota_stops_gdf.geometry.buffer(0)
        print("Fixed invalid geometries in cota_stops_gdf.")
    if not final_census_gdf.geometry.is_valid.all():
        final_census_gdf.geometry = final_census_gdf.geometry.buffer(0)
        print("Fixed invalid geometries in final_census_gdf.")

    # Perform a spatial join (sjoin) to find which Census Tract each COTA stop falls within.
    # 'op="within"' means the stop's geometry must be entirely within the tract's geometry.
    # 'how="left"' keeps all COTA stops and adds Census Tract data where they fall within a tract.
    
    # Before join, rename 'geo_id' in final_census_gdf for clarity after join
    # It will become index_right, then the actual geo_id from Census will be added
    # No, it's better to keep geo_id from final_census_gdf
    
    # The left dataframe (stops) will retain its columns. The right (census) will add its.
    # We might have duplicate column names if not careful (e.g., 'geographic_area_name').
    # Let's ensure the census_for_join_gdf has 'geo_id' and 'geographic_area_name' and the rest of census data.
    # It already does (final_census_gdf has everything).

    cota_stops_with_tracts_gdf = gpd.sjoin(
        cota_stops_gdf, 
        final_census_gdf[['geo_id', 'tract_name', 'geometry'] + [col for col in final_census_gdf.columns if col not in ['geo_id', 'tract_name', 'geometry']]],
        how="left", 
        predicate="within" # A stop should be *within* a tract.
    )
    print("Spatial join of COTA Stops with Census Tracts complete.")
    print(f"Initial COTA Stops: {len(cota_stops_gdf)}. Joined COTA Stops: {len(cota_stops_with_tracts_gdf)}")

    # Check for missing values introduced by the spatial join (stops outside any tract)
    missing_after_sjoin_stops = cota_stops_with_tracts_gdf.isnull().sum()
    if missing_after_sjoin_stops.any():
        print("\nWarning: Missing values detected after spatial join (some COTA stops might not fall within a Census Tract).")
        print(missing_after_sjoin_stops[missing_after_sjoin_stops > 0])
        # Fill numerical NaNs with 0 and object NaNs with 'Unknown'.
        for col in cota_stops_with_tracts_gdf.columns:
            if cota_stops_with_tracts_gdf[col].dtype in ['int64', 'float64', 'int32']:
                cota_stops_with_tracts_gdf[col] = cota_stops_with_tracts_gdf[col].fillna(0)
            elif cota_stops_with_tracts_gdf[col].dtype == 'object' and col != 'stop_id': # Exclude stop_id itself
                cota_stops_with_tracts_gdf[col] = cota_stops_with_tracts_gdf[col].fillna('Unknown')
        print("Filled missing values introduced by spatial join.")

    print("\n--- COTA Bus Stops Enriched with Census Data ---")
    print("COTA Bus Stops with Census Data GeoDataFrame Info:")
    print(cota_stops_with_tracts_gdf.info())
    print("\nCOTA Bus Stops with Census Data Head:")
    print(cota_stops_with_tracts_gdf.head())

else:
    print("One or both GeoDataFrames not loaded for spatial join. Skipping.")

In [ ]:
# --- Spatially Join Columbus Building Permits with TAZs and Aggregate ---
print("\n--- Spatially Joining Building Permits with TAZs and Aggregating ---")

if columbus_permits_cleaned_gdf is not None and taz_with_census_gdf is not None:
    # Ensure both GeoDataFrames are in the same CRS (EPSG:3735).
    # columbus_permits_cleaned_gdf was reprojected in its cleaning step to 3735.
    # taz_with_census_gdf is also in 3735.
    if columbus_permits_cleaned_gdf.crs != taz_with_census_gdf.crs:
        print(f"Warning: CRSs do not match for permits/TAZ! Permits: {columbus_permits_cleaned_gdf.crs}, TAZ: {taz_with_census_gdf.crs}")
        print("Attempting to reproject Building Permits to match TAZ CRS (EPSG:3735).")
        columbus_permits_cleaned_gdf = columbus_permits_cleaned_gdf.to_crs(taz_with_census_gdf.crs).copy()
    
    # Ensure geometries are valid before joining
    if not columbus_permits_cleaned_gdf.geometry.is_valid.all():
        columbus_permits_cleaned_gdf.geometry = columbus_permits_cleaned_gdf.geometry.buffer(0)
        print("Fixed invalid geometries in columbus_permits_cleaned_gdf.")
    if not taz_with_census_gdf.geometry.is_valid.all():
        taz_with_census_gdf.geometry = taz_with_census_gdf.geometry.buffer(0)
        print("Fixed invalid geometries in taz_with_census_gdf.")

    # Perform a spatial join (sjoin) to find which TAZ each permit falls within.
    # 'predicate="within"' means the permit's point geometry must be entirely within the TAZ's polygon.
    # 'how="left"' keeps all permits and adds the TAZ_ID they fall into.
    permits_with_taz_gdf = gpd.sjoin(
        columbus_permits_cleaned_gdf, 
        taz_with_census_gdf[['taz_id', 'geometry']], # Only need TAZ_ID and geometry from TAZs for the join
        how="left", 
        predicate="within"
    )
    print("Spatial join of Building Permits with TAZs complete.")
    print(f"Initial Permits: {len(columbus_permits_cleaned_gdf)}. Joined Permits: {len(permits_with_taz_gdf)}")

    # Handle permits that might not fall within any TAZ (resulting in NaN for taz_id)
    missing_taz_for_permits = permits_with_taz_gdf['taz_id'].isnull().sum()
    if missing_taz_for_permits > 0:
        print(f"Warning: {missing_taz_for_permits} Building Permits did not fall within any TAZ.")
        # For permits not in a TAZ, we can either drop them or assign 'Unknown' to taz_id.
        # For aggregation, it's often best to drop them if they are truly outside the study area.
        permits_with_taz_gdf = permits_with_taz_gdf.dropna(subset=['taz_id']).copy()
        print(f"Dropped {missing_taz_for_permits} permits that did not fall within a TAZ. Remaining permits: {len(permits_with_taz_gdf)}.")
    
    # 2. Aggregate Permit Data by TAZ
    # We want to count permits, sum declared values, sum units per TAZ.
    # Ensure numerical columns are correctly handled for aggregation (fillna 0 if any NaNs exist)
    agg_permits_by_taz = permits_with_taz_gdf.groupby('taz_id').agg(
        total_permits_count=('permit_id', 'count'),
        total_declared_value=('declared_value', 'sum'),
        total_square_footage=('square_footage', 'sum'),
        total_units_added=('num_units', 'sum')
    ).reset_index()
    print("Building Permits aggregated by TAZ.")

    # Convert taz_id in aggregated dataframe to string for merging (if not already)
    agg_permits_by_taz['taz_id'] = agg_permits_by_taz['taz_id'].astype(str)

    # 3. Merge aggregated permit data back into taz_with_census_gdf
    # This will add the permit summary statistics to each TAZ.
    initial_taz_cols = taz_with_census_gdf.shape[1]
    taz_with_all_data_gdf = pd.merge(
        taz_with_census_gdf, 
        agg_permits_by_taz, 
        on='taz_id', 
        how='left' # Keep all TAZs, even if they have no permits
    )
    final_taz_cols = taz_with_all_data_gdf.shape[1]
    
    print(f"Aggregated permit data merged into TAZs. Added {final_taz_cols - initial_taz_cols} columns.")
    
    # Fill NaN values introduced by the merge (TAZs with no permits will have NaN for permit counts/sums)
    for col in agg_permits_by_taz.columns:
        if col != 'taz_id' and taz_with_all_data_gdf[col].isnull().any():
            taz_with_all_data_gdf[col] = taz_with_all_data_gdf[col].fillna(0)
    print("Filled NaNs for TAZs with no permits.")

    print("\n--- TAZs Enriched with All Data (Census + Permits) ---")
    print("Final TAZs GeoDataFrame Info:")
    print(taz_with_all_data_gdf.info())
    print("\nFinal TAZs GeoDataFrame Head:")
    print(taz_with_all_data_gdf.head())
    print("\nFinal TAZs GeoDataFrame Tail:")
    print(taz_with_all_data_gdf.tail())

else:
    print("One or both GeoDataFrames not loaded for spatial join/aggregation. Skipping.")